﻿@using eShop.WebUI.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
   // Layout =null;
}
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4" style="margin-top:90px">
    <div class="well no-padding">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal smart-form client-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <header>
                    Sign In
                </header>
                <fieldset>
                    <section>
                        @Html.LabelFor(m => m.UserName, new { @class = "label" })
                        <label class="input">
                            <i class="icon-append fa fa-user"></i>
                            @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Enter User Name" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>@Html.ValidationMessageFor(m => m.UserName)</b>
                        </label>
                    </section>
                    <section>
                        <label class="label"> @Html.LabelFor(m => m.Password)</label>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            @Html.PasswordFor(m => m.Password, new { @placeholder = "Enter Passoword" })
                            <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>@Html.ValidationMessageFor(m => m.Password)</b>
                        </label>
                    </section>
                    <section>
                        <label class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            <i></i>Stay signed in
                        </label>
                    </section>
                </fieldset>
                <footer>
                    <button type="submit" class="btn btn-primary">
                        Sign in
                    </button>
                </footer>
            }
    </div>
    @*<h5 class="text-center"> - Or sign in using -</h5>*@
    @*<ul class="list-inline text-center">
        <li>
            <a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
        </li>
    </ul>*@
</div>