﻿
@{
    ViewBag.Title = "RolePermission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/js/plugin/jstree/dist/themes/default/style.min.css" rel="stylesheet" />
}
<!-- widget content -->
<div class="widget-body">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <h3 class="text-center "><span class="label label-primary">Active menu for @ViewBag.Name ()</span></h3>
                            <div class="clearfix"></div>
                            <div id="tree_2" class="tree-demo"> </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button id="btnSaveRole" class="btn btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>
<!-- END MAIN PANEL -->

@section Scripts{

    <script src="~/js/plugin/jstree/dist/jstree.min.js"></script>
    @*<script src="~/assets/pages/scripts/ui-tree.js" type="text/javascript"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {

            var selarray = [];
            var marray = [];
            $.ajax({
                method: "GET",
                url: baseUrl + "AspNetRole/GetRolePermission/@ViewBag.Id",
                data: {}
            })
          .done(function (res) {
              marray = res;
              $('#tree_2').jstree({
                  'plugins': ["wholerow", "checkbox", "types"],
                  'core': {
                      "themes": {
                          "responsive": false
                      },
                      'data': res
                  },
                  "types": {
                      "default": {
                          "icon": "fa fa-folder icon-state-warning icon-lg"
                      },
                      "file": {
                          "icon": "fa fa-file icon-state-warning icon-lg"
                      }
                  }
              }).on('changed.jstree', function (e, data) {
                 // console.log(data);

                  var i, j, r = [];
                  for (i = 0, j = data.selected.length; i < j; i++) {
                      r.push(data.instance.get_node(data.selected[i]).id);
                      //console.log(r);
                      //r.push(data.node.parent);
                  }
                  selarray = r;
              });
          });

            $(document).on("click", "#btnSaveRole", function () {

                //console.log(selarray.length);
                $.ajax({
                    method: "POST",
                    dataType: 'json',
                    traditional: true,
                    contentType: 'application/json',
                    url: baseUrl + "AspNetRole/AddRolePermission/@ViewBag.id",
                    data:  JSON.stringify(selarray)
                })
                  .done(function (res) {
                      toastr["info"]("Save Successfully.");
                  });
            });
        });
    </script>
}


