﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "RolesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- widget content -->
<div class="widget-body" ng-controller="RolesCrtl">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Roles List</h2>
                        <button class="btn btn-default pull-right btn-success" data-toggle="modal" data-target="#addmodal">
                            <i class="fa fa-plus"></i> <span class="hidden-mobile">Add New</span>
                        </button>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="table-container">
                                <div id="sample_3_wrapper" class="dataTables_wrapper no-footer">
                                    <div class="row">
                                        <div class="col-md-4 pull-left">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label for="search" class="control-label">Items:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 pull-right">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label for="search" class="control-label">Search:</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="table-scrollable"> </div>
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Role Name</th>
                                                <th>Permission</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-show="AspNetRoles.length <= 0"><td colspan="5" style="text-align:center;"><i class="fa fa-refresh"></i> Loading new data!!</td></tr>
                                            <tr dir-paginate="item in  AspNetRoles| filter:q  | itemsPerPage: pageSize" current-page="currentPage">
                                                <td>{{item.Name}}</td>
                                                <td><a href="~/Account/RolePermission?RoleId={{item.Id}}" class="label label-sm label-info"> View </a></td>
                                                <td>
                                                    <a href="javascript:;" class="btn btn-icon-only green" ng-click="edit(item)" data-target="#addmodal" data-toggle="modal">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a ng-click="deleterole(item)" href="javascript:;" class="btn btn-icon-only red">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-sm-6 pull-right">
                                            <dir-pagination-controls max-size="8"
                                                                     direction-links="true"
                                                                     boundary-links="true">
                                            </dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
    <!--Modal Area Start-->
    <div id="addmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">{{aemodalTitle}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">

                            <div class="form-group form-md-line-input" ng-class="{ 'has-error' : submitted && addform.name.$invalid}">
                                <label class="col-md-3 control-label" for="form_control_1">
                                    Role Name
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-9">
                                    <input type="text" ng-model="AspNetRole.Name" class="form-control" placeholder="Role Name" name="name" required>
                                    <div class="form-control-focus"> </div>
                                    <span ng-show="addform.name.$error.required" class="help-block">Role Name Required;</span>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline btn-success" ng-click="resetForm();submitted=false">Cancel</button>
                        <button type="submit" ng-click="submitted=true" class="btn green">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Area End-->

</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">
        app.controller("RolesCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', "SweetAlert",
            function ($scope, $http, $q, $timeout, AlertService, SweetAlert) {

                init();
                function init() {
                    initialize();
                    getRoles();

                }
                function initialize() {
                    $scope.aemodalTitle = "Add Roles";
                    $scope.rolename = '';
                    $scope.currentPage = 1;
                    $scope.pageno = 1;
                    $scope.pagesize = 10;
                    $scope.total_count = 12;
                    $scope.search = '';
                    $scope.AspNetRole = {};
                    $scope.AspNetRoles = [];
                    $scope.Id = '';
                    //$scope.getRoles = getRoles;
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                    $scope.submitted = false;
                }
                function resetForm() {
                    $scope.aemodalTitle = "Add Roles";
                    $scope.rolename = '';
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Id = '';
                }

                function getRoles() {
                    $scope.AspNetRoles = [];
                  
                    $http({
                        method: 'GET',
                        url: baseUrl + 'AspNetRole/GetAllAspNetRole/'
                    }).then(function successCallback(response) {
                        // this callback will be called asynchronously
                        // when the response is available
                        $scope.AspNetRoles = response.data.results;
                        // $scope.AspNetusers = response.data;
                    }, function errorCallback(response) {
                        // called asynchronously if an error occurs
                        // or server returns response with an error status.
                    });



                    //$scope.AspNetusers = $scope.data;
                    //console.log($scope.data.totalcount);
                    // $scope.totalcount = 3; //$scope.data.totalcount;
                }
                $scope.searchData = function () {
                    getRoles(1);
                    // $scope.total_count = 88;
                };
                $scope.edit = function (n) {
                    $scope.aemodalTitle = "Update Roles";
                    $scope.rolename = n.Name;
                    $scope.Id = n.Id;
                };
                $scope.save = function save() {

                 //  For Add
                            $http({
                                method: 'POST',
                                url: baseUrl + 'AspNetRole/AddAspNetRole/',
                                data: $scope.AspNetRole
                            }).then(function successCallback(response) {
                                $('#addmodal').modal('toggle');
                                getRoles();
                                toastr["info"](response.data.message);
                                resetForm();
                            }, function errorCallback(response) {
                            });

                };
                $scope.deleterole = function deleterole(n) {

                    // SweetAlert.swal("Good job!", "You clicked the button!", "success");
                    SweetAlert.swal({
                        title: "Are you sure to delete it ?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },
                        function (isConfirm) {


                            if (isConfirm) {
                                $http({
                                    method: 'DELETE',
                                    url: baseUrl + 'user/DeleteRoles/' + n.Id
                                }).then(function successCallback(response) {
                                    SweetAlert.swal("Deleted!", "Your data has been deleted.", "success");
                                    getRoles(1);
                                }, function errorCallback(response) {

                                });

                            }
                        });


                };

            }]);
     
    </script>
}
