﻿
@{
    ViewBag.Title = "UserCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- widget content -->
<div class="widget-body" ng-controller="RolesCrtl">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>User List</h2>
                        <button class="btn btn-default pull-right btn-success" data-toggle="modal" data-target="#addmodal">
                            <i class="fa fa-plus"></i> <span class="hidden-mobile">Add New</span>
                        </button>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-4 pull-left">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label for="search" class="control-label">Items:</label>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pull-right">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label for="search" class="control-label">Search:</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-inverse">
                                <thead>
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>User Name</th>
                                        <th>Role</th>
                                        @*<th>Image</th>*@
                                        <th>Status</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="AspNetusers.length <= 0"><td colspan="7" style="text-align:center;"><i class="fa fa-refresh"></i> Loading new data!!</td></tr>
                                    @*<tr ng-repeat="item in AspNetusers.results">*@
                                    <tr dir-paginate="item in AspNetusers| filter:q  | itemsPerPage: pageSize " current-page="currentPage">
                                        <td>{{item.FullName}}</td>
                                        <td>{{item.Email}}</td>
                                        <td>{{item.MobileNo}}</td>
                                        <td>{{item.UserName}}</td>
                                        <td>{{item.RoleName}}</td>
                                       @* <td><span ng-show="item.Image == null">No Image</span> <img ng-hide="item.Image == null" style="height:40px;width:40px" src="@String.Format("data:image/jpg;base64,{0}", "{{item.Image}}")" alt="{{item.Name}}"> </td>*@

                                        <td>
                                            <span ng-show="item.LockoutEnabled" class="label label-sm label-danger"> Locked </span>
                                            <span ng-show="!item.LockoutEnabled" class="label label-sm label-info"> Un-Locked </span>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                    Actions
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a ng-click="editrole(item)" href="javascript:;" data-toggle="modal" data-target="#rolemodal">
                                                            <i class="fa fa-key"></i> Edit Role
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a ng-click="reset(item)" href="javascript:;" data-toggle="modal" data-target="#resetmodal">
                                                            <i class="fa fa-key"></i> Reset Password
                                                        </a>
                                                    </li>
                                                    <li ng-show="!item.LockoutEnabled">
                                                        <a href="javascript:;" ng-click="lockuser(item.Id)">
                                                            <i class="icon-lock"></i> Lock User
                                                        </a>
                                                    </li>
                                                    <li ng-show="item.LockoutEnabled">
                                                        <a href="javascript:;" ng-click="unlockuser(item.Id)">
                                                            <i class="icon-lock"></i> Un-Lock User
                                                        </a>
                                                    </li>
                                                    @*@if (User.IsInRole("Super"))
                    {
                        <li>
                            <a href="javascript:;" ng-click="deleteuser(item.Id)">
                                <i class="icon-lock"></i> Delete User
                            </a>
                        </li>
                    }*@
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row ">
                                <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
    <!--Modal Area Start-->
    <div id="addmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="frmAdd" ng-submit="Save()" class="form-horizontal"  novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Add User</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-body">
                                        @*<div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-9">
                <input type="checkbox" ng-model="IsEmp" value="false">From Employee
                <span class="help-block">  </span>
            </div>
        </div>*@
                                        <div class="form-group" ng-show="IsEmp">
                                            <label class="col-md-3 control-label">Empolyee(Optional)</label>
                                            <div class="col-md-9">
                                                <input type="text" ng-model="Emp" typeahead-on-select='onSelect($item, $model, $label)' placeholder="Search Employee By ID or Name" uib-typeahead="emp  as emp.Text for emp in Search($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                <div ng-show="noResults">
                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' :submitted && frmAdd.FullName.$invalid}">
                                            <label class="col-md-3 control-label">
                                                Full Name
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" ng-model="Employee.FullName" id="FullName" name="FullName" class="form-control" placeholder="Full Name" required>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && frmAdd.FullName.$error.required" class="help-block">Full Name Required</span>
                                                <span class="help-block">  </span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' :submitted && frmAdd.UserName.$invalid}">
                                            <label class="col-md-3 control-label">
                                                User Name
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" ng-model="Employee.UserName" id="UserName" name="UserName" class="form-control" placeholder="User Name" required>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && frmAdd.UserName.$error.required" class="help-block">User Name Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' :submitted && frmAdd.Password.$invalid}">
                                            <label class="col-md-3 control-label">
                                                PassWord
                                            </label>
                                            <div class="col-md-9">
                                                <input type="password" ng-model="Employee.Password" id="Password" name="Password" class="form-control" placeholder="Password " required>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && frmAdd.Password.$error.required" class="help-block">Password Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' :submitted && frmAdd.Email.$invalid}">
                                            <label class="col-md-3 control-label">
                                                Email
                                            </label>
                                            <div class="col-md-9">
                                                <input type="email" ng-model="Employee.Email" name="Email" id="Email" class="form-control" placeholder="Email" required>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && frmAdd.Email.$error.required" class="help-block">Email Required</span>
                                                <span ng-show="submitted && frmAdd.Email.$error.email" class="help-block">Email Not Valid</span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' :submitted && frmAdd.MobileNo.$invalid}">
                                            <label class="col-md-3 control-label">
                                                Mobile No
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" ng-model="Employee.MobileNo" name="MobileNo" id="MobileNo" class="form-control" placeholder="Mobile No" required>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && frmAdd.MobileNo.$error.required" class="help-block">MobileNo Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' :submitted && frmAdd.version.$invalid}">
                                            <label class="col-md-3 control-label">
                                                Role
                                            </label>
                                            <div class="col-md-9">
                                                <select class="form-control" ng-model="Employee.Role" name="version" required ng-options="item.Name as item.Name for item in AspNetRoles">
                                                    <option value=''>Choose Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && frmAdd.version.$error.required" class="help-block">Role Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Image</label>
                                            <div class="col-md-9">
                                                <input type="file" class="form-control" id="img">
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && frmAdd.version.$error.required" class="help-block">Role Required</span>
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-9">
                                                <img ng-hide="item.Image == null" class=" img-thumbnail" style="height:40px;width:40px" src="@String.Format("data:image/jpg;base64,{0}", "{{item.Image}}")" alt="{{item.Name}}">
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="resetForm();submitted=false">Cancel</button>
                        <button type="submit" ng-click="submitted=true" class="btn green btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="resetmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="frmresetPass" ng-submit="ResetPassword()" class="form-horizontal"  novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Reset Password</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-body">


                                        <div class="form-group" ng-class="{ 'has-error' :submitted1 && frmresetPass.RPassword.$invalid}">
                                            <label class="col-md-3 control-label">
                                                New Password
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" ng-model="RPassword.Password" id="RPassword" name="RPassword" class="form-control" placeholder="New Password" required>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted1 && frmresetPass.RPassword.$error.required" class="help-block">New Password Required</span>
                                                <span class="help-block">  </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Send Notification</label>
                                            <div class="col-md-9">
                                                <input type="checkbox" ng-model="RPassword.IsEmail" /> By Email
                                                <input type="checkbox" ng-model="RPassword.IsSMS" /> By SMS
                                                <div class="form-control-focus"> </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline btn-success" ng-click="submitted1=false">Cancel</button>
                        <button type="submit" ng-click="submitted1=true" class="btn green">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="rolemodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="frmaddrole"class="form-horizontal"  novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Role Assaign</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-body">
                                        <div class="form-group" ng-class="{ 'has-error' :submitted2 && frmaddrole.Role.$invalid}">
                                            <label class="col-md-3 control-label">Role<span class="required">*</span></label>
                                            <div class="col-md-9">
                                                <select class="form-control" ng-model="Roles.Role" name="Role" required ng-options="item.Name as item.Name for item in AspNetRoles">
                                                    <option value=" " >Choose Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted2 && frmaddrole.Role.$error.required" class="help-block">Role Required</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline btn-success" ng-click="submitted2=false">Cancel</button>
                        <button type="submit" ng-click="submitted2=true;Addrole()"    class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Area End-->
</div>
<!-- END MAIN PANEL -->
@section Scripts{

    <script type="text/javascript">
        app.controller("RolesCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', "SweetAlert",
            function ($scope, $http, $q, $timeout, AlertService, SweetAlert) {
              init();
              function init() {
                  initialize();
                  getusers();
                  getRoles();
              }
              function initialize() {
                  $scope.aemodalTitle = "Add User";
                  $scope.username = '';

                  $scope.AspNetuser = {};
                  $scope.AspNetusers = [];
                  $scope.Id = '';
                  //$scope.getusers = getusers;
                  $scope.res = {};
                  $scope.data = {};
                  $scope.resetForm = resetForm;
                  $scope.Roles = {};
                  $scope.getRoles = getRoles;

                  $scope.pageSizeArray = [];
                  $scope.pageSizeArray.push({ value: 5, text: 5 });
                  $scope.pageSizeArray.push({ value: 10, text: 10 });
                  $scope.pageSizeArray.push({ value: 20, text: 20 });
                  $scope.pageSizeArray.push({ value: 50, text: 50 });
                  $scope.currentPage = 1;
                  $scope.pageSize = 10;

                  $scope.Employee = {};

                  $scope.RPassword = {};
                  $scope.RPassword.IsEmail = true;
                  $scope.RPassword.IsSMS = false;

                  $scope.ph_numbr = "/^\+?\d{11}$/";
              }
              function resetForm() {
                  $scope.aemodalTitle = "Add User";
                  $scope.username = '';

                  $scope.addform.$setPristine();
                  $scope.submitted = false;
                  $scope.Id = '';
              }

              function getusers(pageno) {
                  $scope.AspNetusers = [];
                  var searchtxt = $scope.search;
                  if ($scope.search == 'undefined' || $scope.search == '') {
                      searchtxt = 'null';
                  }
                  $scope.pageno = pageno;
                  $http({
                      method: 'GET',
                      url: baseUrl + 'AspNetUser/GetAllAspNetUser/'
                  }).then(function successCallback(response) {
                      // this callback will be called asynchronously
                      // when the response is available
                      $scope.AspNetusers = response.data.results;
                      // $scope.AspNetusers = response.data;
                      $scope.total_count = response.data.totalcount;
                      //console.log(response.data);

                  }, function errorCallback(response) {
                      // called asynchronously if an error occurs
                      // or server returns response with an error status.
                  });



                  //$scope.AspNetusers = $scope.data;
                  //console.log($scope.data.totalcount);
                  // $scope.totalcount = 3; //$scope.data.totalcount;
              }
              $scope.searchData = function () {
                  getusers(1);
                  // $scope.total_count = 88;
                };
                $scope.editrole = function (n) {
                    $scope.Roles.Role = n.Role;
                    $scope.Roles.Id = n.Id;
                }
              $scope.edit = function (n) {
                  $scope.aemodalTitle = "Update User";
                  $scope.username = n.Name;
                  $scope.Id = n.Id;
                  $scope.Employee = n;
              };
              $scope.reset = function (n) {

                  $scope.username = n.Name;
                  $scope.Id = n.Id;
                  $scope.RPassword.IsEmail = true;
                  $scope.RPassword.IsSMS = false;
              };

              $scope.deleteuser = function deleteuser(n) {

                  // SweetAlert.swal("Good job!", "You clicked the button!", "success");
                  SweetAlert.swal({
                      title: "Are you sure to delete it ? This user may have history ????", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                      confirmButtonText: "Yes, delete it!",
                      closeOnConfirm: false
                  },
                  function (isConfirm) {


                      if (isConfirm) {
                          $http({
                              method: 'POST',
                              url: baseUrl + 'Users/Delete/',
                              data: { id: n }
                          }).then(function successCallback(response) {
                              SweetAlert.swal("Deleted!", "Your data has been deleted.", "success");
                              getusers(1);
                          }, function errorCallback(response) {

                          });

                      }
                  });


              };

              $scope.lockuser = function lockuser(id) {

                  // SweetAlert.swal("Good job!", "You clicked the button!", "success");
                  SweetAlert.swal({
                      title: "Are you sure to lock this user?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                      confirmButtonText: "Yes, Lock User.",
                      closeOnConfirm: false
                  },
                  function (isConfirm) {
                      if (isConfirm) {
                          $http({
                              method: 'POST',
                              url: baseUrl + 'Account/LockUser/' + id
                          }).then(function successCallback(response) {
                              SweetAlert.swal("Locked!", "This user has been locked.", "success");
                              getusers(1);
                          }, function errorCallback(response) {

                          });

                      }
                  });
              };

              $scope.unlockuser = function lockuser(id) {
                  // SweetAlert.swal("Good job!", "You clicked the button!", "success");
                  SweetAlert.swal({
                      title: "Are you sure to unlock this user?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                      confirmButtonText: "Yes, Un-Lock User.",
                      closeOnConfirm: false
                  },
                  function (isConfirm) {
                      if (isConfirm) {
                          $http({
                              method: 'POST',
                              url: baseUrl + 'Account/UnLockUser/' + id
                          }).then(function successCallback(response) {
                              SweetAlert.swal("Locked!", "This user has been unlocked.", "success");
                              getusers();
                          }, function errorCallback(response) {

                          });

                      }
                  });


              };

              function getRoles() {
                  $scope.AspNetRoles = [];
                  $http({
                      method: 'GET',
                      url: baseUrl + 'AspNetRole/GetAllAspNetRole/'
                  }).then(function successCallback(response) {

                      $scope.AspNetRoles = response.data.results;


                  }, function errorCallback(response) {

                  });

              }

              $scope.Save = function Save() {
                  if ($scope.frmAdd.$invalid)
                      return;
                  if($scope.Emp != undefined)
                  $scope.Employee.EmpId = $scope.Emp.Value
                  var files = $("#img").get(0).files;
                  $http({
                      method: 'POST',
                      url: baseUrl + 'Account/NewUsers/',
                      headers: { 'Content-Type': undefined },
                      transformRequest: function (data) {
                          var formData = new FormData();
                          formData.append('userinfo', JSON.stringify($scope.Employee));
                          if (files.length > 0) {
                              formData.append("img", files[0]);
                          }
                          return formData;
                      },
                      data: { Employee: $scope.Employee}
                  }).then(function successCallback(response) {
                      if (response.data.HasError)
                          AlertService.warning(response.data.Message);
                      else {
                          AlertService.warning(response.data.Message);
                          getusers(1);
                          $scope.Employee = {};
                          $scope.Emp = {};
                          $scope.submitted = false;
                      }
                      $('#addmodal').modal('toggle');
                  });
              };
              $scope.ResetPassword = function ResetPassword() {
                  if ($scope.frmresetPass.$invalid)
                      return;
                  $http({
                      method: 'POST',
                      url: baseUrl + '/Account/ResetPassword?Password=' + $scope.RPassword.Password + "&id=" + $scope.Id,
                  }).then(function successCallback(response) {
                          getusers();
                      $scope.RPassword.Password = '';
                      $('#resetmodal').modal('toggle');
                  });
                };
                $scope.Addrole = function Addrole(n) {
                    if ($scope.frmaddrole.$invalid)
                        return;
                    $http({
                        method: 'POST',
                        url: baseUrl + "/Account/AddRole?Id=" + $scope.Roles.Id + "&Role=" + $scope.Roles.Role,
                    }).then(function successCallback(response) {
                        getusers();
                        $('#rolemodal').modal('toggle');
                        $scope.Roles.Role = '';
                    });
                };

              $scope.Search = function (val) {
                  return $http.get(baseUrl + 'Employee/SearchEmployee/' + val, {
                      params: {

                      }
                  }).then(function (response) {
                      return response.data.results.map(function (item) {
                          return item;
                      });
                  });
              };
              // for droupdown select list event....
              $scope.onSelect = function onSelect($item, $model, $label) {

                  $scope.Employee = {};
                  $http({
                      method: 'GET',
                      url: baseUrl + 'Employee/GetSingleEmployeeInfo/' + $item.Value
                  }).then(function successCallback(response) {
                      $scope.Employee.FullName = response.data.results.FullName;
                      $scope.Employee.UserName = response.data.results.EmpID;
                      $scope.Employee.Email = response.data.results.Email;
                      $scope.Employee.MobileNo = response.data.results.SMSNotificationNo;



                  }, function errorCallback(response) {
                      toastr["error"](response.data.message);
                  });
              };


          }]);
    </script>



}
