﻿@model eShop.BusinessDomain.CRM.ViewModels.StockVM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StockVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UOMName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UOMName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrandTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrandTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockStutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockStutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesReturnId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesReturnId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurcheaseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurcheaseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurcheaseReturnId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurcheaseReturnId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsArchived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsArchived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductBrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductBrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCatagoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCatagoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatagoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatagoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductSizeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSizeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductColorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductColorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalsPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalsPrice)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
