﻿
@{
    ViewBag.Title = "SalesPOS";
    Layout = "~/Views/Shared/_LayoutPOS.cshtml";
}
<style>
    .selectRow {
        display: block;
        padding: 20px;
    }

    .select2-container {
        width: 200px;
    }
</style>
<div class="" ng-controller="SalesCrtl">
    <form name="addform" class="form-horizontal" ng-submit="save()" novalidate>
        <div class="row">
            <div class="col-md-9">
                <div class="">
                    <input type="text" ng-model="Std" typeahead-on-select='onSelect($item, $model, $label,item)'
                           placeholder="Search Product Name Code" uib-typeahead="i  as i.Text for i in Search($viewValue)"
                           typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control input-lg">
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults"><i class="glyphicon glyphicon-remove"></i> No Results Found</div>
                    <input type="hidden" name="StudentIID" ng-model="StudentIID" ng-value="Std.Value" />
                </div>
                    <div class="col-md-12 " style="margin-top:8px;padding:10px">
                        <div class="">
                            <div class="col-md-2">
                                <b>Avl. Quantity :</b>{{Sales.details.stockQuantity}}
                            </div>
                            <div class="col-md-2">
                                <b>Unit Price :</b>{{Sales.details.SalsPrice}}
                            </div>

                            <div class="col-md-2">
                                <b>Size :</b>{{Sales.details.SizeName}}
                            </div>
                            <div class="col-md-2">
                                <b class="">Discount Offer :</b>{{Sales.details.Discount}}
                            </div>

                        </div>
                    </div>
               
            </div>
            <div class="col-md-3">
                <span class="col-md-12 btn" style="font-size:62px;background-color:#b1e3e8;height:90px;border-radius:5px">{{TotalPrice}}TK</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <table class="table m-table table-sm d-xl-table m-table--head-bg-success table-striped">
                    <thead>
                        <tr>
                            <th style="width:8%">
                                <span class="fa fa-trash"></span>
                            </th>
                            <th style="width:5%">
                                #
                            </th>
                            <th style="width:40%">
                                Product Name
                            </th>

                            <th style="width:25%">
                                QTY
                            </th>
                            <th style="width:15%">
                                Price
                            </th>
                            <th style="width:15%">
                                DIs
                            </th>
                            <th style="width:15%">
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in Sales.SalesDetails">
                            <td scope="row">
                                <span class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill" ng-click="DeletePro(item)"><i class="fa fa-trash"></i></span>
                            </td>
                            <td>{{$index+1}} </td>
                            <td> {{item.ProductName}}  </td>
                            <td>
                                <div class="input-group">
                                    <input type="number" name="Quantity" ng-model="item.Quantity" ng-change="calculate()" class=" form-control form-control-sm m-input text-center" placeholder="Quantity">
                                    <span class="input-group-addon">{{item.UOMName}}</span>
                                </div>
                            </td>
                            <td> {{item.SalsPrice}}  </td>
                            <td> {{item.Discount}}  </td>
                            <td> {{item.TotalPrice}}  </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                {{TotalQty}}
                            </th>
                            <th>
                            </th>
                            <th>
                                {{TotalDiscount}}
                            </th>
                            <th>
                                {{TotalPrice}}
                            </th>
                        </tr>
                    </tfoot>
                </table>
                <!--end::Section-->
            </div>
            <div class="col-md-5 form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control form-control" ng-model="Sales.CustomerName" placeholder="Customer Name" aria-describedby="basic-addon2">
                    </div>
                    <div class="col-md-6">
                        <input class="form-control form-control" ng-model="Sales.CustomerNumber" placeholder="Contact Number" />
                    </div>
                </div>

                <div class="row form-group" style="padding-top:5px">
                    <div class="col-md-6 control-label">
                        <div class="input-group">
                            <span class="input-group-addon Bold font-weight-bold" style="width:125px"><b>Discount</b></span>
                            <input ng-model="Sales.TotalDiscount" ng-disabled="true" class="form-control input-lg" />
                        </div>
                    </div>
                    <div class="col-md-6 control-label">

                        <div class="input-group">
                            <span class="input-group-addon Bold font-weight-bold"  style="width:125px"><b> VAT(10%)</b></span>
                            <input class="form-control  input-lg" ng-model="Sales.vat" ng-disabled="true" />
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6 control-label">
                        <div class="input-group">
                            <span class="input-group-addon Bold font-weight-bold"  style="width:125px"><b>Due Amount </b></span>
                            <input class="form-control input-lg" ng-model="Sales.Due" ng-value="Sales.Due > Sales.TotalPaid ? Sales.Due -Sales.TotalPaid : 0" ng-disabled="true" />
                        </div>
                    </div>
                    <div class="col-md-6 control-label" ng-class="{ 'has-error' : submitted && addform.TotalPaid.$invalid}">
                        <div class="input-group">
                            <span class="input-group-addon Bold font-weight-bold"  style="width:125px"><b>Pay Amount</b></span>
                            <input class="form-control input-lg" name="TotalPaid" required ng-model="Sales.TotalPaid" />
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group" style="padding:5px">
                    <div class="col-md-6 control-label">
                        <div class="input-group">
                            <span class="input-group-addon Bold font-weight-bold"  style="width:125px"><b>Return Amount</b></span>
                            <input class="form-control input-lg" ng-disabled="true" ng-model="Sales.ReturnAmount" ng-value="Sales.TotalPaid > Sales.Due ? Sales.TotalPaid-Sales.Due : 0" />
                        </div>
                    </div>
                    <div class="col-md-6 control-label" ng-class="{ 'has-error' : submitted && addform.PaymentType.$invalid}">
                        <div class="input-group">
                            <span class="input-group-addon Bold font-weight-bold"  style="width:125px"><b>Payment Type</b></span>
                            <select class="form-control input-lg" required ng-model="Sales.PaymentType" name="PaymentType">
                                <option value="">Select Option</option>
                                <option value="1">Cash</option>
                                <option value="2">Bank</option>
                            </select>
                            <div class="form-control-focus"> </div>

                        </div>
                    </div>
                </div>
                <div class="row form-group" ng-show="Sales.PaymentType==2">
                    <div class="col-md-6 control-label">
                        <div class="input-group">
                            <span class="input-group-addon Bold font-weight-bold"  style="width:125px"><b>Bank Name</b></span>
                            <select ng-model="Sales.BankId" class="form-control input-lg" name="BankId" ng-options="Bank.BankId as Bank.BankName for Bank in Banks">
                                <option value=''>Select Option</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 control-label">
                        <div class="input-group">
                            <span class="input-group-addon Bold font-weight-bold"  style="width:125px"><b>Cheque No.</b></span>
                            <input ng-model="Sales.ChequeNo" class="form-control input-lg" />

                        </div>
                    </div>
                </div>
                <div class="row form-group" >
                    <div class="col-md-6 control-label pull-left">
                        <button type="submit" href="#" class="btn btn-warning m-btn m-btn--custom m-btn--icon  col-12">
                            <span class="font-weight-bold" >
                                <i class="fa flaticon-bag fa-3x"></i>
                                <span>
                                    Checkout
                                </span>
                            </span>
                        </button>
                    </div>
                    <div class="col-md-6 control-label">
                        <div class="input-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <table class="table table-condensed table-sm ">
                <tr>
                    <td>
                        <span class="btn btn-danger  btn-sm">Check Out : CRLT + Space</span>
                    </td>
                    <td>
                        <span class="btn btn-danger btn-sm ">Refresh : Shift + Space</span>
                    </td>
                    <td>
                        <span class="btn btn-danger  btn-sm">Hold : CRLT +Shift + Space</span>
                    </td>
                    <td>
                        <span class="btn btn-danger  btn-sm" style="width:140px">Exchange : F5</span>
                    </td>
                </tr>
            </table>
        </div>
       
    </form>
</div>


    @section Scripts{
        <script>
            $(function () {
                $('.minifyme').click();
            });

            app.controller("SalesCrtl", ["$scope", "$http", '$q', '$timeout',  "AlertService",
            function ($scope, $http, $q, $timeout, AlertService) {
                jwerty.key('ctrl+space', function () { GetSalesDetail()});
                jwerty.key('shift+h', function () { holdSales() });
                jwerty.key('shift+r', function () { GetholdSales() });
                jwerty.key('shift+space', function () { resetForm() });
                jwerty.key('alt+space', function () { GetSalesDetail() });
                jwerty.key('shift+space', function () { window.location.reload() });
                $("#search").focus();
                init();
                function init() {
                    initialize();
                }
                function initialize() {
                    $scope.Std = [];
                    $scope.modalTitle = "Add Sales";
                    $scope.btn = "Save";

                    $scope.Product = {};
                    $scope.TotalPriceWithoutDis = 00;
                    $scope.TotalPrice = 00;
                    $scope.TotalDiscount = 00;
                    $scope.Sales = {};
                    $scope.Sales.Date = new Date();
                    $scope.Sales.TotalDiscount = 0;
                    $scope.Sales.Due = 0;
                    $scope.Sales.vat = 0;
                    $scope.Sales.TotalPaid =0;
                    $scope.SalesId = null;
                    $scope.Sale = {};
                    $scope.Sales.SalesDetails = [];
                    $scope.GetSalesDetail = GetSalesDetail;
                    $scope.calculate = calculate;
                    $scope.Catagorys = [];
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;
                    $scope.btnDis = false;

                    $scope.submitted = false;
                    if ('@ViewBag.Id' != 0) {
                        var Id='@ViewBag.Id';
                        GetSaless(Id);
                    }
                }
                function resetForm() {
                    $scope.modalTitle = "Add Purchases";
                    $scope.btn = "Save";
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.TotalPrice = 0;
                    $scope.TotalQty = 0;
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.Sales.Date = new Date();
                    GenerateInvoice();
                    $scope.Sales = {};
                    $scope.Sales.SalesDetails = [];
                }
               function holdSales() {
                    localStorage.setItem("Sales", $scope.Sales)
                    resetForm();
                }
                 function GetholdSales() {
                    $scope.Sales = localStorage.getItem("Sales");
                }
                $scope.AddPro = function AddPro() {
                    var SalesDetails = { ProductName: '', Quantity: 0, UnitePrice: 0, Discount: 0, TotalPrice: 0 };
                    $scope.Sales.SalesDetails.push(SalesDetails);
                }
                $scope.onSelect = function onSelect($item, model, label, items) {
                    $scope.Sales.details = {};
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Stock/GetStockByProduct/' + $item.Value
                    }).then(function successCallback(response) {
                        $scope.Sales.details = response.data.results;
                        $scope.Sales.SalesDetails.push(response.data.results);
                        calculate();
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
               function calculate() {
                   $scope.TotalPrice = 0;
                   $scope.TotalDiscount = 0;
                   $scope.TotalQty = 0;
                    angular.forEach($scope.Sales.SalesDetails, function (value, key) {
                        $scope.TotalPrice += value.TotalPrice;
                        $scope.TotalDiscount += value.Discount;
                        $scope.TotalQty += value.Quantity;
                    })
                    }
               function GetSalesDetail() {
                    if (typeof $scope.Sales.Quantity == 'undefined' || $scope.Sales.Quantity == null) {
                        AlertService.warning("Please Inpur Quantity");
                    }
                    if (typeof $scope.Std.Value == 'undefined' || $scope.Std.Value == null) {
                        AlertService.warning("Please Select Product");
                    }
                    for (var i = 0; i < $scope.Sales.SalesDetails.length; i++) {
                        if ($scope.Sales.SalesDetails[i].ProductId == $scope.Std.Value) {
                            AlertService.warning("This Product Already Added");
                            return;
                        }
                    }
                   
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Product/GetPurcheasDetail/' + $scope.Std.Value + '/' + $scope.Sales.Quantity
                    }).then(function successCallback(response) {
                        $scope.Sales.SalesDetails.push(response.data.results);
                        $scope.TotalPrice = $scope.TotalPrice + response.data.results.TotalPrice;
                        $scope.TotalQty += num(response.data.results.Quantity);
                        $scope.TotalDiscount = $scope.TotalDiscount + response.data.results.Discount;
                        $scope.TotalPriceWithoutDis = response.data.results.Quantity * response.data.results.UnitPrice
                        $scope.Sales.Due = $scope.TotalPrice;
                        $scope.Std = null;
                        $scope.submitted = false;
                        $scope.Sales.Quantity = 0;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GetSaless(n) {
                    $scope.Sales = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Sale/GetSale/'+n
                    }).then(function successCallback(response) {
                        $scope.Sales = response.data.results;
                        angular.forEach($scope.Sales.SalesDetails, function (value, key) {
                            value.TotalPrice = value.Quantity * value.UnitePrice;
                            $scope.Sales.TotalPrice += value.TotalPrice;
                            $scope.Sales.Quantity += value.Quantity;
                            $scope.Sales.Discount += value.Discount;
                        })
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GenerateInvoice() {
                    $scope.InvoiceId = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Sale/GenerateInvoice/'
                    }).then(function successCallback(response) {
                        $scope.Sales.InvoiecNo = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                $scope.Search = function (val) {
                    if (val.length >= 3)
                        return $http.get(baseUrl + 'Stock/GetProducts/' + val , {
                            params: {}
                        }).then(function (response) {
                            return response.data.results.map(function (item) {
                                return item;
                            });
                        });
                };
                $scope.save = function save(e) {
                    if ($scope.addform.$invalid) {
                        if ($scope.Sales.TotalPaid == 0) {
                            $scope.addform.TotalPaid.$invalid = true;
                        $scope.submitted = true;
                        
                            return;
                        }
                        return;
                    }
                    if ($scope.addform.TotalPaid.$invalid) {
                        $scope.submitted = true;
                        return;
                    }
                    if ($scope.Sales.TotalPaid == 0) {
                        $scope.addform.TotalPaid.$invalid = true;
                        $scope.submitted = true;
                        return;
                    }
                    if ($scope.addform.PaymentType.$invalid) {
                        $scope.submitted = true;
                        return;
                    }
                    if ($scope.Sales.SalesDetails.length ==0) {
                        AlertService.warning("Please Min One Product");
                    }
                    $scope.Sales.BranchId = localStorage.getItem("BrandId");
                    if ($scope.Sales != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Sale/AddSale/',
                            data: $scope.Sales
                        }).then(function successCallback(response) {
                            AlertService.success(response.data.Message);
                            $scope.SalesId = response.data.results;
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.DeletePro = function DeletePro(item) {
                    var index = $scope.Sales.SalesDetails.indexOf(item);
                    $scope.TotalPrice = $scope.TotalPrice - item.TotalPrice;
                    $scope.TotalDiscount = $scope.TotalDiscount - item.Discount;
                    $scope.Sales.Due = $scope.TotalPrice;
                    $scope.Sales.SalesDetails.splice(index, 1);
                }
                function num(a) {
                    if ($.isNumeric(a)) {
                        return parseInt(a);
                    } else {
                        return 0;
                    }
                }
            }]);
        </script>
    }


