﻿@{
    ViewBag.Title = "SalesPOS";
    Layout = "~/Views/Shared/_LayoutPOS.cshtml";
}
<style>
    .selectRow {
        display: block;
        padding: 20px;
    }

    .select2-container {
        width: 200px;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<div class="" ng-controller="SalesCrtl">

    <div class="row">
        <div class="col-md-7">
            <div class=" col-md-12 well well-sm">
                <form name="addform" class="form-horizontal" ng-submit="ByBarCode()" novalidate>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group input-group-lg">
                                <div class="icon-addon addon-lg">
                                    <input type="text" ng-model="Std" typeahead-on-select='onSelect($item, $model, $label,item)'
                                           placeholder="Search Product Name Code Barcode" uib-typeahead="i  as i.Text for i in Search($viewValue)"
                                           typeahead-loading="loadingLocations" ng-show="IsBarcode==false || IsBarcode==null" typeahead-template-url="customTemplate.html" typeahead-no-results="noResults" class="form-control">
                                    <label for="email" class="glyphicon glyphicon-search" rel="tooltip" ng-show="IsBarcode==false || IsBarcode==null" title="email"></label>
                                   
                                </div>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default Bold font-weight-bold"><span class="fa fa-lg fa-fw fa-shopping-bag"></span> <b>Sales </b></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    </form>
            </div>
            <div class="col-md-12 well well-sm paper" style="border-top:#ff6a00 solid 2px">
                <table class="table m-table table-sm d-xl-table m-table--head-bg-success table-striped">
                    <thead>
                        <tr>
                            <th style="width:5%">
                                #
                            </th>
                            <th style="width:40%">
                                Product Name
                            </th>
                            <th style="width:20%" class="text-center">
                                QTY
                            </th>
                            <th style="width:15%">
                                Price
                            </th>
                            <th style="width:15%">
                                VAT
                            </th>
                            <th style="width:15%">
                                DIs
                            </th>
                            <th style="width:15%">
                                Amount
                            </th>
                            <th style="width:8%">
                                <span class="fa fa-trash"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in Sales.SalesDetails">
                            <td>{{$index+1}} </td>
                            <td> {{item.ProductName}}  </td>
                            <td class="text-center">
                                <div class="input-group">
                                    @*<span class="input-group-addon Bold" ng-click="(item.Quantity=item.Quantity-1);calculate()" style="cursor:pointer">-</span>*@
                                    <input type="number" name="Quantity" id="spinner-decimal" ng-model="item.Quantity" ng-change="calculate()" class=" form-control form-control-sm m-input text-center" placeholder="Quantity">
                                    @*<span class="input-group-addon Bold" ng-click="(item.Quantity=item.Quantity+1);calculate();" style="cursor:pointer">+</span>*@
                                </div>
                            </td>
                            <td> {{item.SalsPrice}}  </td>
                            <td> {{item.VAT}}  </td>
                            <td> {{item.Discount}}  </td>
                            <td> {{item.Amount}}  </td>
                            <td scope="row">
                                <span class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill" ng-click="DeletePro(item)"><i class="fa fa-trash"></i></span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot style="border-top:2px #2f9c0a solid">
                        <tr>
                            <th>
                            </th>
                            <th>
                                Total
                            </th>
                            <th class="text-center">
                                {{TotalQty}}
                            </th>
                            <th>
                            </th>
                            <th>
                                {{Sales.VAT}}
                            </th>
                            <th>
                                {{Sales.Discounts}}
                            </th>
                            <th>
                                {{Sales.Total}}
                            </th>
                            <th>
                            </th>
                        </tr>
                    </tfoot>
                </table>
                <!--end::Section-->
                <hr />
                <div class="form-group">
                    <label>Note </label>
                    <textarea ng-model="Sales.Remarks" class="form-control" ></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-5 ">
            <form name="addform" class="form-horizontal" novalidate>
                <div class="col-md-12  text-center  well well-sm">
                    <div class="input-group">
                        <a href="@Url.Action("Customer","MasterSetUp")" class="input-group-addon Bold font-weight-bold"><span class="fa fa-lg fa-fw fa-plus"></span> <b>Add </b></a>
                        <input type="text" ng-model="Std1"
                               placeholder="Search Customer Name Code" typeahead-on-select='onSelectCustomer($item, $model, $label,item)' uib-typeahead="i  as i.Text for i in SearchCustomer($viewValue)"
                               typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control input-lg">
                        <input type="hidden" name="StudentIID" ng-model="Sales.CustomerId" ng-value="Std1.Value" />
                    </div>
                    <div class="label label-default font-md">Customer Name : {{Organizations.CustomerName}}</div>
                </div>
                <span class="clearfix"></span>
                <div class="well well-sm " style="border-top:#ff6a00 solid 2px">
                    <table class="table table-condensed table-striped table-bordered">
                        <tr style="font-size:1.9em">
                            <td style="width:30%"> Sub Total :  </td>
                            <th style="width:70%"> {{Sales.Total}}</th>
                        </tr>
                        <tr style="font-size:1.3em">
                            <td> Discount :  </td>
                            <th>
                                <div class="input-group">
                                    <input ng-model="Sales.Discounts" ng-disabled="true" ng-change="calculate()" onfocus="if(parseFloat(this.value) ==0) { this.value = ''; }" onblur="if(this.value == '') { this.value = '0'; }" class="form-control " />
                                    <span class="input-group-addon Bold font-weight-bold"><b> <span class="fa fa-plus"></span></b></span>
                                    <input type="number" ng-model="Sales.TotalDiscount" ng-change="calculate()" onfocus="if(parseFloat(this.value) ==0) { this.value = ''; }" onblur="if(this.value == '') { this.value = '0'; }" class="form-control " />
                                </div>
                            </th>
                        </tr>
                        <tr style="font-size:1.3em">
                            <td>  VAT :  </td>
                            <th> {{Sales.VAT}}</th>
                        </tr>
                        <tr style="font-size:1.5em">
                            <td> Net Total :  </td>
                            <th> {{Sales.NetTotal}}</th>
                        </tr>
                        <tr style="font-size:1.5em" ng-class="{ 'has-error' : submitted && addform.TotalPaid.$invalid}">
                            <td>  Paid :  </td>
                            <th>
                                <input type="number" class="form-control input-lg" name="TotalPaid" onfocus="if(parseFloat(this.value) ==0) { this.value = ''; }" onblur="if(this.value == '') { this.value = '0'; }" ng-change="calculate()" required ng-model="Sales.TotalPaid" />
                                <div class="form-control-focus"> </div>
                            </th>
                        </tr>
                        <tr style="font-size:1.3em" ng-class="{ 'has-error' : submitted && addform.TotalPaid.$invalid}">
                            <td>  Return :  </td>
                            <th> {{Sales.Return}}</th>
                        </tr>
                        <tr>
                            <th colspan="2" class="text-center">
                                <div class="btn-group text-center" data-toggle="buttons">
                                    <label class="btn btn-success active">
                                        <input type="radio" name="options" id="option2" ng-model="Sales.PaymentType" value="1" autocomplete="off" chacked>
                                        Cash
                                    </label>
                                    <label class="btn btn-success">
                                        <input type="radio" name="options" id="option1" ng-model="Sales.PaymentType" value="2" autocomplete="off">
                                        Bank
                                    </label>
                                    <label class="btn btn-success">
                                        <input type="radio" name="options" id="option2" ng-model="Sales.PaymentType" value="3" autocomplete="off">
                                        Card
                                    </label>
                                    <label class="btn btn-success">
                                        <input type="radio" name="options" id="option2" ng-model="Sales.PaymentType" value="4" autocomplete="off">
                                        MFS
                                    </label>
                                </div>
                            </th>
                        </tr>
                        <tr style="font-size:1.3em" ng-show="Sales.PaymentType==2">
                            <td>  Bank Name :  </td>
                            <th>
                                <select ng-model="Sales.BankId" class="form-control " name="BankId" ng-options="Bank.BankId as Bank.BankName for Bank in Banks">
                                    <option value=''>Select Option</option>
                                </select>
                            </th>
                        </tr>
                        <tr style="font-size:1.3em" ng-show="Sales.PaymentType==2">
                            <td> Cheque No.:  </td>
                            <th>   <input ng-model="Sales.ChequeNo" class="form-control" /></th>
                        </tr>
                        <tr style="font-size:1.3em" ng-show="Sales.PaymentType==4">
                            <td>  Mobile Number :  </td>

                            <th>   <input ng-model="Sales.MobileNo" class="form-control" placeholder="Mobile Number " /></th>
                        </tr>
                        <tr style="font-size:1.3em" ng-show="Sales.PaymentType==4">
                            <td> Transection Number :  </td>
                            <th>   <input ng-model="Sales.TransectionNo" class="form-control" placeholder="Transection Number " /></th>
                        </tr>
                        <tr style="font-size:1.3em">
                            <th colspan="2" class="text-center">
                                <div class="btn-group text-center" data-toggle="buttons">
                                    <a ng-click="save();submitted=true" class="btn btn-primary btn-lg">CheckOut</a>
                                    <a ng-click="savePrint();submitted=true" class="btn btn-info btn-lg">CheckOut & Print</a>
                                    @*<a ng-click="holdSales();" class="btn btn-success btn-lg">Hold Sales</a>*@
                                </div>
                            </th>

                        </tr>

                    </table>

                </div>
            </form>
        </div>
    </div>
   
        <div class="col-12">
            <table class="table table-condensed table-sm ">
                <tr>
                    <td>
                        <span class="btn btn-danger  btn-sm">Check Out : CRLT + Space</span>
                    </td>
                    <td>
                        <span class="btn btn-danger btn-sm ">Refresh : Shift + Space</span>
                    </td>
                    <td>
                        <span class="btn btn-danger  btn-sm">Hold : CRLT +Shift + Space</span>
                    </td>
                    <td>
                        <span class="btn btn-danger  btn-sm" style="width:140px">Exchange : F5</span>
                    </td>
                    <td>
                        @*<span class="btn btn-info" style="width:140px" data-toggle="modal" ng-click="GetholdSales()" data-target="#addmodal">Show Hold Sales List</span>*@
                    </td>
                </tr>
            </table>
        </div>
    
    <div style="width:500px" id="printdiv" class="visible-print">
        <div id="invoice-POS">
            <center id="top">
                <div class="logo"></div>
                <div class="info">
                    <h2>SBISTechs Inc</h2>
                </div><!--End Info-->
            </center><!--End InvoiceTop-->
            <div id="mid">
                <div class="info">
                    <h2>Contact Info</h2>
                    <p>
                        Address : street city, state 0000</br>
                        Email   : JohnDoe@gmail.com</br>
                        Phone   : 555-555-5555</br>
                    </p>
                </div>
            </div><!--End Invoice Mid-->
            <div id="bot">
                <div id="table">
                    <table>
                        <tr class="tabletitle">
                            <td class="item"><h2>Item</h2></td>
                            <td class="Hours"><h2>Qty</h2></td>
                            <td class="Rate"><h2>Sub Total</h2></td>
                        </tr>
                        <tr class="service">
                            <td class="tableitem"><p class="itemtext">Communication</p></td>
                            <td class="tableitem"><p class="itemtext">5</p></td>
                            <td class="tableitem"><p class="itemtext">$375.00</p></td>
                        </tr>
                        <tr class="service">
                            <td class="tableitem"><p class="itemtext">Asset Gathering</p></td>
                            <td class="tableitem"><p class="itemtext">3</p></td>
                            <td class="tableitem"><p class="itemtext">$225.00</p></td>
                        </tr>
                        <tr class="service">
                            <td class="tableitem"><p class="itemtext">Design Development</p></td>
                            <td class="tableitem"><p class="itemtext">5</p></td>
                            <td class="tableitem"><p class="itemtext">$375.00</p></td>
                        </tr>
                        <tr class="service">
                            <td class="tableitem"><p class="itemtext">Animation</p></td>
                            <td class="tableitem"><p class="itemtext">20</p></td>
                            <td class="tableitem"><p class="itemtext">$1500.00</p></td>
                        </tr>
                        <tr class="service">
                            <td class="tableitem"><p class="itemtext">Animation Revisions</p></td>
                            <td class="tableitem"><p class="itemtext">10</p></td>
                            <td class="tableitem"><p class="itemtext">$750.00</p></td>
                        </tr>
                        <tr class="tabletitle">
                            <td></td>
                            <td class="Rate"><h2>tax</h2></td>
                            <td class="payment"><h2>$419.25</h2></td>
                        </tr>
                        <tr class="tabletitle">
                            <td></td>
                            <td class="Rate"><h2>Total</h2></td>
                            <td class="payment"><h2>$3,644.25</h2></td>
                        </tr>
                    </table>
                </div><!--End Table-->
                <div id="legalcopy">
                    <p class="legal">
                        <strong>Thank you for your business!</strong>  Payment is expected within 31 days; please process this invoice within that time. There will be a 5% interest charge per month on late invoices.
                    </p>
                </div>

            </div><!--End InvoiceBot-->
        </div><!--End Invoice-->
    </div>
    <!--Modal Area Start-->
    <div id="addmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-close"></span></button>
                    <h4 class="modal-title">Hold Sales List</h4>
                </div>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>InvoiecNo</th>
                                            <th>Date</th>
                                            <th>Total Paid</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="HoldSales.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                        <tr ng-repeat="item in HoldSales">
                                            <td>{{item.InvoiecNo}}</td>
                                            <td>{{item.Date  | date : format : 'dd-MM-yyyy'}}</td>
                                            <td>{{item.TotalPaid}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Area End-->
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/ng-template" id="customTemplate.html">
        <a style="width:400px">
            <img ng-src="data:image/jpg;base64,{{match.model.Image}}" width="25">
            <span bind-html-unsafe="match.label | typeaheadHighlight:query">
                <span style="font-size:1.5em"> {{match.model.Text}}</span><br />
                <span>Avl. Quantity : {{match.model.Quantity}}</span>
                <span>Unite Price : {{match.model.SalsPrice}}</span>
            </span>
        </a>
    </script>
    <script>
        $(function () {
            $("#spinner-decimal").spinner({
                step: 0.01,
                numberFormat: "n"
            });
                $('.minifyme').click();
                function formatState(state) {
                    var $state = $(
                        '<span><img src="data:image/jpg;base64,' + state.Image + '" class="img - flag" /> ' + state.text + '</span>'
                    );
                    return $state;
                };
                $("#code-helperId").select2({
                    templateResult: formatState
                });
            });

            app.controller("SalesCrtl", ["$scope", "$http", '$q', '$timeout',  "AlertService",
            function ($scope, $http, $q, $timeout, AlertService) {
                jwerty.key('ctrl+space', function () { GetSalesDetail()});
                jwerty.key('shift+h', function () { holdSales() });
                jwerty.key('shift+r', function () { GetholdSales() });
                jwerty.key('shift+space', function () { resetForm() });
                jwerty.key('alt+space', function () { GetSalesDetail() });
                jwerty.key('shift+space', function () { window.location.reload() });
                $("#search").focus();
                init();
                function init() {
                    initialize();
                    getOrganizations();
                }
                function initialize() {
                    $scope.Std = [];
                    $scope.modalTitle = "Add Sales";
                    $scope.btn = "Save";

                    $scope.Product = {};
                    $scope.TotalPriceWithoutDis = 00;
                    $scope.TotalPrice = 00;
                    $scope.TotalDiscount = 00;
                    $scope.Sales = {};
                    $scope.Sales.Date = new Date();
                    $scope.Sales.TotalDiscount = 0;
                    $scope.Sales.Due = 0;
                    $scope.Sales.vat = 0;
                    $scope.Sales.TotalPaid =0;
                    $scope.SalesId = null;
                    $scope.Sale = {};
                    $scope.Sales.SalesDetails = [];
                    $scope.GetSalesDetail = GetSalesDetail;
                    $scope.print = print;
                    $scope.Organizations = {};
                    $scope.Organizations.VAT = 0;
                    $scope.calculate = calculate;
                    $scope.holdSales = holdSales;
                    $scope.Catagorys = [];
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;
                    $scope.btnDis = false;
                    calculate();
                    $scope.submitted = false;
                    if ('@ViewBag.Id' != 0) {
                        var Id='@ViewBag.Id';
                        GetSaless(Id);
                    }
                    $scope.Sales.PaymentType = 1;
                    $scope.IsBarcode = false;
                }
                function resetForm() {
                    $scope.modalTitle = "Add Purchases";
                    $scope.btn = "Save";
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.TotalPrice = 0;
                    $scope.TotalQty = 0;
                    $scope.submitted = false;
                    $scope.Id = '';
                   
                   
                    $scope.Sales = {};
                    $scope.Sales.Date = new Date();
                    $scope.Sales.SalesDetails = [];
                    $scope.Sales.VATs = num($scope.Organizations.VAT);
                    calculate();
                    $scope.Sales.PaymentType = 1;
                    $scope.Sales.CustomerId = $scope.Organizations.CustomerId;
                }
                function getOrganizations() {
                    $scope.Organizations = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Organization/GetAllOrganization/'
                    }).then(function successCallback(response) {
                        $scope.Organizations = response.data.results[0];
                        $scope.SearchCustomer($scope.Organizations.CustomerName);
                        $scope.Sales.CustomerId = $scope.Organizations.CustomerId;
                        $scope.Sales.VATs = num($scope.Organizations.VAT);
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
               function holdSales() {
                    localStorage.setItem("Sales", $scope.Sales)
                    resetForm();
                }
                $scope.GetholdSales = function () {
                    var aa = localStorage.getItem("Sales");
                    $scope.HoldSales = JSON.stringify(localStorage.getItem("Sales"));
                }
                $scope.AddPro = function AddPro() {
                    var SalesDetails = { ProductName: '', Quantity: 0, UnitePrice: 0, Discount: 0, TotalPrice: 0 };
                    $scope.Sales.SalesDetails.push(SalesDetails);
                }
                
                $scope.onSelectCustomer = function onSelect($item, model, label, items) {
                    $scope.Sales.CustomerId = $item.Value;
                }
                $scope.ByBarCode = function ByBarCode() {
                    if (localStorage.getItem("BrandId") == null) {
                        AlertService.warning("Please Select Branch");
                        return;
                    }
                    $scope.BranchId = localStorage.getItem("BrandId");
                    $scope.Sales.details = {};
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Stock/GetStockByProduct/' + $scope.Std + '/' + $scope.BranchId
                    }).then(function successCallback(response) {
                        $scope.Sales.details = response.data.results;
                        response.data.results.ProductId = $scope.Sales.details.ProductId;
                        var res = false;
                        for (var i in $scope.Sales.SalesDetails) {
                            if ($scope.Sales.SalesDetails[i].ProductId == response.data.results.ProductId) {
                                $scope.Sales.SalesDetails[i].Quantity = $scope.Sales.SalesDetails[i].Quantity + 1;
                                res = true;
                                break; //Stop this loop, we found it!
                            }
                        }
                        if (res == false) {
                            $scope.Sales.SalesDetails.push(response.data.results);
                        }
                        calculate();
                        $item = null;
                        $scope.Std = null;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                        $item = null;
                    });
                }
                $scope.onSelect = function onSelect($item, model, label, items) {
                    if (localStorage.getItem("BrandId") == null) {
                        AlertService.warning("Please Select Branch");
                        return;
                    }
                    $scope.BranchId = localStorage.getItem("BrandId");
                    $scope.Sales.details = {};
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Stock/GetStockByProduct/' + $item.Value + '/' + $scope.BranchId
                    }).then(function successCallback(response) {
                        $scope.Sales.details = response.data.results;
                        response.data.results.ProductId = $item.Value;
                        var res = false;
                        for (var i in $scope.Sales.SalesDetails) {
                            if ($scope.Sales.SalesDetails[i].ProductId == response.data.results.ProductId) {
                                $scope.Sales.SalesDetails[i].Quantity = $scope.Sales.SalesDetails[i].Quantity + 1;
                                res = true;
                                break; //Stop this loop, we found it!
                            }
                        }
                        if (res == false) {
                            $scope.Sales.SalesDetails.push(response.data.results);
                        }
                        calculate();
                        $item = null;
                        $scope.Std = null;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                        $item = null;
                    });
                }
                $scope.InvReprot = function (Id) {
                    $scope.url = "@Url.Action("Invoice", "Sales")?Id=" + $scope.Sales.Id;
                    window.open($scope.url,"_blanck");
                };
               function calculate() {
                   $scope.TotalPrice = 0;
                   $scope.TotalDiscount = 0;
                   $scope.Sales.Return = 0;
                   $scope.TotalQty = 0;
                   $scope.Sales.Due = 0;
                   $scope.Sales.Total = 0;
                   $scope.Sales.NetTotal = 0;
                   $scope.Sales.VAT = 0;
                  
                   $scope.Sales.Discounts = 0;
                   if ($scope.Sales.TotalDiscount ==null) {
                       $scope.Sales.TotalDiscount = 0;
                   }
                   angular.forEach($scope.Sales.SalesDetails, function (value) {
                       if (value.Quantity < 0) {
                           value.Quantity = 0;
                       }
                       value.Quantity = num(value.Quantity);
                       
                       value.DsicountCount = num(value.DsicountCount);
                       $scope.TotalQty += value.Quantity + value.DsicountCount;
                       if (value.DsicountPercent) {
                           value.Discount = num(((num(value.Quantity) * num(value.SalsPrice)) * value.DsicountAmount) / 100);
                       }
                       else {
                           value.Discount = num(value.DsicountAmount);
                       }
                       
                       value.Amount = num(value.Quantity) * num(value.SalsPrice);
                       if (value.VATPercent > 0) {
                           value.VAT = Math.ceil((value.Amount * num(value.VATPercent)) / 100);
                           $scope.Sales.VAT += value.VAT;
                       }
                       value.NetAmount = num(value.Quantity) * num(value.SalsPrice) - value.Discount;
                       $scope.Sales.Total += value.Amount;
                       $scope.Sales.NetTotal += value.NetAmount;
                       $scope.Sales.Discounts += num(value.Discount);
                   });
                   if ($scope.Sales.Discounts > $scope.Sales.NetTotal) {
                       AlertService.warning("Discount Amount Not Allow greater then Total");
                       return;
                   }
                   $scope.Sales.NetTotal = ($scope.Sales.NetTotal + num($scope.Sales.VAT))- (num($scope.Sales.TotalDiscount) );
                   $scope.Sales.Discount = num($scope.Sales.TotalDiscount) + num($scope.Sales.Discounts);
                   if ($scope.Sales.NetTotal < $scope.Sales.TotalPaid) {
                       $scope.Sales.Return = $scope.Sales.TotalPaid - $scope.Sales.NetTotal;
                   }
                    }
               function GetSalesDetail() {
                    if (typeof $scope.Sales.Quantity == 'undefined' || $scope.Sales.Quantity == null) {
                        AlertService.warning("Please Inpur Quantity");
                    }
                    if (typeof $scope.Std.Value == 'undefined' || $scope.Std.Value == null) {
                        AlertService.warning("Please Select Product");
                    }
                    for (var i = 0; i < $scope.Sales.SalesDetails.length; i++) {
                        if ($scope.Sales.SalesDetails[i].ProductId == $scope.Std.Value) {
                            AlertService.warning("This Product Already Added");
                            return;
                        }
                    }

                    $http({
                        method: 'GET',
                        url: baseUrl + 'Product/GetPurcheasDetail/' + $scope.Std.Value + '/' + $scope.Sales.Quantity
                    }).then(function successCallback(response) {
                        $scope.Sales.SalesDetails.push(response.data.results);
                        $scope.TotalPrice = $scope.TotalPrice + response.data.results.TotalPrice;
                        $scope.TotalQty += num(response.data.results.Quantity);
                        $scope.TotalDiscount = $scope.TotalDiscount + response.data.results.Discount;
                        $scope.TotalPriceWithoutDis = response.data.results.Quantity * response.data.results.UnitPrice
                        $scope.Sales.Due = $scope.TotalPrice;
                        $scope.Std = null;
                        $scope.submitted = false;
                        $scope.Sales.Quantity = 0;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GetSaless(n) {
                    $scope.Sales = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Sale/GetSale/'+n
                    }).then(function successCallback(response) {
                        $scope.Sales = response.data.results;
                        angular.forEach($scope.Sales.SalesDetails, function (value, key) {
                            value.TotalPrice = value.Quantity * value.UnitePrice;
                            $scope.Sales.TotalPrice += value.TotalPrice;
                            $scope.Sales.Quantity += value.Quantity;
                            $scope.Sales.Discount += value.Discount;
                        })
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GenerateInvoice() {
                    $scope.InvoiceId = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Sale/GenerateInvoice/'
                    }).then(function successCallback(response) {
                        $scope.Sales.InvoiecNo = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                $scope.Search = function (val) {
                    if (localStorage.getItem("BrandId") == null) {
                        AlertService.warning("Please Select Branch");
                        return;
                    }
                    $scope.BranchId = localStorage.getItem("BrandId");
                    if (val.length >= 3)
                        return $http.get(baseUrl + 'Stock/GetProducts/' + val + '/' + $scope.BranchId, {
                            params: {}
                        }).then(function (response) {
                            return response.data.results.map(function (item) {
                                return item;
                            });
                        });
                };
                $scope.SearchCustomer = function (val) {
                    if (val.length >= 3)
                        return $http.get(baseUrl + 'Customer/GetCustomerByName/' + val, {
                            params: {}
                        }).then(function (response) {
                            return response.data.results.map(function (item) {
                                return item;
                            });
                        });
                };
                
             
                $scope.save = function save(e) {
                    if ($scope.addform.$invalid) {
                        if ($scope.Sales.TotalPaid == 0) {
                            $scope.addform.TotalPaid.$invalid = true;
                        $scope.submitted = true;
                            return;
                        }
                        return;
                    }
                    if ($scope.addform.TotalPaid.$invalid) {
                        $scope.submitted = true;
                        return;
                    }
                    if ($scope.Sales.TotalPaid == 0) {
                        $scope.addform.TotalPaid.$invalid = true;
                        $scope.submitted = true;
                        return;
                    }
                   
                    if ($scope.Sales.CustomerId == null) {
                        AlertService.warning("Please Select Customer");
                        return;
                    }
                    if ($scope.Sales.SalesDetails.length ==0) {
                        AlertService.warning("Please Min One Product");
                        return;
                    }
                    if ($scope.Std1 != null) {
                        $scope.Sales.CustomerId = $scope.Std1.Value;
                    }
                    if (localStorage.getItem("BrandId") == null) {
                        AlertService.warning("Please Select Branch");
                        return;
                    }
                
                    $scope.Sales.BranchId = localStorage.getItem("BrandId");
                    if ($scope.Sales != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Sale/AddSale/',
                            data: $scope.Sales
                        }).then(function successCallback(response) {
                            AlertService.success(response.data.Message);
                            $scope.SalesId = response.data.results;
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.savePrint = function save(e) {
                    if ($scope.addform.$invalid) {
                        if ($scope.Sales.TotalPaid == 0) {
                            $scope.addform.TotalPaid.$invalid = true;
                        $scope.submitted = true;

                            return;
                        }
                        return;
                    }
                    if ($scope.addform.TotalPaid.$invalid) {
                        $scope.submitted = true;
                        return;
                    }
                    if ($scope.Sales.TotalPaid == 0) {
                        $scope.addform.TotalPaid.$invalid = true;
                        $scope.submitted = true;
                        return;
                    }
                    
                    if ($scope.Sales.SalesDetails.length ==0) {
                        AlertService.warning("Please Min One Product");
                    }
                    $scope.Sales.BranchId = localStorage.getItem("BrandId");
                    if (localStorage.getItem("BrandId") == null) {
                        AlertService.warning("Please Select Branch");
                        return;
                    }
                    if ($scope.Sales != '') {

                        //var restorpage = document.body.innerHTML;
                        //var containpag = document.getElementById('printdiv').innerHTML;
                        //document.body.innerHTML = containpag;
                        //window.print();
                        //document.body.innerHTML = restorpage;

                        $http({
                            method: 'POST',
                            url: baseUrl + 'Sale/AddSale/',
                            data: $scope.Sales
                        }).then(function successCallback(response) {
                            AlertService.success(response.data.Message);
                            $scope.Solds = response.data.results;
                            resetForm();
                            $scope.urlsss = "@Url.Action("Invoice", "Product")?Id=" + response.data.results;
                            var opts = 'width=700,height=500,toolbar=0,menubar=0,location=1,status=1,scrollbars=1,resizable=1,left=0,top=0';
                             window.open($scope.urlsss, 'name', opts);
                            //newWindow.print();
                            //print();
                           
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                function soldcal() {
                    angular.forEach($scope.Solds.SalesDetails, function (value, key) {
                        value.TotalPrice = num(value.Quantity) * num(value.UnitePrice);
                        $scope.Solds.TotalPrice += value.TotalPrice;
                        $scope.TotalDiscount += num(value.Discount);
                        $scope.TotalQty += num(value.Quantity);
                    });
                    $scope.Solds.TotalPaid = $scope.Solds.TotalPrice - ($scope.Solds.TotalDiscount + $scope.Solds.Discount);
                    $scope.Solds.GrandTotal = $scope.Solds.TotalPrice + $scope.Solds.vat;
                }
                $scope.DeletePro = function DeletePro(item) {
                    var index = $scope.Sales.SalesDetails.indexOf(item);
                    $scope.TotalPrice = $scope.TotalPrice - item.TotalPrice;
                    $scope.TotalDiscount = $scope.TotalDiscount - item.Discount;
                    $scope.Sales.Due = $scope.TotalPrice;
                    $scope.Sales.SalesDetails.splice(index, 1);
                    calculate();
                }
               function print () {
                    var innerContents = document.getElementById('printdiv').innerHTML;
                    var popupWinindow = window.open('', '_blank', 'width=600,height=700,scrollbars=no,menubar=no,toolbar=no,location=no,status=no,titlebar=no');
                    popupWinindow.document.open();
                    popupWinindow.document.write('<html><head><link rel="stylesheet" type="text/css" href="style.css" /></head><body onload="window.print()">' + innerContents + '</html>');
                    popupWinindow.document.close();
                }
                function num(a) {
                    if ($.isNumeric(a)) {
                        var aa = parseFloat(a);
                      var bb=  Math.floor(aa);
                        return bb;
                    } else {
                        return 0;
                    }
                }
            }]);
    </script>
}


