﻿@{
    ViewBag.Title = "SaleReturnReturn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<div class="" ng-controller="SaleReturnCrtl">
    <form name="addform" class="form-horizontal" ng-submit="save()" novalidate>
        <div class="row">
            <div class="col-md-7">
                <div class=" col-md-12 well well-sm">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group input-group-lg">
                                <div class="icon-addon addon-lg">
                                    <input type="text" ng-model="Std" typeahead-on-select='onSelect($item, $model, $label,item)'
                                           placeholder="Search Invoice" uib-typeahead="i  as i.Text for i in Search($viewValue)"
                                           typeahead-loading="loadingLocations"  typeahead-no-results="noResults" class="form-control">
                                    <label for="SaleReturn Return" class="glyphicon glyphicon-search" rel="tooltip" title="SaleReturn Return"></label>
                                </div>
                                <span class="input-group-btn">
                                    <a class="btn btn-default Bold font-weight-bold"><span class="fa fa-lg fa-fw fa-shopping-bag"></span> <b>Sale Return</b></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 well well-sm paper" style="border-top:#ff6a00 solid 2px">
                    <table class="table m-table table-sm d-xl-table m-table--head-bg-success table-striped">
                        <thead>
                            <tr>
                                <th style="width:5%">
                                    #
                                </th>
                                <th style="width:25%">
                                    Product Name
                                </th>
                                <th style="width:13%" class="text-center">
                                    Sale QTY
                                </th>
                                <th style="width:8%">
                                    DIs
                                </th>
                                <th style="width:20%" class="text-center">
                                    Return QTY
                                </th>
                                <th style="width:13%">
                                    Sale Price
                                </th>
                                <th style="width:13%">
                                    Amount
                                </th>
                                <th style="width:15%!important">
                                    <span class="fa fa-trash"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in SaleReturn.SalesDetails">
                                <td>{{$index+1}} </td>
                                <td> {{item.ProductName}}  </td>
                                <td> {{item.Quantity}}  </td>
                                <td> {{item.Discount}}  </td>
                                <td class="text-center" >
                                    <div class="input-group">
                                        <span class="input-group-addon Bold" ng-disabled="item.Checked==false" ng-click="(item.Return=item.Return-1);calculate()" style="cursor:pointer">-</span>
                                        <input type="number"  ng-disabled="item.Checked==false" name="Return" id="spinner-decimal" ng-model="item.Return" ng-change="calculate()" class=" form-control form-control-sm m-input text-center" placeholder="Return">
                                        <span class="input-group-addon Bold" ng-disabled="item.Checked==false" ng-click="(item.Return=item.Return+1);calculate();" style="cursor:pointer">+</span>
                                    </div>
                                </td>
                                <td> {{item.SalsPrice}}  </td>
                                <td> {{item.TotalAmount}}  </td>
                                <td scope="row">
                                    <input class="form-control" type="checkbox" style="width:21px!important;" ng-model="item.Checked" />
                                </td>
                            </tr>
                        </tbody>
                        <tfoot style="border-top:2px #2f9c0a solid">
                            <tr>
                                <th>
                                </th>
                                <th>
                                    Total
                                </th>
                                <th class="text-center">
                                    {{TotalQty}}
                                </th>
                                <th>
                                    @*{{SaleReturn.TotalDiscount}}*@
                                </th>
                                <th class="text-center">
                                    {{TotalQtyReturn}}
                                </th>
                                <th>
                                    {{Total}}
                                </th>
                                <th>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                    <!--end::Section-->
                </div>
            </div>
            <div class="col-md-5 ">
                <div class="col-md-12 well well-sm">
                    <table>
                        <tr style="font-size:20px">
                            <th >Customer Name </th>
                            <td> : {{SaleReturn.CustomerName}}</td>
                        </tr>
                        <tr>
                            <th> Address </th>
                            <td> : {{SaleReturn.PresentAddress}}</td>
                        </tr>
                        <tr>
                            <th>Mobile </th>
                            <td> : {{SaleReturn.Mobile}}</td>
                        </tr>
                    </table>
                </div>
                <span class="clearfix"></span>
                <div class="well well-sm " style="border-top:#ff6a00 solid 2px">
                    <table class="table table-condensed table-striped table-bordered">
                        <tr style="font-size:1.9em">
                            <td style="width:30%"> Net Total :  </td>
                            <th style="width:70%"> {{SaleReturn.Total}}</th>
                        </tr>
                       
                        <tr style="font-size:1.5em" ng-class="{ 'has-error' : submitted && addform.TotalPaid.$invalid}">
                            <td>  Paid :  </td>
                            <th>
                                <input class="form-control input-lg" name="TotalPaid" onfocus="if(parseFloat(this.value) ==0) { this.value = ''; }" onblur="if(this.value == '') { this.value = '0'; }" ng-change="calculate()" required ng-model="SaleReturn.NetTotal" />
                                <div class="form-control-focus"> </div>
                            </th>
                        </tr>
                        <tr style="font-size:1.3em" >
                            <td>  Return :  </td>
                            <th> {{SaleReturn.ReturnAmount}}</th>
                        </tr>
                        <tr>
                            <th colspan="2" class="text-center">
                                <div class="btn-group text-center" data-toggle="buttons">
                                    <label class="btn btn-success active">
                                        <input type="radio" name="options" id="option2" ng-model="SaleReturn.PaymentType" value="1" autocomplete="off" chacked>
                                        Cash
                                    </label>
                                    <label class="btn btn-success">
                                        <input type="radio" name="options" id="option1" ng-model="SaleReturn.PaymentType" value="2" autocomplete="off">
                                        Bank
                                    </label>
                                    <label class="btn btn-success">
                                        <input type="radio" name="options" id="option2" ng-model="SaleReturn.PaymentType" value="3" autocomplete="off">
                                        Card
                                    </label>
                                    <label class="btn btn-success">
                                        <input type="radio" name="options" id="option2" ng-model="SaleReturn.PaymentType" value="4" autocomplete="off">
                                        MFS
                                    </label>
                                </div>
                            </th>
                        </tr>
                        <tr style="font-size:1.3em" ng-show="SaleReturn.PaymentType==2">
                            <td>  Bank Name :  </td>
                            <th>
                                <select ng-model="SaleReturn.BankId" class="form-control " name="BankId" ng-options="Bank.BankId as Bank.BankName for Bank in Banks">
                                    <option value=''>Select Option</option>
                                </select>
                            </th>
                        </tr>
                        <tr style="font-size:1.3em" ng-show="SaleReturn.PaymentType==2">
                            <td> Cheque No.:  </td>
                            <th>   <input ng-model="SaleReturn.ChequeNo" class="form-control" /></th>
                        </tr>
                        <tr style="font-size:1.3em" ng-show="SaleReturn.PaymentType==4">
                            <td>  Mobile Number :  </td>

                            <th>   <input ng-model="SaleReturn.MobileNo" class="form-control" placeholder="Mobile Number " /></th>
                        </tr>
                        <tr style="font-size:1.3em" ng-show="SaleReturn.PaymentType==4">
                            <td> Transection Number :  </td>
                            <th>   <input ng-model="SaleReturn.TransectionNo" class="form-control" placeholder="Transection Number " /></th>
                        </tr>
                        <tr style="font-size:1.3em">
                            <th colspan="2" class="text-center">
                                <div class="btn-group text-center" data-toggle="buttons">
                                    <a ng-click="save();submitted=true" class="btn btn-primary btn-lg">Save</a>
                                    <a ng-click="savePrint();submitted=true" class="btn btn-info btn-lg">CheckOut & Print</a>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
    <div style="width:500px" id="printdiv" class="visible-print">
        <div style="font-size:16px;font-weight:bold;text-align:center"> {{Organizations.Name}}</div>
        <div style="font-size:12px;text-align:center">{{Organizations.PresentAddress}}</div>
        <div style="font-size:12px;text-align:center">{{Organizations.Mobile}}</div>
        <div style="font-size:14px;font-weight:bold;text-align:center">CASH MEMO</div>
        <table>
            <tr>
                <td style="width:25%"> <b>Invoice No. </b></td>
                <td style="width:25%;text-align:left">:{{Solds.InvoiecNo}}</td>
                <td style="width:25%"></td>
                <td style="width:25%"></td>
            </tr>
            <tr>
                <td style="width:25%">Invoice Date </td>
                <td style="width:25%;text-align:left">:{{Solds.Date}}</td>
                <td style="width:25%"></td>
                <td style="width:25%">VAT REG:</td>
                <td style="width:25%;text-align:left">:{{Organizations.VatReg}}</td>
            </tr>
            <tr>
                <td style="width:25%">Cashier </td>
                <td style="width:25%;text-align:left">:@User.Identity.Name</td>
                <td style="width:25%"></td>
                <td style="width:25%">Time </td>
                <td style="width:25%;text-align:left">:{{Solds.Date}}</td>
            </tr>
        </table>
        <table>
            <tr>
                <th style="width:5%">SL</th>
                <th style="width:50%">Product Name</th>
                <th style="width:15%">Price</th>
                <th style="width:15%">Quantity</th>
                <th style="width:15%">Total</th>
            </tr>
            <tr ng-repeat="item in Solds.SalesDetails">
                <th style="width:5%">{{$index+1}}</th>
                <th style="width:50%">{{item.ProductName}}</th>
                <th style="width:15%">{{item.UnitePrice}}</th>
                <th style="width:15%">{{item.Quantity}} </th>
                <th style="width:15%">{{item.Quantity*item.UnitePrice}} </th>
            </tr>
            <tr>
                <td colspan="3" style="text-align:right"> Gross Amount</td>
                <td>{{Solds.TotalPrice}}</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:right">VAT</td>
                <td>{{Solds.VAT}}</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:right">Discount</td>
                <td>{{Solds.Discount}}</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:right">Net Amount</td>
                <td>{{Solds.GrossTotal}}</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:right">Cash Paid </td>
                <td>{{Solds.TotalPaid}}</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:right">Change </td>
                <td>{{Solds.Return}}</td>
            </tr>
        </table>
        <div style="font-size:16px;font-weight:bold;text-align:center"> Projuktisoft</div>
        <div style="font-size:12px;text-align:center">Phone: 880 1748 737605</div>
    </div>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/ng-template" id="customTemplate.html">
        <a style="width:400px">
            <img ng-src="data:image/jpg;base64,{{match.model.Image}}" width="25">
            <span bind-html-unsafe="match.label | typeaheadHighlight:query">
                <span style="font-size:1.5em"> {{match.model.Text}}</span><br />
                <span>Avl. Quantity : {{match.model.Quantity}}</span>
                <span>Unite Price : {{match.model.SalsPrice}}</span>
            </span>
        </a>
    </script>
    <script>
        $(function () {
            $("#spinner-decimal").spinner({
                step: 0.01,
                numberFormat: "n"
            });
                $('.minifyme').click();
                function formatState(state) {
                    var $state = $(
                        '<span><img src="data:image/jpg;base64,' + state.Image + '" class="img - flag" /> ' + state.text + '</span>'
                    );
                    return $state;
                };
                $("#code-helperId").select2({
                    templateResult: formatState
                });
            });

            app.controller("SaleReturnCrtl", ["$scope", "$http", '$q', '$timeout',  "AlertService",
            function ($scope, $http, $q, $timeout, AlertService) {
                jwerty.key('ctrl+space', function () { GetSaleReturnDetail()});
                jwerty.key('shift+h', function () { holdSaleReturn() });
                jwerty.key('shift+r', function () { GetholdSaleReturn() });
                jwerty.key('shift+space', function () { resetForm() });
                jwerty.key('alt+space', function () { GetSaleReturnDetail() });
                jwerty.key('shift+space', function () { window.location.reload() });
                $("#search").focus();
                init();
                function init() {
                    initialize();
                }
                function initialize() {
                    $scope.Std = [];
                    $scope.modalTitle = "Add SaleReturn";
                    $scope.btn = "Save";

                    $scope.Product = {};
                    $scope.TotalPriceWithoutDis = 00;
                    $scope.TotalPrice = 00;
                    $scope.TotalDiscount = 00;
                    $scope.SaleReturn = {};
                    $scope.SaleReturn.Date = new Date();
                    $scope.SaleReturn.TotalDiscount = 0;
                    $scope.SaleReturn.Due = 0;
                    $scope.SaleReturn.vat = 0;
                    $scope.SaleReturn.TotalPaid =0;
                    $scope.SaleReturnId = null;
                    $scope.Sale = {};
                    $scope.SaleReturn.SaleReturnDetails = [];
                    $scope.SaleReturn.TotalPaid = 0;
                    $scope.print = print;

                    $scope.calculate = calculate;
                    $scope.Catagorys = [];
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;
                    $scope.btnDis = false;
                    calculate();
                    $scope.submitted = false;
                    if ('@ViewBag.Id' != 0) {
                        var Id='@ViewBag.Id';
                        GetSaleReturns(Id);
                    }
                }
                function resetForm() {
                    $scope.modalTitle = "Add Purchases";
                    $scope.btn = "Save";
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.TotalPrice = 0;
                    $scope.TotalQty = 0;
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.SaleReturn.Date = new Date();
                    $scope.SaleReturn = {};
                    $scope.SaleReturn.SaleReturnDetails = [];
                }
                $scope.onSelect = function onSelect($item, model, label, items) {
                    $scope.SaleReturn.details = {};
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Sale/GetSaleDetail/' + $item.Value
                    }).then(function successCallback(response) {
                        $scope.SaleReturn = response.data.results;
                        response.data.results.ProductId = $item.Value;
                        $scope.SaleReturn.SaleReturnDetails = [];
                        $scope.SaleReturn.SaleReturnDetails.push(response.data.results.SalesDetails);
                        $scope.SaleReturn.TotalPaid = 0;
                        $scope.SaleReturn.NetTotal = 0;
                        calculate();
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                $scope.InvReprot = function (Id) {
                    $scope.url = "@Url.Action("Invoice", "SaleReturn")?Id=" + $scope.SaleReturn.Id;
                    window.open($scope.url,"_blanck");
                };
               function calculate() {
                   $scope.Total = 0;
                   $scope.TotalDiscount = 0;
                   $scope.TotalQtyReturn = 0;
                   $scope.SaleReturn.ReturnAmount = 0;
                   $scope.TotalQty = 0;
                   $scope.SaleReturn.Due = 0;
                   $scope.SaleReturn.TotalAmount = 0;
                   $scope.SaleReturn.Discounts = 0;
                   $scope.SaleReturn.TotalDiscount = 0;
                   $scope.SaleReturn.Total = 0;
                   angular.forEach($scope.SaleReturn.SalesDetails, function (value, key) {
                       value.Checked = angular.isUndefined(value.Checked) ? false : value.Checked;
                       value.Return = num(value.Return);
                       if (num(value.Return) >= num(value.Quantity)) {
                           value.Return = value.Quantity;
                       }
                       if (value.Checked) {
                           if (num(value.Return) <= num(value.Quantity)) {
                               value.TotalAmount = (num(value.SalsPrice) * num(value.Return));
                               $scope.SaleReturn.Total += (num(value.SalsPrice) * num(value.Return));
                           } else {
                               value.Return = value.Quantity;
                               return;
                           }
                           $scope.SaleReturn.TotalDiscount += num(value.Discount);
                           $scope.TotalQty += num(value.Quantity);
                           $scope.TotalQtyReturn += num(value.Return);
                       }
                       else {
                           value.Return =0;
                       }
                      
                   });
                   if ($scope.SaleReturn.Total < num($scope.SaleReturn.NetTotal) ) {
                       $scope.SaleReturn.ReturnAmount = num($scope.SaleReturn.NetTotal) - $scope.SaleReturn.Total;
                   }
                    }
             
                $scope.Search = function (val) {
                    $scope.SaleReturn = [];
                    if (val.length >= 3)
                        return $http.get(baseUrl + 'Sale/GetInvoice/' + val , {
                            params: {}
                        }).then(function (response) {
                            return response.data.results.map(function (item) {
                                return item;
                            });
                        });
                };
                $scope.SearchCustomer = function (val) {
                    if (val.length >= 3)
                        return $http.get(baseUrl + 'Customer/GetCustomerByName/' + val, {
                            params: {}
                        }).then(function (response) {
                            return response.data.results.map(function (item) {
                                return item;
                            });
                        });
                };


                $scope.save = function save(e) {
                    if ($scope.SaleReturn.NetTotal == 0) {
                        $scope.addform.TotalPaid.$invalid = true;
                        $scope.submitted = true;
                        return;
                    }
                    $scope.SaleReturn.BranchId = localStorage.getItem("BrandId");
                    if ($scope.SaleReturn != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'SalesReturn/AddSalesReturn/',
                            data: $scope.SaleReturn
                        }).then(function successCallback(response) {
                            AlertService.success(response.data.Message);
                            $scope.SaleReturnId = response.data.results;
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.savePrint = function save(e) {
                    if ($scope.SaleReturn.NetTotal == 0) {
                        $scope.addform.TotalPaid.$invalid = true;
                        $scope.submitted = true;
                        return;
                    }
                    $scope.SaleReturn.BranchId = localStorage.getItem("BrandId");
                    if ($scope.SaleReturn != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'SalesReturn/AddSalesReturn/',
                            data: $scope.SaleReturn
                        }).then(function successCallback(response) {
                            AlertService.success(response.data.Message);
                            $scope.Solds = response.data.results;
                            $scope.url = "@Url.Action("Invoicereturn", "Sales")?Id=" + response.data.results.Id;
                            window.open($scope.url, "_blanck");
                            //print();
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.DeletePro = function DeletePro(item) {
                    var index = $scope.SaleReturn.SaleReturnDetails.indexOf(item);
                    $scope.TotalPrice = $scope.TotalPrice - item.TotalPrice;
                    $scope.TotalDiscount = $scope.TotalDiscount - item.Discount;
                    $scope.SaleReturn.Due = $scope.TotalPrice;
                    $scope.SaleReturn.SaleReturnDetails.splice(index, 1);
                }
               function print () {
                    var innerContents = document.getElementById('printdiv').innerHTML;
                    var popupWinindow = window.open('', '_blank', 'width=600,height=700,scrollbars=no,menubar=no,toolbar=no,location=no,status=no,titlebar=no');
                    popupWinindow.document.open();
                    popupWinindow.document.write('<html><head><link rel="stylesheet" type="text/css" href="style.css" /></head><body onload="window.print()">' + innerContents + '</html>');
                    popupWinindow.document.close();
                }
                function num(a) {
                    if ($.isNumeric(a)) {
                        a = a < 0 ? 0 : a;
                        return parseInt(a);
                    } else {
                        return 0;
                    }
                }
            }]);
    </script>
}
