﻿@{
    ViewBag.Title = "SalesReturnReturnList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- widget content -->
<div class="widget-body" ng-controller="SalesReturnListCrtl">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>SalesReturn List</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form name="addform" ng-submit="Search()" class="form-horizontal" id="form_sample_1" novalidate>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="form-group  col-md-10" ng-class="{ 'has-error' : submitted && addform.MinimumStock.$invalid}">
                                            <label class="col-md-2 control-label">
                                                Date :
                                            </label>
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <input class="form-control" type="text" ng-click="p1=true" is-open="p1" name="Date" readonly ng-model="Purchease.statDate" placeholder="Start Date" uib-datepicker-popup="dd/MM/yyyy" required />
                                                    <span class="input-group-addon Bold font-weight-bold"><b>To</b></span>
                                                    <input class="form-control" type="text" ng-click="p2=true" is-open="p2" name="Date" readonly ng-model="Purchease.endDate" placeholder="End Date" uib-datepicker-popup="dd/MM/yyyy" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 pull-right">
                                            <div class="pull-right">
                                                <button type="button" data-dismiss="modal" class="btn dark btn-outline btn-warning" ng-click="resetForm();submitted=false">Cancel</button>
                                                <button type="submit" ng-click="submitted=true" class="btn green-haze btn-success" ng-disabled="btnDis">Search <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr />
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-4 col-sm-5 col-xs-6">
                                    <div class="form-Product">
                                        <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">
                                            <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                        </div>
                                        <div class="col-md-7  col-sm-8  col-xs-4">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-5">

                                </div>
                                <div class="col-md-6 col-sm-3 col-xs-1">
                                    <div id="sample_3_filter" class="pull-right">
                                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>InvoiecNo</th>
                                            <th>Date</th>
                                            <th>Total Paid</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="SalesReturn.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                        @*<tr ng-repeat="item in Suppliers">*@
                                        <tr dir-paginate="item in SalesReturn| filter:q|itemsPerPage:pageSize">
                                            <td>{{item.InvoiecNo}}</td>
                                            <td>{{item.Date  | date : format : 'dd-MM-yyyy'}}</td>
                                            <td>{{item.NetTotal}}</td>
                                            <td>
                                                <a href="javascript:;" class="btn btn-icon-only btn-info  btn-xs" ng-click="InvReprot(item.Id)">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a ng-click="deleteBranch(item)" href="javascript:;" class="btn btn-icon-only red btn-warning  btn-xs">
                                                    <i class="fa fa-trash"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <dir-pagination-controls boundary-links="true" template-url="~/Content/dirPagination.tpl.html"></dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">

        app.controller("SalesReturnListCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', "SweetAlert",
            function ($scope, $http, $q, $timeout, AlertService, SweetAlert) {
                init();
                function init() {
                    initialize();
                    getSalesReturn();
                }
                function initialize() {
                    $scope.SalesReturn = [];
                    $scope.getSalesReturn = getSalesReturn;
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;
                    $scope.btnDis = false;
                    $scope.spin = false;
                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                }

                function resetForm() {
                    $scope.modalTitle = "Add Purchase";
                    $scope.btn = "Save";
                    $scope.branch.BranchId = 0;
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.Purchase = {};
                }

                function getSalesReturn() {
                    $scope.SalesReturn = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'SalesReturn/GetAllSalesReturn/'
                    }).then(function successCallback(response) {
                        $scope.SalesReturn = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
          $scope.InvReprot = function (Id) {
                     $scope.url = "@Url.Action("Invoice", "SalesReturn")?Id=" + Id;
                    window.open($scope.url,"_blanck");
                };
                $scope.edit = function (n) {
                    var usl = '@Url.Action("SalesReturnPos", "SalesReturn")?Id=' + n.Id;
                    window.open(usl);
                };

                $scope.save = function save(e) {
                    if ($scope.addform.$invalid)
                        return;
                    if ($scope.Purchase != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Purchase/AddPurchase/',
                            data: $scope.Purchase
                        }).then(function successCallback(response) {
                            $('#addmodal').modal('toggle');
                            getBranchs();
                            AlertService.warning(response.data.Message);
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
              

            }]);
    </script>
    }



