﻿@{
    ViewBag.Title = "SalesPos";
    Layout = "~/Views/Shared/_LayoutPOS.cshtml";
}
<div class="widget-body" ng-controller="SalesCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-darken" id="wid-id-1" data-widget-editbutton="false" style="margin: 0 0 5px;">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Sales</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class=" col-md-12">
                                <form name="addform" class="form-horizontal" novalidate>
                                    <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted1 && addform.InvoiecNo.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Invoiec No :
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" ng-model="Sales.InvoiecNo" placeholder="Invoiec No" required />
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted1 && addform.InvoiecNo.$error.required" class="help-block">InvoiecNo Required</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted1 && addform.Date.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Date :
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" ng-click="p1=true" is-open="p1" readonly ng-model="Sales.Date" placeholder="Start Date" uib-datepicker-popup="dd/MM/yyyy" name="Date" required />
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted1  && addform.Date.$error.required" class="help-block">Date Required</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3" ng-class="{ 'has-error' : submitted1 && addform.CatagoryId.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Branch :
                                        </label>
                                        <div class="col-md-8">
                                            <select ng-model="Sales.BranchId" class="form-control" name="BranchId" ng-options="Branch.BranchId as Branch.BranchName for Branch in Branchs">
                                                <option value=''>Select Option</option>
                                            </select>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted1 && addform.BranchId.$error.required" class="help-block">Branch Required</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- widget grid -->
    <section id="widget-grid" class="" style="margin-top:-20px">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-darken" id="wid-id-1" data-widget-editbutton="false" style="margin: 0 0 5px;">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Sales Detail</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="col-md-8">
                                <!--begin::Portlet-->
                                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                                    <div class="m-portlet__head">
                                        <div class="m-portlet__head-caption">
                                            <span class="m-portlet__head-icon m--hide">
                                                <i class="flaticon-statistics"></i>
                                            </span>
                                            <form name="FormSalesDetail" ng-submit="GetSalesDetail()" novalidate>
                                                <div class="form-group col-md-8">
                                                    <div class="control-label"><b>Product Search  </b></div>
                                                    <input type="text" ng-model="Std" typeahead-on-select='onSelect($item, $model, $label)'
                                                           placeholder="Search Product Name Code" uib-typeahead="i  as i.Text for i in Search($viewValue)"
                                                           typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control input-lg">
                                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                    <div ng-show="noResults"><i class="glyphicon glyphicon-remove"></i> No Results Found</div>
                                                    <input type="hidden" name="StudentIID" ng-model="StudentIID" ng-value="Std.Value" />
                                                </div>
                                                <div class="form-group col-md-2" ng-class="{ 'has-error' : submitted && FormSalesDetail.Qty.$invalid}">
                                                    <div class="control-label"><b>Qty </b></div>
                                                    <input type="text" name="Qty" ng-model="Product.Qty" required class="form-control form-control-sm m-input input-lg" placeholder="Qty" />
                                                    <div class="form-control-focus"> </div>
                                                    <span ng-show="submitted && FormSalesDetail.name.$error.required" class="help-block">Qty Required</span>
                                                </div>
                                                <div class="control-label col-md-2"><b>---</b></div> <button type="submit" ng-click="submitted=true;" class="btn btn-info btn-sm"> Add Item</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-section">
                                    <table class="table m-table table-sm d-xl-table m-table--head-bg-success">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <span class="fa fa-trash"></span>
                                                </th>
                                                <th># </th>
                                                <th>Purchases Name</th>
                                                <th> QTY</th>
                                                <th> UnitePrice </th>
                                                <th> Discount </th>
                                                <th> Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in Sales.SalesDetails">
                                                <td scope="row">
                                                    <span class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill" ng-click="DeletePro(item)"><i class="fa fa-trash"></i></span>
                                                </td>
                                                <td>{{$index+1}} </td>
                                                <td>{{item.ProductName}}</td>
                                                <td>{{item.Quantity}}</td>
                                                <td>{{item.UnitePrice}}</td>
                                                <td>{{item.Discount}}</td>
                                                <td>{{item.TotalPrice}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--end::Section-->
                                </div>
                                <!--end::Form--><div class="row">
                                    <div class="alert alert-danger center col-md-12 Bold " style="text-align:center"><h4>Total :  {{TotalPrice}} TK</h4></div>
                                </div> <!--end::Portlet-->
                            </div>
                            <!--end::Portlet-->
                            <div class="col-md-4">
                                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                                    <div class="">
                                        <div class="m-portlet__head-caption">
                                            <div class="m-portlet__head-title">
                                                <table class="table table-responsive-sm table-sm">
                                                    <tr>
                                                        <td>
                                                            <b>Customer</b>
                                                        </td>
                                                        <td>
                                                            <select ng-model="Sales.CustomerId" class="form-control" name="SupplierId" ng-options="Customer.Id as Customer.Name for Customer in Customers">
                                                                <option value=''>Select Option</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr><td><b> Total</b> </td><td><input class="form-control form-control-sm m-input" ng-value="TotalPrice" ng-disabled="true" /></td></tr>
                                                    <tr><td><b>Due </b></td><td><input ng-disabled="true" ng-model="Sales.Due" class="form-control form-control-sm m-input" /></td></tr>
                                                    <tr>
                                                        <td><b>Pay Amount </b></td>
                                                        <td>
                                                            <input ng-model="Sales.TotalPaid" ng-change="Sales.Due=TotalPrice-Sales.TotalPaid"
                                                                   class="form-control form-control-sm m-input" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Payment Type </b></td>
                                                        <td>
                                                            <select class="form-control form-control-sm m-input" ng-model="Sales.PaymentType">
                                                                <option value="">Select Option</option>
                                                                <option value="1">Cash</option>
                                                                <option value="2">Bank</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr ng-show="Sales.PaymentType==2">
                                                        <td>
                                                            Bank Name
                                                        </td>
                                                        <td>
                                                            <select ng-model="Sales.BankId" class="form-control" name="BankId" ng-options="Bank.BankId as Bank.BankName for Bank in Banks">
                                                                <option value=''>Select Option</option>
                                                            </select>
                                                        </td>
                                                    <tr ng-show="Sales.PaymentType==2">
                                                        <td>
                                                            Cheque No.
                                                        </td>
                                                        <td>
                                                            <div class="form-group ">
                                                                <div class="">
                                                                    <input ng-model="Sales.ChequeNo" class="form-control form-control-sm m-input" />
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <a href="#" class="btn btn-warning m-btn m-btn--custom m-btn--icon  col-md-5" ng-click="submitted=true;submitted1=true;save()">
                                                                <span class="font-weight-bold" style="font-size:24px;text-align:center">
                                                                    <i class="fa flaticon-bag fa-3x"></i>
                                                                    <span>
                                                                        Save
                                                                    </span>
                                                                </span>
                                                            </a>
                                                            <a ng-hide="SalesId==null" target="_blank" href="@Url.Action("SalesInvioce","Report")?SalesId={{SalesId}}" class="btn btn-primary m-btn m-btn--custom m-btn--icon  col-md-5">
                                                                <span class="font-weight-bold" style="font-size:24px;text-align:center">
                                                                    <i class="fa flaticon-bag fa-3x"></i>
                                                                    <span>
                                                                        Report
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>

@section Scripts{
    
    <script type="text/javascript">
        $(function () {
            $('.minifyme').click();
        });
        app.controller("SalesCrtl", ["$scope", "$http", '$q', '$timeout', "AlertService",
            function ($scope, $http, $q, $timeout, AlertService) {
                init();
                function init() {
                    initialize();
                    GetBranch();
                    GenerateInvoice();
                    GetBank();
                    GetCustomer();
                }
                function initialize() {
                    $scope.modalTitle = "Add Sales";
                    $scope.btn = "Save";
                    $scope.Product = {};
                    $scope.TotalPriceWithoutDis = null;
                    $scope.TotalPrice = null;
                    $scope.TotalDiscount = null;
                    $scope.Sales = {};
                    $scope.Sales.Date = new Date();
                    $scope.SalesId = null;
                    $scope.Sales.SalesDetails = [];
                    $scope.Catagorys = [];
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;
                    $scope.btnDis = false;
                }
                function resetForm() {
                    $scope.modalTitle = "Add Purchases";
                    $scope.btn = "Save";
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.Purchases = {};
                }
                $scope.GetSalesDetail = function GetSalesDetail() {
                    for (var i = 0; i < $scope.Sales.SalesDetails.length; i++) {
                        if ($scope.Sales.SalesDetails[i].ProductId == $scope.Std.Value) {
                            AlertService.warning("This Product Already Added");
                            return;
                        }
                    }
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Sales/GetSalesDetail/' + $scope.Sales.BranchId + '/' + $scope.Std.Value + '/' + $scope.Product.Qty
                    }).then(function successCallback(response) {
                        $scope.Sales.SalesDetails.push(response.data.results);
                        $scope.TotalPrice = $scope.TotalPrice + response.data.results.TotalPrice;
                        $scope.TotalDiscount = $scope.TotalDiscount + response.data.results.Discount;
                        $scope.TotalPriceWithoutDis = response.data.results.Quantity * response.data.results.UnitPrice
                        $scope.Sales.Due = $scope.TotalPrice;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GetCustomer() {
                    $scope.Customers = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Customer/GetAllCustomer/'
                    }).then(function successCallback(response) {
                        $scope.Customers = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GetBank() {
                    $scope.Banks = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Bank/GetBanks/'
                    }).then(function successCallback(response) {
                        $scope.Banks = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GetBranch() {
                    $scope.Branchs = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Branch/GetBranchs/'
                    }).then(function successCallback(response) {
                        $scope.Branchs = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GenerateInvoice() {
                    $scope.InvoiceId = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Sale/GenerateInvoice/'
                    }).then(function successCallback(response) {
                        $scope.Sales.InvoiecNo = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }

                $scope.onSelect = function onSelect($item) {

                }
                $scope.Search = function (val) {
                    if (val.length >= 3)
                        return $http.get(baseUrl + 'Product/GetProducts/' + val, {
                            params: {}
                        }).then(function (response) {
                            return response.data.results.map(function (item) {
                                return item;
                            });
                        });
                };
                $scope.save = function save(e) {
                    if ($scope.addform.$invalid)
                        return;
                    if ($scope.Sales != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Sales/AddUpdateSales/',
                            data: $scope.Sales
                        }).then(function successCallback(response) {
                            AlertService.success(response.data.Message);
                            $scope.SalesId = response.data.results;
                            $scope.Sales = [];
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.DeletePro = function DeletePro(item) {
                    var index = $scope.Sales.SalesDetails.indexOf(item);
                    $scope.TotalPrice = $scope.TotalPrice - item.TotalPrice;
                    $scope.TotalDiscount = $scope.TotalDiscount - item.Discount;
                    $scope.Sales.Due = $scope.TotalPrice;
                    $scope.Sales.SalesDetails.splice(index, 1);
                }
                $scope.deletePurchases = function deletePurchases(n) {
                    // SweetAlert.swal("Good job!", "You clicked the button!", "success");
                    swangular.swal({
                        title: "Are you sure to delete it ?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                $http({
                                    method: 'POST',
                                    url: baseUrl + 'Purchasess/DeletePurchases/',
                                    data: n
                                }).then(function successCallback(response) {
                                    SweetAlert.swal("Deleted!", "Your data has been deleted.", "success");
                                    getPurchasess();
                                }, function errorCallback(response) {
                                    AlertService.warning(response.data.Message);
                                });

                            }
                        });
                };
                function createStringByArray(array) {
                    var output = '';
                    angular.forEach(array, function (value, key) {
                        if (!isNaN(parseInt(value))) {
                            output += value + ',';
                        }
                        else {
                            output += "'" + value.toString() + '\',';
                        }
                    });
                    return output;
                }
            }]);
    </script>
}
