﻿
@{
    ViewBag.Title = "Salse Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- widget content -->
<div class="widget-body" ng-controller="SalseReportCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Salse Report</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form name="addform" ng-submit="" class="form-horizontal" id="form_sample_1" novalidate>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Invoice:
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" ng-model="Invoice"
                                                       placeholder="Search Invoice" uib-typeahead="i  as i.Text for i in SearchInvoice($viewValue)"
                                                       typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Customer :
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" ng-model="Customer"
                                                       placeholder="Search Customer Name/Code" uib-typeahead="i  as i.Text for i in SearchCustomer($viewValue)"
                                                       typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Date :
                                            </label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input class="form-control" type="text" name="startdate" id="startdate" readonly ng-model="Model.From" placeholder="Start" />
                                                    <span class="input-group-addon Bold font-weight-bold"><b>To</b></span>
                                                    <input class="form-control" type="text" name="finishdate" id="finishdate" readonly ng-model="Model.To" placeholder="End" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Branch :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Model.BranchId" class="form-control" name="BranchId" ng-options="Catagory.Id as Catagory.BranchName for Catagory in Branchs">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-pull-1 col-md-4 pull-right" style="padding-right:0px">
                                            <div class="pull-right">
                                                <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="resetForm();submitted=false">Reset</button>
                                                <button type="submit" ng-click="submitted=true;Show()" class="btn green-haze btn-success" ng-disabled="btnDis">Show <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                                                <button type="submit" ng-click="submitted=true;Report()" class="btn green-haze btn-info" ng-disabled="btnDis">Report <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr />
                            <div ng-hide="List.length <= 0">
                                <div class="row" style="margin-bottom:5px">
                                    <div class="col-md-4 col-sm-5 col-xs-6">
                                        <div class="form-Purchease">
                                            <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">
                                                <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                            </div>
                                            <div class="col-md-7  col-sm-8  col-xs-4">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-5">

                                    </div>
                                    <div class="col-md-6 col-sm-3 col-xs-1">
                                        <div id="sample_3_filter" class="pull-right">
                                            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Invoiec No</th>
                                                <th>Date</th>
                                                <th>Customer </th>
                                                <th>Sales Quantity </th>
                                                <th>Total Paid </th>
                                                <th>Payment Type</th>
                                                <th>Branch</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            <tr ng-show="List.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                            <tr dir-paginate="item in List| filter:q|itemsPerPage:pageSize">
                                                <td>{{item.Invoice}}</td>
                                                <td>{{item.Date|date :  "dd/MM/yyyy" }}</td>
                                                <td>{{item.CustomName}}</td>
                                                <td>{{item.SalesQuantity}}</td>
                                                <td>{{item.TotalPaid}}</td>
                                                <td>{{item.PaymentType}}</td>
                                                <td>{{item.BranchName}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div>
                                        <dir-pagination-controls boundary-links="true" template-url="~/Content/dirPagination.tpl.html"></dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script>
        $(document).ready(function () {
            // START AND FINISH DATE
            $('#startdate').datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#finishdate').datepicker('option', 'minDate', selectedDate);
                }
            });

            $('#finishdate').datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#startdate').datepicker('option', 'maxDate', selectedDate);
                }
            });
        })
    </script>
    <script type="text/javascript">

        app.controller("SalseReportCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', 'DTOService', 'blockUI', '$filter',
            function ($scope, $http, $q, $timeout, AlertService, DTOService, blockUI, $filter) {
                init();
                function init() {
                    initialize();
                    getBranchs();
                }
                function initialize() {
                    $scope.List = [];
                    $scope.Model = {};
                    $scope.Invoice = {};
                    $scope.Invoice.Value = null;
                    $scope.Invoice.Text = null;
                    $scope.Customer = {};
                    $scope.Customer.Value = null;
                    $scope.Customer.Text = null;


                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;

                    $scope.btnDis = false;
                    $scope.spin = false;

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                }
                function getBranchs() {
                    $scope.Branchs = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Stock/GetAllActiveBranches/'
                    }).then(function successCallback(response) {
                        $scope.Branchs = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                $scope.ModelReadyforPost = function ModelReadyforPost() {
                    var start = $("#startdate").val();
                    var finish = $("#finishdate").val();

                    if (angular.isUndefined(start) || start == null || start == "")
                        $scope.Model.From = null;
                    else {
                        var arr = start.split("/");
                        var startdate = new Date(arr[1] + "/" + arr[0] + "/" + arr[2]);
                        $scope.Model.From = $filter('date')(startdate, 'MM-dd-yyyy');
                    }

                    if (angular.isUndefined(finish) || finish == null || finish == "")
                        $scope.Model.To = null;
                    else {
                        var arr = finish.split("/");
                        var finishdate = new Date(arr[1] + "/" + arr[0] + "/" + arr[2]);
                        $scope.Model.To = $filter('date')(finishdate, 'MM-dd-yyyy');
                    }

                    if (angular.isUndefined($scope.Invoice) || $scope.Invoice == null)
                        $scope.Model.InvoiceNo = null;
                    else
                        $scope.Model.InvoiceNo = $scope.Invoice.Text;

                    if (angular.isUndefined($scope.Customer) || $scope.Customer == null)
                        $scope.Model.CustomerId = null;
                    else
                        $scope.Model.CustomerId = $scope.Customer.Value;
                };
                $scope.Show = function Show() {
                    $scope.ModelReadyforPost();
                    blockUI.start();
                    $scope.List = [];
                    $http({
                        method: 'POST',
                        url: baseUrl + 'Sale/SalseReport',
                        data: $scope.Model
                    }).then(function (response) {
                        $scope.List = response.data.results;
                        blockUI.stop();
                        resetForm();
                    }, function errorCallback(response) {
                        blockUI.stop();
                        AlertService.warning(response.data.Message);
                    });
                };
                $scope.Report = function Report() {
                    $scope.ModelReadyforPost();
                    $scope.ModelReadyforPost();
                    var form = document.createElement("form");
                    form.target = "_blank";
                    form.method = "POST";
                    form.action = window.location.origin + '/Sales/SalseReportCall/';
                    form.style.display = "none";

                    for (var key in $scope.Model) {
                        var input = document.createElement("input");
                        input.type = "hidden";
                        input.name = key;
                        if ($scope.Model[key] != "") {
                            input.value = $scope.Model[key]
                        }
                        else {
                            input.value = " "
                        }
                        form.appendChild(input);
                    }

                    document.body.appendChild(form);
                    form.submit();
                    document.body.removeChild(form);
                    resetForm();
                };
                function resetForm() {
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;

                    $scope.Model = {};
                    $scope.Invoice = {};
                    $scope.Invoice.Value = null;
                    $scope.Invoice.Text = null;
                    $scope.Customer = {};
                    $scope.Customer.Value = null;
                    $scope.Customer.Text = null;
                }
                $scope.SearchCustomer = function (val) {
                    if (val.length >= 3)
                        return $http.get(baseUrl + 'Customer/GetCustomerByName/' + val, {
                            params: {}
                        }).then(function (response) {
                            return response.data.results.map(function (item) {
                                return item;
                            });
                        });
                };
                $scope.SearchInvoice = function (val) {
                    $scope.SaleReturn = [];
                    if (val.length >= 3)
                        return $http.get(baseUrl + 'Sale/GetInvoice/' + val, {
                            params: {}
                        }).then(function (response) {
                            return response.data.results.map(function (item) {
                                return item;
                            });
                        });
                };


            }]);
    </script>
}






