﻿
@{
    ViewBag.Title = "ProductSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- widget content -->
<div class="widget-body" ng-controller="ProductCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{modalTitle}}</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form name="addform" ng-submit="" class="form-horizontal" id="form_sample_1" novalidate>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Name/Code:
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" ng-model="Std" placeholder="Search Product Name/Code" uib-typeahead="i  as i.Text for i in Search($viewValue)"
                                                       typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group  col-md-4">
                                            <label class="col-md-4 control-label">
                                                Catagory :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.CatagoryId" class="form-control" name="CatagoryId" ng-change="GetSubCategory(Product.CatagoryId)" ng-options="Catagory.Id as Catagory.CatagoryName for Catagory in Categorys">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Sub Category :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.SubCategoryId" class="form-control" name="SubCategorys" ng-options="SubCategory.Id as SubCategory.SubCatagoryName for SubCategory in SubCategorys">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Brand :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.BrandId" class="form-control" name="Brand" ng-options="Brand.Id as Brand.BrandName for Brand in Brands">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" >
                                            <label class="col-md-4 control-label">
                                                UOM :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.UOMId" class="form-control" name="UOM" ng-options="UOM.Id as UOM.UOMName for UOM in UOMs">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" >
                                            <label class="col-md-4 control-label">
                                                Size :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.SizeId" class="form-control" name="Size" ng-options="Size.Id as Size.SizeName for Size in Sizes">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group  col-md-4" >
                                            <label class="col-md-4 control-label" style="padding-right:0px">
                                                Stock :
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" ng-model="Product.StockFrom" class="form-control" placeholder="Min" name="MinimumStock">
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" ng-model="Product.StockTo" class="form-control" placeholder="Max" name="MinimumStock">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" >
                                            <label class="col-md-4 control-label">
                                                Sales Price :
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" ng-model="Product.PriceFrom" class="form-control" placeholder="Min" name="SalsPrice">
                                            </div><div class="col-md-4">
                                                <input type="text" ng-model="Product.PriceTo" class="form-control" placeholder="Max" name="SalsPrice">
                                            </div>
                                        </div>


                                        <div class="form-group col-md-4">
                                            <div class="col-md-4  control-label"> Image Exist </div>
                                            <div class="col-md-8">
                                                <span class="onoffswitch">
                                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-tabs" ng-model="Product.IsImage">
                                                    <label class="onoffswitch-label" for="show-tabs">
                                                        <span class="onoffswitch-inner" data-swchon-text="Yes" data-swchoff-text="NO"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-pull-1 col-md-4 pull-right" style="padding-right:0px"> 
                                            <div class="pull-right">
                                                <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="resetForm();submitted=false">Reset</button>
                                                <button type="submit" ng-click="submitted=true;Show()" class="btn green-haze btn-success" ng-disabled="btnDis">Show <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                                                <button type="submit" ng-click="submitted=true;Report()" class="btn green-haze btn-info" ng-disabled="btnDis">Report <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                                                <button type="submit" ng-click="submitted=true;Barcode()" ng-hide="Products.length <= 0" class="btn green-haze btn-info" ng-disabled="btnDis">Print Barcode <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr />
                            <div ng-hide="Products.length <= 0">
                                <div class="row" style="margin-bottom:5px">
                                    <div class="col-md-4 col-sm-5 col-xs-6">
                                        <div class="form-Product">
                                            <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">
                                                <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                            </div>
                                            <div class="col-md-7  col-sm-8  col-xs-4">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-5">

                                    </div>
                                    <div class="col-md-6 col-sm-3 col-xs-1">
                                        <div id="sample_3_filter" class="pull-right">
                                            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" ng-model="selectedAll" ng-click="selectedAll==true;CheckAll()" /></th>
                                                <th>Product Code</th>
                                                <th>Product Name</th>
                                                <th>UOM </th>
                                                <th>Catagory </th>
                                                <th>Size </th>
                                                <th>Brand </th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                        <tr ng-show="Products.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                        @*<tr ng-repeat="item in Products | filter:q">*@
                                        <tr dir-paginate="item in Products| filter:q|itemsPerPage:pageSize">
                                            <td> <input type="checkbox" ng-change="singleItem();" ng-model="item.Selected" ng-checked="item.Selected==true" /> </td>
                                            <td>{{item.Code}}</td>
                                            <td>{{item.Name}}</td>
                                            <td>{{item.UOMName}}</td>
                                            <td>{{item.CatagoryName}}</td>
                                            <td>{{item.ProductSizeName}}</td>
                                            <td>{{item.ProductBrandName}}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div>
                                        <dir-pagination-controls boundary-links="true" template-url="~/Content/dirPagination.tpl.html"></dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">

        app.controller("ProductCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', 'DTOService', 'blockUI','$window',
            function ($scope, $http, $q, $timeout, AlertService, DTOService, blockUI, $window) {
                init();
                function init() {
                    initialize();
                    getBrand();
                    getCategory();
                    getColor();
                    getSizes();
                    getSubCategorys();
                    getUOMs();
                   // GetProduct();
                    getEvents();

                }
                function initialize() {
                    $scope.modalTitle = "Product Search/Report";
                   // $scope.btn = "Save";
                    $scope.Product = {};
                    $scope.Products = [];
                    $scope.Brands = [];
                    $scope.Colors = [];
                    $scope.SubCategorys = [];
                    $scope.UOMs = [];
                    $scope.Branchs = [];

                    $scope.Std = {};
                    $scope.Std.Value = null;
                    $scope.Std.Text = null;

                    $scope.res = {};
                    $scope.data = {};
                    $scope.Events = [];
                    $scope.resetForm = resetForm;

                    $scope.btnDis = false;
                    $scope.spin = false;

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                }
                $scope.GetSubCategory = function GetSubCategory(n) {
                    $scope.SubCategorys = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'SubCategory/GetAllSubByCategory/' + n
                    }).then(function successCallback(response) {
                        $scope.SubCategorys = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                $scope.Search = function (val) {
                    if (val.length >= 3)
                        return $http.get(baseUrl + 'Product/GetProducts/' + val, {
                            params: {}
                        }).then(function (response) {
                            return response.data.results.map(function (item) {
                                return item;
                            });
                        });
                };
                $scope.Show = function Show() {
                    $scope.Product.ProductId = $scope.Std.Value;
                    blockUI.start();
                    $scope.Products = [];
                    $http({
                        method: 'POST',
                        url: baseUrl + 'Product/SearchProduct/',
                        data: $scope.Product
                        }).then(function (response) {
                            $scope.Products = response.data.results;
                            blockUI.stop();
                            resetForm();
                        }, function errorCallback(response) {
                            blockUI.stop();
                            AlertService.warning(response.data.Message);
                        });
                };
                $scope.Report = function Report() {
                    $scope.Product.ProductId = $scope.Std.Value;
                    var form = document.createElement("form");
                    form.target = "_blank";
                    form.method = "POST";
                    form.action = window.location.origin + '/Product/ProductReport/';
                    form.style.display = "none";

                    for (var key in $scope.Product) {
                        var input = document.createElement("input");
                        input.type = "hidden";
                        input.name = key;
                        if ($scope.Product[key] != "") {
                            input.value = $scope.Product[key]
                        }
                        else {
                            input.value = " "
                        }
                        form.appendChild(input);
                    }

                    document.body.appendChild(form);
                    form.submit();
                    document.body.removeChild(form);
                    resetForm();
                };
                function resetForm() {
                    $scope.modalTitle = "Add Product";
                   // $scope.btn = "Save";
                    $scope.branch.BranchId = 0;
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.Product = {};
                    $scope.Std = {};
                    $scope.Std.Value = null;
                    $scope.Std.Text = null;
                }
                function GetData(url) {
                    var data = new Array();
                    $http({
                        method: 'GET',
                        url: baseUrl + url
                    }).then(function successCallback(response) {
                        data= response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                        });
                    return data;
                }
                function getBrand() {
                    $scope.Brands = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Brand/GetAllBrand/'
                    }).then(function successCallback(response) {
                        $scope.Brands = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getCategory() {
                    $scope.Categorys = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Category/GetAllCategory/'
                    }).then(function successCallback(response) {
                        $scope.Categorys = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getColor() {
                    $scope.Colors = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Color/GetAllColor/'
                    }).then(function successCallback(response) {
                        $scope.Colors = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getSizes() {
                    $scope.Sizes = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Size/GetAllSize/'
                    }).then(function successCallback(response) {
                        $scope.Sizes = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getSubCategorys() {
                    $scope.SubCategorys = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'SubCategory/GetAllSubCategory/'
                    }).then(function successCallback(response) {
                        $scope.SubCategorys = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getUOMs() {
                    $scope.UOMs = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'UOM/GetAllUOM/'
                    }).then(function successCallback(response) {
                        $scope.UOMs = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getEvents() {
                    $scope.Events = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Event/GetAllEvent/'
                    }).then(function successCallback(response) {
                        $scope.Events = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                $scope.CheckAll = function () {
                    angular.forEach($scope.Products, function (item) {
                        item.Selected = $scope.selectedAll;
                    });

                };
                $scope.singleItem = function singleItem() {//for Singla student Select use this function.
                    $scope.selectedAll = $scope.Products.every(function (item) {
                        return item.Selected == true
                    })
                };
                $scope.GetSelects = function GetSelects() {
                    var res = '';
                    angular.forEach($scope.Products, function (item) {
                        if (item.Selected) {
                            res = res + ',' + item.Id
                        }
                    });

                    return res.trim()

                };
                $scope.Barcode = function () {
                    var intput1 = $scope.GetSelects()
                    if (intput1.length < 1) {
                        alert("Please Select One More Product.");
                        return;
                    }
                    var form = document.createElement("form");
                                        form.target = "_blank";
                    form.method = "POST";
                    form.action = window.location.origin + '/Product/SelectedPrductforBarcode';
                    form.style.display = "none";

                    var input = document.createElement("input");
                    input.type = "hidden";
                    input.name = "ProductIIDs";
                    input.value = intput1;
                    form.appendChild(input);

                    document.body.appendChild(form);
                    form.submit();
                    document.body.removeChild(form);
                };
            }]);
    </script>
}

