﻿@{
    ViewBag.Title = "Bulk Product Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="widget-body" ng-controller="ProductCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Bulk Product Upload</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="form-group  col-md-4" ng-class="{ 'has-error' : submitted && addform.CatagoryId.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Catagory :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.CatagoryId" class="form-control" required ng-change="GetSubCategory(Product.CatagoryId)" name="CatagoryId" ng-options="Catagory.Id as Catagory.CatagoryName for Catagory in Categorys">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.CatagoryId.$error.required" class="help-block">Catagory Required</span>

                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.SubCategorys.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Sub Category :
                                            </label>
                                            <div class="col-md-8"> 
                                                <select ng-model="Product.SubCategoryId" required class="form-control" name="SubCategorys" ng-options="SubCategory.Id as SubCategory.SubCatagoryName for SubCategory in SubCategorys">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.SubCategorys.$error.required" class="help-block">Sub Category Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.Brand.$invalid }">
                                            <label class="col-md-4 control-label">
                                                Brand :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.BrandId" class="form-control" required name="Brand" ng-options="Brand.Id as Brand.BrandName for Brand in Brands">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.Brand.$error.required" required class="help-block">Brand Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.UOMs.$invalid }">
                                            <label class="col-md-4 control-label">
                                                UOM :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.UOMId" class="form-control" required name="UOMs" ng-options="UOM.Id as UOM.UOMName for UOM in UOMs">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.UOMs.$error.required" class="help-block">UOM Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.Size.$invalid }">
                                            <label class="col-md-4 control-label">
                                                Size :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.SizeId" class="form-control" required name="Size" ng-options="Size.Id as Size.SizeName for Size in Sizes">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.Size.$error.required" class="help-block">Size Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.Size.$invalid }">
                                            <label class="col-md-4 control-label">
                                                File :
                                            </label>
                                            <div class="col-md-8">
                                                <input type="file" class="form-control" id="file" />
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.Size.$error.required" required class="help-block">Size Required</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 pull-right">
                                            <div class="">
                                                <a ng-click="Download()" class="btn green-haze  btn-info"><span class="fa fa-download"></span> Download</a>
                                                <button type="submit" ng-click="submitted=true" class="btn green-haze btn-success"> <span class="fa fa-download"></span> Upload <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                                                <button type="button" data-dismiss="modal" class="btn dark btn-outline btn-warning" ng-click="resetForm();submitted=false">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr />
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Product Code</th>
                                            <th>Product Name</th>
                                            <th>Catagory </th>
                                            <th>SubCatagory </th>
                                            <th>Brand </th>
                                            <th>UOM </th>
                                            <th>Size </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="Products.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                        <tr ng-repeat="item in Products">
                                            <td>{{item.Code}}</td>
                                            <td>{{item.Name}}</td>
                                            <td>
                                                <select ng-model="item.CatagoryId" class="form-control" ng-change="GetSubCategory(item.CatagoryId)" name="CatagoryId" ng-options="Catagory.Id as Catagory.CatagoryName for Catagory in Categorys">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select ng-model="item.SubCatagoryId" class="form-control" name="SubCategorys" ng-options="SubCategory.Id as SubCategory.SubCatagoryName for SubCategory in SubCategorys">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select ng-model="item.ProductBrandId" class="form-control" name="Brand" ng-options="Brand.Id as Brand.BrandName for Brand in Brands">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select ng-model="item.UOMId" class="form-control" name="UOM" ng-options="UOM.Id as UOM.UOMName for UOM in UOMs">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select ng-model="item.SizeId" class="form-control" name="Size" ng-options="Size.Id as Size.SizeName for Size in Sizes">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </td>
                                            <td>
                                                <a ng-click="delete(item)" href="javascript:;" class="btn btn-icon-only red">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="alert alert-info pull-right" ng-show="Products.length > 0">
                                <div>
                                    <a ng-click="Productbulk()" class="btn green-haze btn-info">Save All Product</a>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">

        app.controller("ProductCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService',
            function ($scope, $http, $q, $timeout, AlertService) {
                init();
                function init() {
                    initialize();
                    //getProducts();
                    getBrand();
                    getCategory();
                    getColor();
                    getSizes();
                    getSubCategorys();
                    getUOMs();
                    getEvents();
                }
                function initialize() {
                    $scope.Product = {};
                    $scope.Product.Id = 0;
                    $scope.Products = [];
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;
                    $scope.btnDis = false;
                    $scope.spin = false;

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                }
                function resetForm() {
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Product = {};
                }
                $scope.Download = function () {
                    if ($scope.addform.$invalid) {
                        $scope.submitted = true;
                        return;
                    }
                    $scope.url = "@Url.Action("DownloadSaveExcel", "Product")?CategoryId=" + $scope.Product.CatagoryId + "&SubCategoryId=" + $scope.Product.SubCategoryId + "&BrandId=" + $scope.Product.BrandId+ "&UOMId=" + $scope.Product.UOMId + "&SizeId=" + $scope.Product.SizeId
                    window.open($scope.url, "_blanck");
                };
                $scope.edit = function (Id) {
                    $scope.url = "@Url.Action("ProductAdd", "Product")?Id=" + Id;
                    window.open($scope.url,"_blanck");
                };
                $scope.GetSubCategory = function GetSubCategory(n) {
                    $scope.SubCategorys = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'SubCategory/GetAllSubByCategory/'+n
                    }).then(function successCallback(response) {
                        $scope.SubCategorys = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
             
                $scope.save = function save(e) {
                    if ($scope.addform.$invalid)
                        return;
                    if ($scope.Product != '') {
                        var files = $("#file").get(0).files;
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Product/AddProductExcel/',
                            headers: { 'Content-Type': undefined },
                            transformRequest: function (data) {
                                var formData = new FormData();
                                formData.append('Product', JSON.stringify($scope.Product));
                                if (files.length > 0)
                                    formData.append("file", files[0]);
                                return formData;
                            },
                            data: { Product: $scope.Product }
                        }).then(function (response) {
                            AlertService.warning(response.data.Message);
                            $scope.Products = response.data.results;
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.Productbulk = function Productbulk(e) {
                    if ($scope.addform.$invalid)
                        return;
                    if ($scope.Product != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Product/AddProductbulk//',
                            data: $scope.Products
                        }).then(function successCallback(response) {
                            AlertService.warning(response.data.Message);
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.StatusBranch = function StatusBranch(item) {
                    if (item != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Product/StatusProduct/',
                            data: item
                        }).then(function successCallback(response) {
                            getBranchs();
                            AlertService.success(response.data.message);
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                function getBrand() {
                    $scope.Brands = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Brand/GetAllBrand/'
                    }).then(function successCallback(response) {
                        $scope.Brands = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getCategory() {
                    $scope.Categorys = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Category/GetAllCategory/'
                    }).then(function successCallback(response) {
                        $scope.Categorys = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getColor() {
                    $scope.Colors = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Color/GetAllColor/'
                    }).then(function successCallback(response) {
                        $scope.Colors = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getSizes() {
                    $scope.Sizes = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Size/GetAllSize/'
                    }).then(function successCallback(response) {
                        $scope.Sizes = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getSubCategorys() {
                    $scope.SubCategorys = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'SubCategory/GetAllSubCategory/'
                    }).then(function successCallback(response) {
                        $scope.SubCategorys = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getUOMs() {
                    $scope.UOMs = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'UOM/GetAllUOM/'
                    }).then(function successCallback(response) {
                        $scope.UOMs = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getEvents() {
                    $scope.Events = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Event/GetAllEvent/'
                    }).then(function successCallback(response) {
                        $scope.Events = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                $scope.deleteBranch = function deleteBranch(item) {
                    if (item != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Product/DeleteProduct/',
                            data: item
                        }).then(function successCallback(response) {
                            getBranchs();
                            AlertService.success(response.data.message);
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
            }]);
    </script>
}
