﻿@{
    ViewBag.Title = "ProductAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- widget content -->
<div class="widget-body" ng-controller="ProductCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{modalTitle}}</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.Name.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Name:
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" ng-model="Product.Name" class="form-control" placeholder="Product Name" name="Name" required>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.Name.$error.required" class="help-block">Product Name Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-md-4" ng-class="{ 'has-error' : submitted && addform.Code.$invalid}">
                                            <label class="col-md-4 control-label" style="padding-right:0px;">
                                                Product Code :
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" ng-model="Product.Code" ng-pattern="/^\S{0,50}$/" class="form-control"
                                                       placeholder="Product Code" name="code" required>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.Code.$error.required" class="help-block">Product Code Required</span>
                                                <span style="color:red" class="help-block" ng-if="submitted && addform.Code.$invalid">No Space Allow</span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-md-4" ng-class="{ 'has-error' : submitted && addform.MinimumStock.$invalid}">
                                            <label class="col-md-4 control-label" style="padding-right:0px">
                                                MinimumStock :
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" ng-model="Product.MinimumStock" class="form-control" placeholder="Product Minimum Stock" name="MinimumStock" required>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.MinimumStock.$error.required" class="help-block">Minimum Stock Required</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group  col-md-4" ng-class="{ 'has-error' : submitted && addform.MinimumStock.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Catagory :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.CatagoryId" class="form-control" ng-change="GetSubCategory(Product.CatagoryId)" required name="CatagoryId" ng-options="Catagory.Id as Catagory.CatagoryName for Catagory in Categorys">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.SubCategorys.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Sub Category :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.SubCatagoryId" class="form-control" required name="SubCategorys" ng-options="SubCategory.Id as SubCategory.SubCatagoryName for SubCategory in SubCategorys">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.SubCategorys.$error.required" class="help-block">Sub Category Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.Brand.$invalid }">
                                            <label class="col-md-4 control-label">
                                                Brand :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.BrandId" class="form-control" required name="Brand" ng-options="Brand.Id as Brand.BrandName for Brand in Brands">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.Brand.$error.required" class="help-block">Brand Required</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.UOMs.$invalid }">
                                            <label class="col-md-4 control-label">
                                                UOM :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.UOMId" class="form-control" required name="UOM" ng-options="UOM.Id as UOM.UOMName for UOM in UOMs">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.UOMs.$error.required" class="help-block">UOM Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.Size.$invalid }">
                                            <label class="col-md-4 control-label">
                                                Size :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.SizeId" class="form-control" required name="Size" ng-options="Size.Id as Size.SizeName for Size in Sizes">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.Size.$error.required" class="help-block">Size Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.EventName.$invalid }">
                                            <label class="col-md-4 control-label" style="padding-right:0px;padding-left:0px;">
                                                Event/Discount :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.EventId" class="form-control" name="Size" ng-options="Event.Id as Event.EventName for Event in Events">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.EventName.$error.required" class="help-block">Event Required</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.SalsPrice.$invalid }">
                                            <label class="col-md-4 control-label">
                                                Sales Price :
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" ng-model="Product.SalsPrice" class="form-control" placeholder="Sals Price" name="SalsPrice">
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.SalsPrice.$error.required" class="help-block">Sales Price Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.VAT.$invalid }">
                                            <label class="col-md-4 control-label">
                                                VAT :
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" ng-model="Product.VATPercent" class="form-control" placeholder="VAT" name="VAT">
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.VAT.$error.required" class="help-block">VAT Price Required</span>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.IsActive.$invalid }">
                                            <div class="col-md-4"> </div>
                                            <div class="col-md-4">
                                                <label class="checkbox">
                                                    <input type="checkbox" ng-model="Product.IsActive" class=" " name="IsActive">
                                                    <i></i>IsActive
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.IsActive.$invalid }">
                                            <div class="col-md-4  control-label">Image </div>
                                            <div class="col-md-8">
                                                <div class="input input-file">
                                                    <span class="button"><input type="file" class="form-control" id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <a id="picker" class="btn btn-primary"><span class="date"></span> <span class="caret"></span></a>
                                        <div class="col-md-4 pull-right">
                                            <div class="">
                                                <button type="button" class="btn dark btn-outline btn-warning" ng-click="resetForm();submitted=false">Reset</button>
                                                <button type="submit" ng-click="submitted=true" class="btn green-haze btn-success" ng-disabled="btnDis">Save <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
    <!--Modal Area Start-->
    <div id="addmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">{{modalTitle}}</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="resetForm();submitted=false">Cancel</button>
                        <button type="submit" ng-click="submitted=true" class="btn green-haze btn-success" ng-disabled="btnDis">{{Save}} <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Area End-->
</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript">
        // Apply the date range picker with custom settings to the button
        $('#picker').daterangepicker({
            format: 'MM/DD/YYYY',
            startDate: moment().subtract(29, 'days'),
            endDate: moment(),
            minDate: '01/01/2012',
            maxDate: '12/31/2015',
            dateLimit: { days: 60 },
            showDropdowns: true,
            showWeekNumbers: true,
            timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            opens: 'left',
            drops: 'down',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-primary',
            cancelClass: 'btn-default',
            separator: ' to ',
            locale: {
                applyLabel: 'Submit',
                cancelLabel: 'Cancel',
                fromLabel: 'From',
                toLabel: 'To',
                customRangeLabel: 'Custom',
                daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                firstDay: 1
            }
        }, function (start, end, label) {
            $('#picker span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        });
        app.controller("ProductCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', 'DTOService', 'blockUI',
            function ($scope, $http, $q, $timeout, AlertService, DTOService, blockUI) {
                init();
                function init() {
                    initialize();
                    getBrand();
                    getCategory();
                    getColor();
                    getSizes();
                    getSubCategorys();
                    getUOMs();
                    GetProduct();
                    getEvents();

                }
                function initialize() {
                    $scope.modalTitle = "Add Product";
                    $scope.btn = "Save";
                    $scope.Product = {};
                    $scope.Brands = [];
                    $scope.Colors = [];
                    $scope.SubCategorys = [];
                    $scope.UOMs = [];
                    $scope.Branchs = [];
                    $scope.ProductId='@ViewBag.Id';
                    $scope.res = {};
                    $scope.data = {};
                    $scope.Events = [];
                    $scope.resetForm = resetForm;

                    $scope.btnDis = false;
                    $scope.spin = false;

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                }
                function GetProduct() {
                    if ($scope.ProductId != 0) {
                        $scope.Product = [];
                        $http({
                            method: 'GET',
                            url: baseUrl + 'Product/GetProduct/' + $scope.ProductId
                        }).then(function successCallback(response) {
                            $scope.Product = response.data.results;
                            $scope.modalTitle = "Update Product";
                            $scope.btn = "Update";
                        }, function errorCallback(response) {
                            toastr["warning"](response.data.Message);
                        });
                    }
                }
                function resetForm() {
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Product = {};
                }
                function GetData(url) {
                    var data = new Array();
                    $http({
                        method: 'GET',
                        url: baseUrl + url
                    }).then(function successCallback(response) {
                        data= response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                        });
                    return data;
                }
                function getBrand() {
                    $scope.Brands = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Brand/GetAllBrand/'
                    }).then(function successCallback(response) {
                        $scope.Brands = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getCategory() {
                    $scope.Categorys = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Category/GetAllCategory/'
                    }).then(function successCallback(response) {
                        $scope.Categorys = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getColor() {
                    $scope.Colors = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Color/GetAllColor/'
                    }).then(function successCallback(response) {
                        $scope.Colors = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getSizes() {
                    $scope.Sizes = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Size/GetAllSize/'
                    }).then(function successCallback(response) {
                        $scope.Sizes = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getSubCategorys() {
                    $scope.SubCategorys = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'SubCategory/GetAllSubCategory/'
                    }).then(function successCallback(response) {
                        $scope.SubCategorys = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getUOMs() {
                    $scope.UOMs = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'UOM/GetAllUOM/'
                    }).then(function successCallback(response) {
                        $scope.UOMs = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getEvents() {
                    $scope.Events = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Event/GetAllEvent/'
                    }).then(function successCallback(response) {
                        $scope.Events = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                $scope.GetSubCategory = function GetSubCategory(n) {
                    $scope.SubCategorys = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'SubCategory/GetAllSubByCategory/' + n
                    }).then(function successCallback(response) {
                        $scope.SubCategorys = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                $scope.edit = function (n) {
                    $scope.modalTitle = "Update Product";
                    $scope.btn = "Update";
                    $scope.Product = n;
                    $scope.Id = n.Id;
                };
                $scope.save = function save(e) {
                    blockUI.start();
                    if ($scope.addform.$invalid)
                        return;
                    if ($scope.Product != '') {
                        var files = $("#file").get(0).files;
                    $http({
                        method: 'POST',
                        url: baseUrl + 'Product/AddProduct/',
                        headers: { 'Content-Type': undefined },
                        transformRequest: function (data) {
                            var formData = new FormData();
                            formData.append('Product', JSON.stringify($scope.Product));
                            if (files.length > 0)
                                formData.append("Image", files[0]);
                            return formData;
                        },
                        data: { Product: $scope.Product }
                    }).then(function (response) {
                        AlertService.warning(response.data.Message);
                        blockUI.stop();
                        if ($scope.ProductId == null) {
                            resetForm();
                        }
                        }, function errorCallback(response) {
                            blockUI.stop();
                            AlertService.warning(response.data.Message);
                            });
                    }
                };
                $scope.StatusBranch = function StatusBranch(item) {
                    if (item != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Product/StatusBranch/',
                            data: item
                        }).then(function successCallback(response) {
                            getBranchs();
                            AlertService.success(response.data.message);
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };

            }]);
    </script>
}



