﻿
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="widget-body" ng-controller="ProductCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Product List</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="form-group  col-md-4" ng-class="{ 'has-error' : submitted && addform.MinimumStock.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Catagory :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.CatagoryId" class="form-control" ng-change="GetSubCategory(Product.CatagoryId)" name="CatagoryId" ng-options="Catagory.Id as Catagory.CatagoryName for Catagory in Categorys">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.SubCategorys.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Sub Category :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.SubCategoryId" class="form-control" name="SubCategorys" ng-options="SubCategory.Id as SubCategory.SubCatagoryName for SubCategory in SubCategorys">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.SubCategorys.$error.required" class="help-block">Sub Category Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.Brand.$invalid }">
                                            <label class="col-md-4 control-label">
                                                Brand :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.BrandId" class="form-control" name="Brand" ng-options="Brand.Id as Brand.BrandName for Brand in Brands">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.Brand.$error.required" class="help-block">Brand Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.UOMs.$invalid }">
                                            <label class="col-md-4 control-label">
                                                UOM :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.UOMId" class="form-control" name="UOM" ng-options="UOM.Id as UOM.UOMName for UOM in UOMs">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.UOMs.$error.required" class="help-block">UOM Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.Size.$invalid }">
                                            <label class="col-md-4 control-label">
                                                Size :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.SizeId" class="form-control" name="Size" ng-options="Size.Id as Size.SizeName for Size in Sizes">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.Size.$error.required" class="help-block">Size Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.EventName.$invalid }">
                                            <label class="col-md-4 control-label">
                                                Event :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.EventId" class="form-control" name="Size" ng-options="Event.Id as Event.EventName for Event in Events">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.EventName.$error.required" class="help-block">Event Required</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 pull-right">
                                            <div class="pull-right">
                                                <button type="button"  class="btn dark btn-outline btn-warning" ng-click="resetForm();submitted=false">Reset</button>
                                                <button type="submit" ng-click="submitted=true" class="btn green-haze btn-success" ng-disabled="btnDis">Search <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr />
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-4 col-sm-5 col-xs-6">
                                    <div class="form-Product">
                                        <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">
                                            <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                        </div>
                                        <div class="col-md-7  col-sm-8  col-xs-4">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-5">

                                </div>
                                <div class="col-md-6 col-sm-3 col-xs-1">
                                    <div id="sample_3_filter" class="pull-right">
                                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>

                                            <th>Product Code</th>
                                            <th>Product Name</th>
                                            <th>UOM </th>
                                            <th>Catagory </th>
                                            <th>Size </th>
                                            <th>Brand </th>
                                            @*<th>Color</th>*@
                                            <th>Image</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="Products.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                        @*<tr ng-repeat="item in Products | filter:q">*@
                                        <tr dir-paginate="item in Products| filter:q|itemsPerPage:pageSize">
                                            <td><a ng-click="ProductDetail(item.Id)" style="cursor:pointer"> {{item.Code}}</a></td>
                                            <td><a ng-click="ProductDetail(item.Id)" style="cursor:pointer">{{item.Name}}</a></td>
                                            <td>{{item.UOMName}}</td>
                                            <td>{{item.CatagoryName}}</td>
                                            <td>{{item.ProductSizeName}}</td>
                                            <td>{{item.ProductBrandName}}</td>
                                            @*<td>{{item.ProductColorName}}</td>*@
                                            <td><span ng-show="item.Image == null">No Image</span> <img ng-hide="item.Image == null" style="height:40px;width:40px" src="@String.Format("data:image/jpg;base64,{0}", "{{item.Image}}")" alt="{{item.Name}}"> </td>
                                            <td>
                                                <a href="javascript:;" class="btn btn-icon-only green btn-info btn-xs" ng-click="barcode(item.Id)">
                                                    <i class="fa fa-barcode"></i>
                                                </a>
                                                <a href="javascript:;" class="btn btn-icon-only green btn-success btn-xs" ng-click="edit(item.Id)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a ng-click="delete(item)" href="javascript:;" class="btn btn-icon-only btn-xs red btn-warning">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div>
                    <dir-pagination-controls boundary-links="true" template-url="~/Content/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
                            </div>
                        </div>
                        <div class="row col-md-12 pull-right">
                            <a href="javascript:;" class="btn btn-icon-only green btn-success" ng-click="barcodeall() ">
                                <i class="fa fa-qrcode"></i> BarCode Print
                            </a>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
   
</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">
        app.controller("ProductCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', "SweetAlert", 'blockUI',
            function ($scope, $http, $q, $timeout, AlertService, SweetAlert, blockUI) {
        
                init();
                function init() {
                    initialize();
                    getProducts();
                    getBrand();
                    getCategory();
                    getColor();
                    getSizes();
                    getSubCategorys();
                    getUOMs();
                   
                    getEvents();
                }
                function initialize() {
                    $scope.modalTitle = "Add Product";
                    $scope.btn = "Save";
                    $scope.Product = {};
                    $scope.Product.Id = 0;
                    $scope.Products = [];

                    $scope.getProducts = getProducts;
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;

                    $scope.btnDis = false;
                    $scope.spin = false;

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                }
                function resetForm() {
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Product = {};
                }
                function getProducts() {
                    $scope.Products = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Product/GetAllProduct/'
                    }).then(function successCallback(response) {
                        $scope.Products = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                $scope.ProductDetail = function (Id) {
                    $scope.url = "@Url.Action("ProductDetail", "Product")?Id=" + Id;
                    window.open($scope.url,"_blanck");
                };
                $scope.qrcode = function (Id) {
                    $scope.url = "@Url.Action("QRCode", "Product")?ProId=" + Id;
                    window.open($scope.url,"_blanck");
                };
                $scope.qrcodeall = function (Id) {
                    $scope.url = "@Url.Action("QRCode", "Product")";
                    window.open($scope.url,"_blanck");
                };
                $scope.barcode = function (Id) {
                    $scope.url = "@Url.Action("Barcode", "Product")?ProId=" + Id;
                    window.open($scope.url,"_blanck");
                };
                $scope.barcodeall = function (Id) {
                    $scope.url = "@Url.Action("Barcode", "Product")";
                    window.open($scope.url,"_blanck");
                };
              
                
                $scope.edit = function (Id) {
                    $scope.url = "@Url.Action("ProductAdd", "Product")?Id=" + Id;
                    window.open($scope.url,"_blanck");
                };
                $scope.GetSubCategory = function GetSubCategory(n) {
                    $scope.SubCategorys = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'SubCategory/GetAllSubByCategory/'+n
                    }).then(function successCallback(response) {
                        $scope.SubCategorys = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                $scope.save = function save(e) {
                    if ($scope.addform.$invalid)
                        return;
                    if ($scope.Product != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Product/GetAllProductFilter//',
                            data: $scope.Product
                        }).then(function successCallback(response) {
                            $('#addmodal').modal('toggle');
                            getProducts();
                            AlertService.warning(response.data.Message);
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.StatusBranch = function StatusBranch(item) {
                    if (item != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Product/StatusProduct/',
                            data: item
                        }).then(function successCallback(response) {
                            getBranchs();
                            AlertService.success(response.data.message);
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                function getBrand() {
                    $scope.Brands = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Brand/GetAllBrand/'
                    }).then(function successCallback(response) {
                        $scope.Brands = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getCategory() {
                    $scope.Categorys = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Category/GetAllCategory/'
                    }).then(function successCallback(response) {
                        $scope.Categorys = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getColor() {
                    $scope.Colors = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Color/GetAllColor/'
                    }).then(function successCallback(response) {
                        $scope.Colors = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getSizes() {
                    $scope.Sizes = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Size/GetAllSize/'
                    }).then(function successCallback(response) {
                        $scope.Sizes = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getSubCategorys() {
                    $scope.SubCategorys = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'SubCategory/GetAllSubCategory/'
                    }).then(function successCallback(response) {
                        $scope.SubCategorys = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getUOMs() {
                    $scope.UOMs = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'UOM/GetAllUOM/'
                    }).then(function successCallback(response) {
                        $scope.UOMs = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getEvents() {
                    $scope.Events = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Event/GetAllEvent/'
                    }).then(function successCallback(response) {
                        $scope.Events = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                $scope.delete = function (item) {
                    $scope.item = item;
                    SweetAlert.swal({
                        title: "Are you sure to delete it ?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                $http({
                                    method: 'POST',
                                    url: baseUrl + 'Product/DeleteProduct/',
                                    data: item
                                }).then(function successCallback(response) {
                                    SweetAlert.swal("Deleted!", "Your data has been deleted.", "success");
                                    getProducts();
                                }, function errorCallback(response) {
                                    AlertService.warning(response.data.Message);
                                });
                            }
                        });
                };
              
            }]);
    </script>
}


