﻿
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="widget-body" ng-controller="ProductCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="" >
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Product Detail </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <!-- widget content -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div style="font-size:24px;" class="col-md-6 Bold">Product Name : {{ProductStock.ProductName}}</div>
                                    <div style="font-size:22px;" class="col-md-6 Bold">Product Code : {{ProductStock.ProductCode}}</div>
                                    <table class="table table-responsive table-bordered">
                                        <tr>
                                            <th>Unite Price  :{{ProductStock.UnitePrice}}</th>
                                            <th>Sals Price   :{{ProductStock.SalsPrice}}</th>
                                            <th>Stock  :{{ProductStock.Quantity}}</th>
                                            <th>Total Purchease     :{{ProductStock.PurcheaseQuantity}}</th>
                                            <th>Total  Sale    :{{ProductStock.salesQuantity}}</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- end widget content -->
                            <span style="border-bottom:5px solid #38a455;padding-bottom:5px;text-align:center;font-size:20px;">Purchease Detail</span>
                            <br />
                            <div class="table-responsive" style="margin-top:15px;">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Product Code</th>
                                            <th>Product Name</th>
                                            <th>Date</th>
                                            <th>Unite Price </th>
                                            <th>Quantity </th>
                                            <th>Discount </th>
                                            <th>TotalPrice </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="ProductPurchease.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                        <tr ng-repeat="item in ProductPurchease">
                                            <td>{{item.ProductCode}}</td>
                                            <td>{{item.ProductName}}</td>
                                            <td>{{item.Date}}</td>
                                            <td>{{item.UnitePrice}}</td>
                                            <td>{{item.Quantity}}</td>
                                            <td>{{item.Discount}}</td>
                                            <td>{{item.TotalPrice}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <span style="border-bottom:5px solid #38a455;padding-bottom:5px;text-align:center;font-size:20px;">Sales Detail</span>
                            <br />
                            <div class="table-responsive"  style="margin-top:15px;">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Product Code</th>
                                            <th>Product Name</th>
                                            <th>Date </th>
                                            <th>Unite Price </th>
                                            <th>Quantity </th>
                                            <th>Discount </th>
                                            <th>Total Price </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-show="ProductSales.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                        <tr ng-repeat="item in ProductSales ">
                                            <td>{{item.ProductCode}}</td>
                                            <td>{{item.ProductName}}</td>
                                            <td>{{item.Date}}</td>
                                            <td>{{item.UnitePrice}}</td>
                                            <td>{{item.Quantity}}</td>
                                            <td>{{item.Discount}}</td>
                                            <td>{{item.TotalPrice}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
   
    <!-- Modal -->

</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">

        app.controller("ProductCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', 'blockUI',
            function ($scope, $http, $q, $timeout, AlertService, blockUI) {
                init();
                function init() {
                    initialize();
                    getProductPurchease();
                    getProductSales();
                    GetProduct();
                    getProductStock();
                }
                function initialize() {

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;

                    $scope.ProductPurchease = [];
                    $scope.ProductSales = [];
                    $scope.Products = {};
                }
                function resetForm() {
                }
                function getProductPurchease() {
                    $scope.ProductPurchease = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Product/GetProductPurchease/'+@ViewBag.Id
                    }).then(function successCallback(response) {
                        $scope.ProductPurchease = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getProductSales() {
                    $scope.ProductSales = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Product/GetProductSales/'+@ViewBag.Id
                    }).then(function successCallback(response) {
                        $scope.ProductSales = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getProductStock() {
                    $scope.ProductSales = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Product/GetProductStock/'+@ViewBag.Id
                    }).then(function successCallback(response) {
                        $scope.ProductStock = response.data.results[0];
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function GetProduct() {
                    $scope.Products = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Product/GetProduct/'+@ViewBag.Id
                    }).then(function successCallback(response) {
                        $scope.Products = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }

            }]);
    </script>
}

