﻿
@{
    ViewBag.Title = "Purchease";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- widget content -->
<div class="widget-body" ng-controller="ProductCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{modalTitle}}</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.Name.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Name:
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" ng-model="Product.Name" class="form-control" placeholder="Product Name" name="Name" required>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.Name.$error.required" class="help-block">Product Name Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-md-4" ng-class="{ 'has-error' : submitted && addform.Code.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Product Code :
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" ng-model="Product.Code" ng-pattern="/^\S{0,50}$/" class="form-control"
                                                       placeholder="Product Code" name="code" required>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.Code.$error.required" class="help-block">Product Code Required</span>
                                                <span style="color:red" class="help-block" ng-if="submitted && addform.Code.$invalid">No Space Allow</span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-md-4" ng-class="{ 'has-error' : submitted && addform.MinimumStock.$invalid}">
                                            <label class="col-md-4 control-label">
                                                MinimumStock :
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" ng-model="Product.MinimumStock" class="form-control" placeholder="Product Minimum Stock" name="MinimumStock" required>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.MinimumStock.$error.required" class="help-block">Minimum Stock Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-md-4" ng-class="{ 'has-error' : submitted && addform.MinimumStock.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Catagory :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.CatagoryId" class="form-control" required name="CatagoryId" ng-options="Catagory.Id as Catagory.CatagoryName for Catagory in Categorys">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.SubCategorys.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Sub Category :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.SubCategoryId" class="form-control" required name="SubCategorys" ng-options="SubCategory.Id as SubCategory.SubCatagoryName for SubCategory in SubCategorys">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.SubCategorys.$error.required" class="help-block">Sub Category Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.Brand.$invalid }">
                                            <label class="col-md-4 control-label">
                                                Brand :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.BrandId" class="form-control" required name="Brand" ng-options="Brand.Id as Brand.BrandName for Brand in Brands">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.Brand.$error.required" class="help-block">Brand Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.UOMs.$invalid }">
                                            <label class="col-md-4 control-label">
                                                UOM :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.UOMId" class="form-control" required name="UOM" ng-options="UOM.Id as UOM.UOMName for UOM in UOMs">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.UOMs.$error.required" class="help-block">UOM Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.Size.$invalid }">
                                            <label class="col-md-4 control-label">
                                                Size :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.SizeId" class="form-control" required name="Size" ng-options="Size.Id as Size.SizeName for Size in Sizes">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.Size.$error.required" class="help-block">Size Required</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 pull-right">
                                            <div class="pull-right">
                                                <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="resetForm();submitted=false">Cancel</button>
                                                <button type="submit" ng-click="submitted=true" class="btn green-haze" ng-disabled="btnDis">Save <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
    <!--Modal Area Start-->
    <div id="addmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">{{modalTitle}}</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="resetForm();submitted=false">Cancel</button>
                        <button type="submit" ng-click="submitted=true" class="btn green-haze" ng-disabled="btnDis">{{Save}} <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Area End-->
</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">

        app.controller("ProductCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService','DTOService',
            function ($scope, $http, $q, $timeout, AlertService, DTOService) {
                init();
                function init() {
                    initialize();
                    getBrand();
                    getCategory();
                    getColor();
                    getSizes();
                    getSubCategorys();
                    getUOMs();
                    GetProduct();
                }
                function initialize() {
                    $scope.modalTitle = "Add Product";
                    $scope.btn = "Save";
                    $scope.Product = {};
                    $scope.Brands = [];
                    $scope.Colors = [];
                    $scope.SubCategorys = [];
                    $scope.UOMs = [];
                    $scope.Branchs = [];
                    $scope.ProductId='@ViewBag.Id';
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;

                    $scope.btnDis = false;
                    $scope.spin = false;

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                }
                function GetProduct() {
                    if ($scope.ProductId != 0) {
                        $scope.Product = [];
                        $http({
                            method: 'GET',
                            url: baseUrl + 'Product/GetProduct/' + $scope.ProductId
                        }).then(function successCallback(response) {
                            $scope.Product = response.data.results;
                            $scope.modalTitle = "Update Product";
                            $scope.btn = "Update";
                        }, function errorCallback(response) {
                            toastr["warning"](response.data.Message);
                        });
                    }
                }
                function resetForm() {
                    $scope.modalTitle = "Add Product";
                    $scope.btn = "Save";
                    $scope.branch.BranchId = 0;
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.Product = {};
                }
                function GetData(url) {
                    var data = new Array();
                    $http({
                        method: 'GET',
                        url: baseUrl + url
                    }).then(function successCallback(response) {
                        data= response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                        });
                    return data;
                }
                function getBrand() {
                    $scope.Brands = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Brand/GetAllBrand/'
                    }).then(function successCallback(response) {
                        $scope.Brands = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getCategory() {
                    $scope.Categorys = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Category/GetAllCategory/'
                    }).then(function successCallback(response) {
                        $scope.Categorys = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getColor() {
                    $scope.Colors = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Color/GetAllColor/'
                    }).then(function successCallback(response) {
                        $scope.Colors = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getSizes() {
                    $scope.Sizes = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Size/GetAllSize/'
                    }).then(function successCallback(response) {
                        $scope.Sizes = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getSubCategorys() {
                    $scope.SubCategorys = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'SubCategory/GetAllSubCategory/'
                    }).then(function successCallback(response) {
                        $scope.SubCategorys = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }

                function getUOMs() {
                    $scope.UOMs = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'UOM/GetAllUOM/'
                    }).then(function successCallback(response) {
                        $scope.UOMs = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }

                $scope.edit = function (n) {
                    $scope.modalTitle = "Update Product";
                    $scope.btn = "Update";
                    $scope.Product = n;
                    $scope.Id = n.Id;
                };

                $scope.save = function save(e) {
                    if ($scope.addform.$invalid)
                        return;
                    if ($scope.Product != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Product/AddProduct/',
                            data: $scope.Product
                        }).then(function successCallback(response) {
                            AlertService.warning(response.data.Message);
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.StatusBranch = function StatusBranch(item) {
                    if (item != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Product/StatusBranch/',
                            data: item
                        }).then(function successCallback(response) {
                            getBranchs();
                            AlertService.success(response.data.message);
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };

            }]);
    </script>
}
