﻿
@{
    ViewBag.Title = "Permission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- widget content -->
<div class="widget-body" ng-controller="AspPageCrtl">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-AspPage-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>AspPage List</h2>
                        <button class="btn btn-default pull-right btn-success" data-toggle="modal" data-target="#addmodal">
                            <i class="fa fa-plus"></i> <span class="hidden-mobile">Add New</span>
                        </button>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row" >
                                <div class=" col-lg-12 col-md-12 ">
                                    <div class="col-lg-1 form-Product col-md-1 col-sm-4 col-xs-8" style="padding-left:0px">
                                        <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                    </div>
                                    <div class="col-md-5 col-sm-4 col-xs-5">
                                        <div class="form-group" ng-class="{ 'has-error' : submitted && addform.ModuleName.$invalid }">
                                            <label class="col-md-4 control-label" style="padding-right:0px;padding-left:0px;">
                                                Module Name :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Product.ModuleName" ng-change="getAspPagesParant()" class="form-control" name="Size">
                                                    <option value='' selected>Select Option</option>
                                                    <option value="1">Admin</option>
                                                    <option value="2">Product SetUp</option>
                                                    <option value="3">Product Management</option>
                                                    <option value="4">Stock In Management</option>
                                                    <option value="5">Sales Management</option>
                                                    <option value="6">Stock Management</option>
                                                    <option value="7">Accounts</option>
                                                    <option value="8">User Management</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.ModuleName.$error.required" class="help-block">Event Required</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-3 col-xs-1">
                                        <div id="sample_3_filter" class="pull-right">
                                            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="10%">ParantName</th>
                                            <th width="15%">ALL Check</th>
                                            <th width="15%">Add</th>
                                            <th width="15%">Edit</th>
                                            <th width="20%">View</th>
                                            <th width="15%">Delete</th>
                                            <th width="10%">Approve</th>
                                            <th width="10%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="AspPages.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                        <tr dir-paginate="item in AspPages| filter:q|itemsPerPage:pageSize">
                                            <td>{{item.NameOption_En}}</td>
                                            <td><input type="checkbox" ng-model="AllChecks" ng-change="AllCheck(AllChecks,item)" /></td>
                                            <td><input type="checkbox" ng-model="item.CanAdd" ng-checked="item.CanAdd==true" /></td>
                                            <td><input type="checkbox" ng-model="item.CanEdit" ng-checked="item.CanAdd==true" /></td>
                                            <td><input type="checkbox" ng-model="item.CanView" ng-checked="item.CanAdd==true" /></td>
                                            <td><input type="checkbox" ng-model="item.CanDelete" ng-checked="item.CanAdd==true" /></td>
                                            <td><input type="checkbox" ng-model="item.CanApprove" ng-checked="item.CanAdd==true" /></td>
                                            <td><div class="btn btn-info" ng-click="signalClick(item)">Save</div> </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <dir-pagination-controls boundary-links="true" template-url="~/Content/dirPagination.tpl.html"></dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
    <!--Modal Area Start-->
    <div id="addmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">{{modalTitle}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.EventName.$invalid }">
                                        <label class="col-md-4 control-label" style="padding-right:0px;padding-left:0px;">
                                            Parant :
                                        </label>
                                        <div class="col-md-8">
                                            <select ng-model="Product.EventId" class="form-control" name="Size" ng-options="ParantAspPage.PageID as ParantAspPage.NameOption_En for ParantAspPage in ParantAspPages">
                                                <option value=''>Select Option</option>
                                            </select>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted && addform.EventName.$error.required" class="help-block">Event Required</span>
                                        </div>
                                    </div>
                               
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.NameOption_En.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Name :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="AspPage.NameOption_En" class="form-control" placeholder="Name" name="Controller" required>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted && addform.NameOption_En.$error.required" class="help-block"> Name Required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.Controller.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Controller :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="AspPage.Controller" class="form-control" placeholder="Controller Name" name="Controller">
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted && addform.Controller.$error.required" class="help-block">Controller Name Required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.Action.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Action :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="AspPage.Action" class="form-control"
                                                   placeholder="Action Name" name="Action">
                                            <div class="form-control-focus"> </div>
                                            <span style="color:red" class="help-block" ng-if="submitted && addform.Action.$invalid">No Space Allow</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            IconClass :
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="AspPage.IconClass" class="form-control" placeholder="IconClass" name="IconClass" />
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.Displayorder.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Displayorder :
                                        </label>
                                        <div class="col-md-8">
                                            <input type="number" ng-model="AspPage.Displayorder" class="form-control" placeholder="Display order" name="Displayorder">
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted &&  addform.Displayorder.$error.required" class="help-block">Displayorder Required</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline btn-warning" ng-click="resetForm();submitted=false">Cancel</button>
                        <button type="submit" ng-click="submitted=true" class="btn green-haze btn-success" ng-disabled="btnDis">Save <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Area End-->
</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">
        app.controller("AspPageCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', "SweetAlert",
            function ($scope, $http, $q, $timeout, AlertService, SweetAlert) {
                init();
                function init() {
                    initialize();
                    getAspPages();
                }
                function initialize() {
                    $scope.modalTitle = "Add AspPage";
                    $scope.btn = "Save";
                    $scope.AspPage = {};
                    $scope.AspPage.AspPageId = 0;
                    $scope.AspPages = [];
                    $scope.getAspPages = getAspPages;
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;
                    $scope.btnDis = false;
                    $scope.spin = false;
                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;

                    $scope.getAspPagesParant = getAspPagesParant;
                }
                function resetForm() {
                    $scope.modalTitle = "Add AspPage";
                    $scope.btn = "Save";
                    $scope.AspPage.AspPageId = 0;
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.AspPage = {};
                    getAspPages();
                }

                function getAspPages() {
                    $scope.AspPages = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'AspNetPage/GetAllAspNetPage/'
                    }).then(function successCallback(response) {
                        $scope.AspPages = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                 function getAspPagesParant() {
                    $scope.AspPages = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'AspNetPage/GetAspNetPageByModule/' + $scope.Product.ModuleName
                    }).then(function successCallback(response) {
                        $scope.AspPages = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
               
                $scope.AllCheck = function (a, b) {
                    
                        b.CanAdd = a;
                         b.CanEdit = a;
                         b.CanView = a;
                         b.CanDelete = a;
                         b.CanApprove = a;
                   
                }
                $scope.edit = function (n) {
                    $scope.modalTitle = "Update AspPage";
                    $scope.btn = "Update";
                    $scope.AspPage = n;
                    $scope.Id = n.Id;
                };
                $scope.signalClick = function signalClick(item) {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'AspNetPagesRole/AddAspNetPagesRole/',
                            data: item
                        }).then(function successCallback(response) {
                            getAspPagesParant();
                            AlertService.success(response.data.Message);
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                };
                $scope.save = function save(e) {
                    if ($scope.addform.$invalid)
                        return;
                    if ($scope.AspPage != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'AspNetPage/AddAspNetPage/',
                            data: $scope.AspPage
                        }).then(function successCallback(response) {
                            $('#addmodal').modal('toggle');
                            getAspPages();
                            AlertService.success(response.data.Message);
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.StatusAspPage = function StatusAspPage(item) {
                    if (item != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'AspPage/StatusAspPage/',
                            data: item
                        }).then(function successCallback(response) {
                            getAspPages();
                            AlertService.success(response.data.Message);
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.delete = function (item) {
                    $scope.item = item;
                    SweetAlert.swal({
                        title: "Are you sure to delete it ?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                $http({
                                    method: 'POST',
                                    url: baseUrl + 'AspPage/DeleteAspNetPage/',
                                    data: item
                                }).then(function successCallback(response) {
                                    SweetAlert.swal("Deleted!", "Your data has been deleted.", "success");
                                    getAspPages();
                                }, function errorCallback(response) {
                                    AlertService.warning(response.data.Message);
                                });
                            }
                        });
                };
            }]);
    </script>
}


