﻿@{
    ViewBag.Title = "Branch";
}
<!-- widget content -->
<div class="widget-body"  ng-controller="BranchCrtl">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Branch List</h2>
                        <button class="btn btn-default pull-right btn-success" data-toggle="modal" data-target="#addmodal">
                            <i class="fa fa-plus"></i> <span class="hidden-mobile">Add New</span>
                        </button>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-4 col-sm-5 col-xs-6">
                                    <div class="form-Product">
                                        <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">
                                            <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                        </div>
                                        <div class="col-md-7  col-sm-8  col-xs-4">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-5">

                                </div>
                                <div class="col-md-6 col-sm-3 col-xs-1">
                                    <div id="sample_3_filter" class="pull-right">
                                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="10%">Branch Code</th>
                                            <th width="15%">Branch Name</th>
                                            <th width="20%">Address</th>
                                            <th width="15%">Contact Number</th>
                                            <th width="10%">Status</th>
                                            <th width="10%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="Branchs.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                        @*<tr ng-repeat="item in Branchs">*@
                                        <tr dir-paginate="item in Branchs| filter:q|itemsPerPage:pageSize">
                                            <td>{{item.Code}}</td>
                                            <td>{{item.BranchName}}</td>
                                            <td>{{item.Address}}</td>
                                            <td>{{item.ContactNumber}}</td>
                                            <td>
                                                <a ng-show="item.Status=='A'" ng-click="StatusBranch(item)" href="javascript:;" class="btn btn-xs btn-icon-only btn-primary">
                                                    Active
                                                </a>
                                                <a ng-show="item.Status=='D'" ng-click="StatusBranch(item)" href="javascript:;" class="btn btn-xs btn-icon-only btn-success">
                                                    DeActive
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:;" class="btn btn-icon-only green btn-warning btn-xs" ng-click="edit(item)" data-target="#addmodal" data-toggle="modal">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a ng-click="delete(item)" href="javascript:;" class="btn btn-icon-only red btn-danger btn-xs">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <dir-pagination-controls boundary-links="true" template-url="~/Content/dirPagination.tpl.html"></dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
    <!--Modal Area Start-->
    <div id="addmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">{{modalTitle}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.BranchName.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Branch Name:
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="Branch.BranchName" class="form-control" placeholder="Branch Name" name="BranchName" required>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted && addform.BranchName.$error.required" class="help-block">Branch Name Required</span>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.BranchCode.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Branch Code :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="Branch.Code" ng-pattern="/^\S{0,50}$/" class="form-control"
                                                   placeholder="Code Name" name="code" required>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted &&  addform.BranchCode.$error.required" class="help-block">Branch Code Required</span>
                                            <span style="color:red" class="help-block" ng-if="submitted && addform.BranchCode.$invalid">No Space Allow</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.Address.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Address :

                                        </label>
                                        <div class="col-md-8">
                                            <textarea type="text" ng-model="Branch.Address" class="form-control" placeholder="Address Name" name="Address"> </textarea>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted &&  addform.Address.$error.required" class="help-block">Address Required</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            Address Bangla :
                                        </label>
                                        <div class="col-md-8">
                                            <textarea type="text" ng-model="branch.AddressBangla" class="form-control" placeholder="Address Bangla" name="addressBangla"> </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.contact.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Contact Number :
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" min="11" maxlength="13" ng-model="Branch.ContactNumber" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Contact Number" name="ContactNumber">
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted &&  addform.ContactNumber.$error.required" class="help-block">Contact Number Required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.email.$invalid }">
                                        <label class="col-md-4 control-label">
                                            Email :
                                        </label>
                                        <div class="col-md-8">
                                            <input type="email" ng-model="Branch.Email" class="form-control" ng-pattern="eml_add" placeholder="Email" name="email">
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted && addform.email.$error.required" class="help-block">Email Required</span>
                                            <span style="color:red" class="help-block" ng-show="addform.email.$error.email || addform.email.$error.pattern">Not valid email!</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            Fax :
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="Branch.Fax" class="form-control" placeholder="Fax" name="fax">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline btn-warning" ng-click="resetForm();submitted=false">Cancel</button>
                        <button type="submit" ng-click="submitted=true" class="btn green-haze btn-success" ng-disabled="btnDis">Save <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Area End-->
</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">

        app.controller("BranchCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', "SweetAlert",
            function ($scope, $http, $q, $timeout, AlertService, SweetAlert) {
                init();
                function init() {
                    initialize();
                    getBranchs();
                }
                function initialize() {
                    $scope.modalTitle = "Add Branch";
                    $scope.btn = "Save";
                    $scope.Branch = {};
                    $scope.Branch.BranchId = 0;
                    $scope.Branchs = [];

                    $scope.getBranchs = getBranchs;
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;

                    $scope.btnDis = false;
                    $scope.spin = false;

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                }

                function resetForm() {
                    $scope.modalTitle = "Add Branch";
                    $scope.btn = "Save";
                    $scope.branch.BranchId = 0;
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.Branch = {};
                    getBranchs();
                }

                function getBranchs() {
                    $scope.Branchs = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Branch/GetAllBranchs/'
                    }).then(function successCallback(response) {
                        $scope.Branchs = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }

                $scope.edit = function (n) {
                    $scope.modalTitle = "Update Branch";
                    $scope.btn = "Update";
                    $scope.Branch = n;
                    $scope.Id = n.Id;
                };

                $scope.save = function save(e) {
                    if ($scope.addform.$invalid)
                        return;
                    if ($scope.Branch != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Branch/AddBranch/',
                            data: $scope.Branch
                        }).then(function successCallback(response) {
                            $('#addmodal').modal('toggle');
                            getBranchs();
                            AlertService.warning(response.data.Message);
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.StatusBranch = function StatusBranch(item) {
                    if (item != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Branch/StatusBranch/',
                            data: item
                        }).then(function successCallback(response) {
                            getBranchs();
                            AlertService.success(response.data.Message);
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.delete = function (item) {
                    $scope.item = item;
                    SweetAlert.swal({
                        title: "Are you sure to delete it ?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                $http({
                                    method: 'POST',
                                    url: baseUrl + 'Branch/DeleteBranch/',
                                    data: item
                                }).then(function successCallback(response) {
                                    SweetAlert.swal("Deleted!", "Your data has been deleted.", "success");
                                    getBranchs();
                                }, function errorCallback(response) {
                                    AlertService.warning(response.data.Message);
                                });
                            }
                        });
                };
            }]);
    </script>
}

