﻿
@{
    ViewBag.Title = "Event_Discount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- widget content -->
<div class="widget-body" ng-controller="EventCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Event List</h2>
                        <button class="btn btn-default pull-right btn-success" data-toggle="modal" data-target="#addmodal">
                            <i class="fa fa-plus"></i> <span class="hidden-mobile">Add New</span>
                        </button>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-4 col-sm-5 col-xs-6">
                                    <div class="form-Product">
                                        <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">
                                            <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                        </div>
                                        <div class="col-md-7  col-sm-8  col-xs-4">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-5">

                                </div>
                                <div class="col-md-6 col-sm-3 col-xs-1">
                                    <div id="sample_3_filter" class="pull-right">
                                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Event Name</th>
                                            <th>Dsicount Amount</th>
                                            <th>Percent</th>
                                            <th>Number</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th width="10%">Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="Events.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                       
                                            <tr dir-paginate="item in Events| filter:q|itemsPerPage:pageSize">
                                            <td>{{item.EventName}}</td>
                                            <td>{{item.DsicountAmount}}</td>
                                            <td>{{item.DsicountPercent}}</td>
                                            <td>{{item.DsicountCount}}</td>
                                            <td>{{item.startDate  | date : format : 'DD-MM-YYYY'}}</td>
                                            <td>{{item.endDate  | date : format : 'DD-MM-YYYY'}}</td>
                                            <td>
                                                <a ng-show="item.Status=='A'" ng-click="StatusEvent(item)" href="javascript:;" class="btn btn-xs btn-icon-only btn-primary">
                                                    Active
                                                </a>
                                                <a ng-show="item.Status=='D'" ng-click="StatusEvent(item)" href="javascript:;" class="btn btn-xs btn-icon-only btn-success">
                                                    DeActive
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:;" class="btn btn-icon-only green btn-warning btn-xs" ng-click="edit(item)" data-target="#addmodal" data-toggle="modal">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a ng-click="delete(item)" href="javascript:;" class="btn btn-icon-only red btn-danger btn-xs">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                        <dir-pagination-controls boundary-links="true" template-url="~/Content/dirPagination.tpl.html"></dir-pagination-controls>
                                    </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
    <!--Modal Area Start-->
    <div id="addmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">{{modalTitle}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.EventName.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Event Name:
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="Event.EventName" class="form-control" placeholder="Event Name" name="EventName" required>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted && addform.EventName.$error.required" class="help-block">Event Name Required</span>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.DsicountAmount.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Dsicount Amount :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            <div class="input-group col-md-4">
                                                <input type="number" name="DsicountAmount" ng-model="Event.DsicountAmount" class=" form-control text-center col-md-4" placeholder="DsicountAmount">
                                                <span class="input-group-addon" ng-show="Event.DsicountPercent==true">%</span>
                                            </div>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted &&  addform.DsicountAmount.$error.required" class="help-block">Dsicount Amount Required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.DsicountPercent.$invalid}">
                                        <div class="col-md-3">
                                            </div>
                                            <div class="col-md-4">
                                                <input type="checkbox" ng-model="Event.DsicountPercent" class="form-control " name="DsicountPercent">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="checkbox">

                                                    <i></i>Dsicount Percent
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : submitted && addform.DsicountCount.$invalid}">

                                            <label class="col-md-4 control-label">
                                                Dsicount Count :
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-8">
                                                <select class=" form-control checkbox" ng-model="Event.DsicountCount" ng-options="num.Id as num.Id for num in numbers">
                                                    <option value=''>Choose Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.DsicountCount.$error.required" class="help-block">Dsicount Count Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group " ng-class="{ 'has-error' : submitted && addform.startDate.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Start Date :
                                            </label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" ng-click="p1=true" is-open="p1" name="startDate" readonly ng-model="Event.startDate" placeholder="Start Date" uib-datepicker-popup="dd/MM/yyyy" required />
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.startDate.$error.required" class="help-block">Start Date Required</span>
                                            </div>

                                        </div>
                                        <div class="form-group " ng-class="{ 'has-error' : submitted && addform.endDate.$invalid}">
                                            <label class="col-md-4 control-label">
                                                End Date :
                                            </label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" ng-click="p2=true" is-open="p2" name="endDate" readonly ng-model="Event.endDate" placeholder="End Date" uib-datepicker-popup="dd/MM/yyyy" required />
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.endDate.$error.required" class="help-block">End Date Required</span>
                                            </div>
                                            <div class="col-md-2">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="resetForm();submitted=false">Cancel</button>
                        <button type="submit" ng-click="submitted=true" class="btn green-haze btn-success" ng-disabled="btnDis">Save <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Area End-->
</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">

        app.controller("EventCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', "SweetAlert",
            function ($scope, $http, $q, $timeout, AlertService, SweetAlert) {
                init();
                function init() {
                    initialize();
                    getEvents();
                }
                function initialize() {
                    $scope.modalTitle = "Add Event";
                    $scope.btn = "Save";
                    $scope.Event = {};
                    $scope.Event.Id = 0;
                    $scope.Events = [];

                    $scope.getEvents = getEvents;
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;

                    $scope.btnDis = false;
                    $scope.spin = false;
                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                    $scope.numbers = [];
                    $scope.numbers.push({Id:1},{Id:2},{Id:3},{Id:4},{Id:5});
                }

                function resetForm() {
                    $scope.modalTitle = "Add Event";
                    $scope.btn = "Save";
                    $scope.branch.Id = 0;
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.Event = {};
                    getEvents();
                }

                function getEvents() {
                    $scope.Events = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Event/GetAllEvent/'
                    }).then(function successCallback(response) {
                        $scope.Events = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }

                $scope.edit = function (n) {
                    $scope.modalTitle = "Update Event";
                    $scope.btn = "Update";
                    $scope.Event = n;
                    $scope.Event.startDate = new Date( $scope.Event.startDate);
                    $scope.Event.endDate = new Date( $scope.Event.endDate);
                    $scope.Id = n.Id;
                };

                $scope.save = function save(e) {
                    if ($scope.addform.$invalid)
                        return;
                    if ($scope.Event != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Event/AddEvent/',
                            data: $scope.Event
                        }).then(function successCallback(response) {
                            $('#addmodal').modal('toggle');
                            getEvents();
                            AlertService.warning(response.data.Message);
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.StatusEvent = function StatusEvent(item) {
                    if (item != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Event/StatusEvent/',
                            data: item
                        }).then(function successCallback(response) {
                            getBranchs();
                            AlertService.success(response.data.Message);
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.delete = function (item) {
                    $scope.item = item;
                    SweetAlert.swal({
                        title: "Are you sure to delete it ?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                $http({
                                    method: 'POST',
                                    url: baseUrl + 'Event/DeleteEvent/',
                                    data: item
                                }).then(function successCallback(response) {
                                    SweetAlert.swal("Deleted!", "Your data has been deleted.", "success");
                                    getBranchs();
                                }, function errorCallback(response) {
                                    AlertService.warning(response.data.Message);
                                });
                            }
                        });
                };

            }]);
    </script>
}

