﻿
@{
    ViewBag.Title = "Organization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    #pic {
        display: none;
    }

    .newbtn {
        cursor: pointer;
    }

    #blah {
        max-width: 170px;
        height: 190px;
        margin-top: 20px;
    }
</style>
<!-- widget content -->
<div class="widget-body" ng-controller="OrganizationCrtl">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Business Profile</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group" ng-class="{ 'has-error' : submitted && addform.OrganizationName.$invalid}">
                                                    <label class="col-md-4 control-label">
                                                        Company Name:
                                                        <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" ng-model="Organization.Name" class="form-control" placeholder="Company Name" name="OrganizationName" required>
                                                        <div class="form-control-focus"> </div>
                                                        <span ng-show="submitted && addform.OrganizationName.$error.required" class="help-block">Company Name Required</span>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-class="{ 'has-error' : submitted && addform.Address.$invalid}">
                                                    <label class="col-md-4 control-label">
                                                        Address :
                                                    </label>
                                                    <div class="col-md-8">
                                                        <textarea type="text" ng-model="Organization.PresentAddress" required class="form-control" placeholder="Address Name" name="Address"> </textarea>
                                                        <div class="form-control-focus"> </div>
                                                        <span ng-show="submitted &&  addform.Address.$error.required" class="help-block">Address Required</span>
                                                    </div>
                                                </div>

                                                <div class="form-group" ng-class="{ 'has-error' : submitted && addform.ContactNumber.$invalid}">
                                                    <label class="col-md-4 control-label">
                                                        Contact Number :
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" min="11" maxlength="13" required ng-model="Organization.Mobile" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Contact Number" name="ContactNumber">
                                                        <div class="form-control-focus"> </div>
                                                        <span ng-show="submitted &&  addform.ContactNumber.$error.required" class="help-block">Contact Number Required</span>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-class="{ 'has-error' : submitted && addform.Email.$invalid }">
                                                    <label class="col-md-4 control-label">
                                                        Email :
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="email" ng-model="Organization.Email" class="form-control" ng-pattern="eml_add" placeholder="Email" name="Email">
                                                        <div class="form-control-focus"> </div>
                                                        <span ng-show="submitted && addform.Email.$error.required" class="help-block">Email Required</span>
                                                        <span style="color:red" class="help-block" ng-show="addform.Email.$error.email || addform.Email.$error.pattern">Not valid email!</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        Fax :
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" ng-model="Organization.Fax" class="form-control" placeholder="Fax" name="fax">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        Vat :
                                                    </label>
                                                    <div class="col-md-8 input-group" style="padding-left:12px;padding-right:12px;">
                                                        <input class="form-control" type="number" ng-model="Organization.VAT" placeholder="VAT" />
                                                        <label for="VAT" rel="tooltip" class="input-group-addon" title="VAT">%</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        VAT Reg. No. :
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" ng-model="Organization.VATNo" class="form-control" placeholder="VATNo" name="VATNo">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                      Sales Defult Customer :
                                                    </label>
                                                    <div class="col-md-8">
                                                        <select ng-model="Organization.CustomerId" class="form-control" name="SupplierId" ng-options="Customer.Id as Customer.Name for Customer in Customers">
                                                            <option value=''>Select Option</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <input type='file' id="file" onchange="readURL(this);" />
                                                <img id="blah"  src="@String.Format("data:image/jpg;base64,{0}", "{{Organization.Logo}}")" class="img-responsive img-thumbnail" />
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" data-dismiss="modal" class="btn dark btn-outline btn-warning" ng-click="resetForm();submitted=false">Cancel</button>
                                    <button type="submit" ng-click="submitted=true" class="btn green-haze btn-success" ng-disabled="btnDis">Save <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        app.controller("OrganizationCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', "SweetAlert","blockUI",
            function ($scope, $http, $q, $timeout, AlertService, SweetAlert, blockUI) {
                init();
                function init() {
                    initialize();
                    getOrganization();
                    GetCustomer();
                }
                function initialize() {
                    $scope.modalTitle = "Add Organization";
                    $scope.btn = "Save";
                    $scope.Organization = {};
                    $scope.Organization.BranchId = 0;
                    $scope.Branchs = [];

                    $scope.getOrganization = getOrganization;
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;

                    $scope.btnDis = false;
                    $scope.spin = false;

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                }

                function resetForm() {
                    $scope.modalTitle = "Add Organization";
                    $scope.btn = "Save";
                    $scope.branch.BranchId = 0;
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.Organization = {};
                }

                function getOrganization() {
                    $scope.Branchs = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Organization/GetAllOrganization/'
                    }).then(function successCallback(response) {
                        $scope.Organization = response.data.results[0];
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function GetCustomer() {
                    $scope.Customers = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Customer/GetAllCustomer/'
                    }).then(function successCallback(response) {
                        $scope.Customers = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                $scope.edit = function (n) {
                    $scope.modalTitle = "Update Organization";
                    $scope.btn = "Update";
                    $scope.Organization = n;
                    $scope.Id = n.Id;
                };
                $scope.save = function save(e) {
                    blockUI.start();
                    if ($scope.addform.$invalid)
                        return;
                    if ($scope.Organization != '') {
                        var files = $("#file").get(0).files;
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Organization/AddOrganization/',
                            headers: { 'Content-Type': undefined },
                            transformRequest: function (data) {
                                var formData = new FormData();
                                formData.append('organization', JSON.stringify($scope.Organization));
                                if (files.length > 0)
                                    formData.append("logo", files[0]);
                                if (files.length > 0)
                                    formData.append("header", files[1]);
                                return formData;
                            },
                            data: { Product: $scope.Organization }
                        }).then(function (response) {
                            AlertService.warning(response.data.Message);
                            blockUI.stop();
                            resetForm();
                        }, function errorCallback(response) {
                            blockUI.stop();
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
               
              
               
            }]);
    </script>
    }

