﻿
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="widget-body" ng-controller="SettingCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-darken" id="wid-id-1" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Setting</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class=" col-md-12">
                                <form name="addform" class="form-horizontal" ng-submit="save()" novalidate>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="col-md-4 control-label">
                                                Rerport Header :
                                            </label>
                                            <div class="input input-file col-md-8">
                                                <span class="button"><input type="file" class="form-control" id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value"></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            
                                            <div class="input input-file col-md-8">
                                                <span ng-show="Setting.Image == null">No Image</span> <img ng-hide="Setting.Image == null" style="height:40px;width:40px" src="@String.Format("data:image/jpg;base64,{0}", "{{Setting.HeaderImage}}")">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h5><span style="border-bottom:solid 2px #38aa16"> Purchease Invoice </span> </h5>
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Prefix :
                                            </label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" ng-model="Setting.PurcheasePrefix" placeholder="Pre fix" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Start :
                                            </label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" ng-model="Setting.PurcheaseStart" placeholder=" Start Number" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Postfix :
                                            </label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" ng-model="Setting.PurcheasePostfix" placeholder="Post fix" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h5><span style="border-bottom:solid 2px #38aa16"> Sales Invoice </span> </h5>
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Prefix :
                                            </label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" ng-model="Setting.SalesPrefix" placeholder="Pre fix" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Start :
                                            </label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" ng-model="Setting.SalesPreStart" placeholder=" Start Number" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Postfix :
                                            </label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" ng-model="Setting.SalesPostfix" placeholder="Post fix" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                VAT (%) :
                                            </label>
                                            <div class="col-md-8 input-group">
                                                <input class="form-control" type="number" ng-model="Setting.VAT" placeholder="VAT" />
                                                <label for="VAT" rel="tooltip" class="input-group-addon" title="email">%</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                VAT Regi. No :
                                            </label>
                                            <div class="col-md-8 ">
                                                <input class="form-control" type="number" ng-model="Setting.VATNo" placeholder="VAT" />
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Customer :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Setting.CustomerId" class="form-control" name="SupplierId" ng-options="Customer.Id as Customer.Name for Customer in Customers">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Report Size :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Setting.ReportSize" class="form-control" name="SupplierId" ng-options="Customer.Id as Customer.Name for Customer in Customers">
                                                    <option value=''>Select Option</option>
                                                    <option value='1'>3/</option>
                                                    <option value='2'>Select Option</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Currency :
                                            </label>
                                            <div class="col-md-8 input-group">
                                                <select ng-model="Setting.Currency" class="form-control" name="SupplierId" ng-options="Customer.Id as Customer.Name for Customer in Customers">
                                                    <option value=''>Select Option</option>
                                                    <option value="TK">TK</option>
                                                    <option value="$">$</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info m-btn m-btn--custom m-btn--icon  col-md-2 btn-success">
                                        <span class="font-weight-bold" style="text-align:center">
                                            <i class="fa flaticon-bag fa-3x"></i>
                                            <span>
                                                Save
                                            </span>
                                        </span>
                                    </button>
                                    <hr />

                                </form>
                            </div>
                        </div>
                       
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->

</div>
@section Scripts{
    <script type="text/javascript">
        app.controller("SettingCrtl", ["$scope", "$http", '$q', '$timeout', "AlertService", "SweetAlert",
            function ($scope, $http, $q, $timeout, AlertService, SweetAlert) {
                init();
                function init() {
                    initialize();
                    GetSetting();
                    GetCustomer();
                }
                function initialize() {
                    $scope.Setting = {};
                    $scope.resetForm = resetForm;
                }
                function resetForm() {
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Setting = {};
                }
                function GetSetting() {
                    $scope.Setting = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Setting/GetAllSetting/'
                    }).then(function successCallback(response) {
                        $scope.Setting = response.data.results[0];
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                $scope.save = function save(e) {
                    
                    if ($scope.Setting != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Setting/AddSetting/',
                            data: $scope.Setting
                        }).then(function successCallback(response) {
                            AlertService.success(response.data.Message);
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                function GetCustomer() {
                    $scope.Customers = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Customer/GetAllCustomer/'
                    }).then(function successCallback(response) {
                        $scope.Customers = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                $scope.deleteBranch = function (item) {
                    $scope.item = item;
                    SweetAlert.swal({
                        title: "Are you sure to delete it ?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                $http({
                                    method: 'POST',
                                    url: baseUrl + 'Bank/DeleteBank',
                                    data: item
                                }).then(function successCallback(response) {
                                    SweetAlert.swal("Deleted!", "Your data has been deleted.", "success");
                                    getBranchs();
                                }, function errorCallback(response) {
                                    AlertService.warning(response.data.Message);
                                });
                            }
                        });
                };
            }]);
    </script>


}




