﻿
@{
    ViewBag.Title = "SubCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- widget content -->
<div class="widget-body" ng-controller="SubCategoryCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>SubCategory List</h2>
                        <button class="btn btn-default pull-right btn-success" data-toggle="modal" data-target="#addmodal">
                            <i class="fa fa-plus"></i> <span class="hidden-mobile">Add New</span>
                        </button>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-4 col-sm-5 col-xs-6">
                                    <div class="form-Product">
                                        <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">
                                            <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                        </div>
                                        <div class="col-md-7  col-sm-8  col-xs-4">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-5">

                                </div>
                                <div class="col-md-6 col-sm-3 col-xs-1">
                                    <div id="sample_3_filter" class="pull-right">
                                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Catagory Name</th>
                                            <th>SubCategory Code</th>
                                            <th>SubCategory Name</th>
                                            <th width="10%">Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="SubCategoryes.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                     
                                            <tr dir-paginate="item in SubCategoryes| filter:q|itemsPerPage:pageSize">
                                            <td>{{item.CatagoryName}}</td>
                                            <td>{{item.SubCatagoryCode}}</td>
                                            <td>{{item.SubCatagoryName}}</td>
                                            <td>
                                                <a ng-show="item.Status=='A'" ng-click="StatusSubCategory(item)" href="javascript:;" class="btn btn-xs btn-icon-only btn-primary">
                                                    Active
                                                </a>
                                                <a ng-show="item.Status=='D'" ng-click="StatusSubCategory(item)" href="javascript:;" class="btn btn-xs btn-icon-only btn-success">
                                                    DeActive
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:;" class="btn btn-icon-only green btn-warning btn-xs" ng-click="edit(item)" data-target="#addmodal" data-toggle="modal">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a ng-click="delete(item)" href="javascript:;" class="btn btn-icon-only red btn-danger btn-xs">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <dir-pagination-controls boundary-links="true" template-url="~/Content/dirPagination.tpl.html"></dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
    <!--Modal Area Start-->
    <div id="addmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">{{modalTitle}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group  " ng-class="{ 'has-error' : submitted && addform.MinimumStock.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Catagory :
                                        </label>
                                        <div class="col-md-8">
                                            <select ng-model="SubCategory.CatagoryId" class="form-control" required name="CatagoryId" ng-options="Catagory.Id as Catagory.CatagoryName for Catagory in Categorys">
                                                <option value=''>Select Option</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.BranchName.$invalid}">
                                        <label class="col-md-4 control-label">
                                            SubCategory Name:
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="SubCategory.SubCatagoryName" class="form-control" placeholder="SubCategory Name" name="BranchName" required>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted && addform.BranchName.$error.required" class="help-block">SubCategory Name Required</span>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.BranchCode.$invalid}">
                                        <label class="col-md-4 control-label">
                                            SubCategory Code :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="SubCategory.SubCatagoryCode" ng-pattern="/^\S{0,50}$/" class="form-control"
                                                   placeholder="Code Name" name="code" required>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted &&  addform.BranchCode.$error.required" class="help-block">SubCategory Code Required</span>
                                            <span style="color:red" class="help-block" ng-if="submitted && addform.BranchCode.$invalid">No Space Allow</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a  data-dismiss="modal" class="btn dark btn-outline btn-success" ng-click="resetForm();submitted=false">Cancel</a>
                        <button type="submit" ng-click="submitted=true" class="btn green-haze" ng-disabled="btnDis">Save <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Area End-->
</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">

        app.controller("SubCategoryCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', "SweetAlert",
            function ($scope, $http, $q, $timeout, AlertService, SweetAlert) {
                init();
                function init() {
                    initialize();
                    getSubCategorys();
                    getCategory();
                }
                function initialize() {
                    $scope.modalTitle = "Add SubCategory";
                    $scope.btn = "Save";
                    $scope.SubCategory = {};
                    $scope.SubCategory.Id = 0;
                    $scope.SubCategoryes = [];

                    $scope.getSubCategorys = getSubCategorys;
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;

                    $scope.btnDis = false;
                    $scope.spin = false;

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                }

                function resetForm() {
                    $scope.modalTitle = "Add SubCategory";
                    $scope.btn = "Save";
                  
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                 
                    $scope.SubCategory = {};
                    getSubCategorys();
                }

                function getSubCategorys() {
                    $scope.SubCategoryes = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'SubCategory/GetAllSubCategory/'
                    }).then(function successCallback(response) {
                        $scope.SubCategoryes = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getCategory() {
                    $scope.Categorys = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Category/GetAllCategory/'
                    }).then(function successCallback(response) {
                        $scope.Categorys = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }

                $scope.edit = function (n) {
                    $scope.modalTitle = "Update SubCategory";
                    $scope.btn = "Update";
                    $scope.SubCategory = n;
                    $scope.Id = n.Id;
                };

                $scope.save = function save(e) {
                    if ($scope.addform.$invalid)
                        return;
                    if ($scope.SubCategory != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'SubCategory/AddSubCategory/',
                            data: $scope.SubCategory
                        }).then(function successCallback(response) {
                            $('#addmodal').modal('toggle');
                            getSubCategorys();
                            AlertService.warning(response.data.Message);
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.StatusSubCategory = function StatusSubCategory(item) {
                    if (item != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'SubCategory/StatusSubCategory/',
                            data: item
                        }).then(function successCallback(response) {
                            getSubCategorys();
                            AlertService.success(response.data.message);
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.delete = function (item) {
                    $scope.item = item;
                    SweetAlert.swal({
                        title: "Are you sure to delete it ?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                $http({
                                    method: 'POST',
                                    url: baseUrl + 'SubCategory/DeleteSubCategory/',
                                    data: item
                                }).then(function successCallback(response) {
                                    SweetAlert.swal("Deleted!", "Your data has been deleted.", "success");
                                    getSubCategorys();
                                }, function errorCallback(response) {
                                    AlertService.warning(response.data.Message);
                                });
                            }
                        });
                };
            }]);
    </script>
}

