﻿﻿@using System;
@using System.Text.RegularExpressions;

@model IEnumerable<eShop.BusinessDomain.Admin.DomainObject.AspNetPage>
@{
    ViewBag.Title = "GetMenu";
    Layout = null;
    var g = string.Empty;
    var RouteAction = this.Request.RequestContext.RouteData.Values["Action"].ToString();

    #region Chack Parent
    //saparat action string by capital Letter
    //string outputString = "";

    //foreach (char letter in RouteAction)
    //{
    //    if (Char.IsUpper(letter) && outputString.Length > 0)
    //    {
    //        outputString += " " + letter;
    //    }

    //    else{
    //        outputString += letter;
    //    }


    //}
    int clickedRootParentId = 0;
    var clickedSubManu = Model.FirstOrDefault(e => e.Action == RouteAction);
    if (clickedSubManu != null)
    {
        bool parenIsnotFinalRootParent = false;
        int parentId = clickedSubManu.ParentID;
        do
        {
            parenIsnotFinalRootParent = false;
            var immParent = Model.FirstOrDefault(e => e.PageID == parentId);
            if (immParent != null)//immParent null means Parent is Root Parent becose root parent have't any Parent Id
            {
                clickedRootParentId = immParent.PageID;
                if (immParent.ParentID != 0)
                {
                    parenIsnotFinalRootParent = true;
                    parentId = immParent.ParentID;
                }
                else
                {
                    break;
                }
            }
        } while (parenIsnotFinalRootParent);
    }
    #endregion
}
<ul>
    <li class="">
        <a href="@Url.Action("Index","Home")" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
    </li>
    @foreach (var item in Model.Where(e => Convert.ToBoolean(e.IsParent) && e.ParentID == 0).OrderBy(e => e.Displayorder))
    {
        //do
        //{
        //} while()
        //
        var cls = string.Empty;
        // var ss = Model.Where(e => e.ParentID == item.PageID);
        //if (ss.Where(e => e.Action == RouteAction).Count() > 0)
        if (item.PageID == clickedRootParentId)
        {
            //cls = "active open";
        }
        <li class="menu-item-parent @cls">
            @*<li class="nav-item active ">*@
            <a href="@Url.Action("Index","Home")">
                <i class="@item.IconClass"></i>
                <span class="title">@item.NameOption_En</span>

            </a>
            <ul class="sub-menu">
                @foreach (var SubMenu1 in Model.Where(e => e.ParentID == item.PageID).OrderBy(e => e.Displayorder))
                {
                    var class1 = string.Empty;
                    if (Model.Where(e => e.ParentID == SubMenu1.PageID && e.Action == RouteAction).Count() > 0)
                    {
                        //class1 = "open";
                    }
                    <li class=" @((RouteAction == SubMenu1.Action) ? " menu-item-parent" : " ") @class1">
                        <a href="@Url.Action(SubMenu1.Action, SubMenu1.Controller)">
                            <i class="@SubMenu1.IconClass"></i> @SubMenu1.NameOption_En
                            @if (Model.Where(e => e.ParentID == SubMenu1.PageID).OrderBy(e => e.Displayorder).Count() > 0)
                            { }
                        </a>
                        @if (Model.Where(e => e.ParentID == SubMenu1.PageID).OrderBy(e => e.Displayorder).Count() > 0)
                        {
                            <ul class="sub-menu">
                                @foreach (var SubMenu2 in Model.Where(e => e.ParentID == SubMenu1.PageID).OrderBy(e => e.Displayorder))
                                {
                                    <li class="@((RouteAction == SubMenu2.Action) ? " active" : " ")  ">
                                        <a href="@Url.Action(SubMenu2.Action, SubMenu2.Controller)">
                                            <i class="@SubMenu2.IconClass"></i> @SubMenu2.NameOption_En
                                            @if (Model.Where(e => e.ParentID == SubMenu2.PageID).OrderBy(e => e.Displayorder).Count() > 0)
                                            {<span class="arrow nav-toggle"></span>}
                                        </a>
                                        @if (Model.Where(e => e.ParentID == SubMenu2.PageID).OrderBy(e => e.Displayorder).Count() > 0)
                                        {
                                            <ul>
                                                @foreach (var SubMenu3 in Model.Where(e => e.ParentID == SubMenu2.PageID).OrderBy(e => e.Displayorder))
                                                {
                                                    <li class="">
                                                        <a href="@Url.Action(SubMenu3.Action, SubMenu3.Controller)">
                                                            <i class="@SubMenu3.IconClass"></i> @SubMenu3.NameOption_En
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>}
                    </li>
                }
            </ul>
        </li>
    }
    <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-wrench"></i> <span class="menu-item-parent">Set Up</span></a>
        <ul>
            <li>
                <a href="@Url.Action("Branch","MasterSetUp")">Branch</a>
            </li>
            <li>
                <a href="@Url.Action("Color","MasterSetUp")">Color</a>
            </li>
            <li>
                <a href="@Url.Action("Size","MasterSetUp")">Size</a>
            </li>
            <li>
                <a href="@Url.Action("Brand","MasterSetUp")">Brand</a>
            </li>
            <li>
                <a href="@Url.Action("Category","MasterSetUp")">Category</a>
            </li>
            <li>
                <a href="@Url.Action("UOM","MasterSetUp")">UOM</a>
            </li>
            <li>
                <a href="@Url.Action("SubCategory","MasterSetUp")">SubCategory</a>
            </li>
            <li>
                <a href="@Url.Action("Customer","MasterSetUp")">Customer</a>
            </li>
            <li>
                <a href="@Url.Action("Supplier","MasterSetUp")">Supplier</a>
            </li>
            <li>
                <a href="@Url.Action("Event_Discount","MasterSetUp")">Supplier</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-wrench"></i> <span class="menu-item-parent">Product Setup</span></a>
        <ul>
            <li>
                <a href="@Url.Action("ProductAdd","Product")">Product Add</a>
            </li>
            <li>
                <a href="@Url.Action("Productlist","Product")">Product List</a>
            </li>

        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-wrench"></i> <span class="menu-item-parent">Purchease</span></a>
        <ul>
            @*<li>
                    <a href="@Url.Action("PurcheaseOrder","Purchease")">PurcheaseOrder Add</a>
                </li>
                <li>
                    <a href="@Url.Action("PurcheaseOrderlist","Purchease")">PurcheaseOrder List</a>
                </li>
                <li>
                    <a href="@Url.Action("PurcheaseAdd","Purchease")">Purchease Add</a>
                </li>*@
            <li>
                <a href="@Url.Action("PurcheaseReturnlist","Purchease")">Purchease Return List</a>
            </li>
            <li>
                <a href="@Url.Action("PurcheaseReturnAdd","Purchease")">Purchease Add</a>
            </li>
            <li>
                <a href="@Url.Action("Purcheaselist","Purchease")">Purchease List</a>
            </li>
            <li>
                <a href="@Url.Action("PurcheasePOS","Purchease")">PurcheasePOS</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-wrench"></i> <span class="menu-item-parent">Sales</span></a>
        <ul>
            <li>
                <a href="@Url.Action("SalesList","Sales")">Sales List</a>
            </li>
            <li>
                <a href="@Url.Action("SalesPOS","Sales")">SalesPOS</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-wrench"></i> <span class="menu-item-parent">Stock</span></a>
        <ul>
            <li>
                <a href="@Url.Action("StockList","Stock")">Sales List</a>
            </li>
            <li>
                <a href="@Url.Action("StockTransfer","Stock")">Stock Transfer</a>
            </li>

        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-wrench"></i> <span class="menu-item-parent">Account</span></a>
        <ul>
            <li>
                <a href="@Url.Action("AccountRecive","Accounting")">Account Reciveable</a>
            </li>
            <li>
                <a href="@Url.Action("AccountPayable","Accounting")">Account Payable</a>
            </li>
            <li>
                <a href="@Url.Action("AccountCreate","Accounting")">Account Create</a>
            </li>
            <li>
                <a href="@Url.Action("AccountPayment","Accounting")">Payment</a>
            </li>
            <li>
                <a href="@Url.Action("AccountReceipt","Accounting")">Receipt</a>
            </li>
            <li>
                <a href="@Url.Action("AccountManagement","Accounting")">Management</a>
            </li>
            <li>
                <a href="@Url.Action("AccountRecivePayment","Accounting")">Account Receive Payment</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-wrench"></i> <span class="menu-item-parent">User Management</span></a>
        <ul>
            <li>
                <a href="@Url.Action("RolesList","Account")">Roles</a>
            </li>
            <li>
                <a href="@Url.Action("UserCreate","Account")">Roles</a>
            </li>

        </ul>
    </li>
</ul>