﻿<!-- Bread crumb is created dynamically -->
<!-- row -->
<style>
    .ppp table tr td {
        padding: 2px !important;
    }

    table {
        margin-bottom: 0px !important;
    }
</style>
<div ng-controller="DashBoardCrtl">
    <div class="row col-lg-12">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-desktop"></i>
                Dashboard
            </h1>
        </div>
        <!-- end col -->
        <!-- right side of the page with the sparkline graphs -->
        <!-- col -->
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <!-- sparks -->
            <ul id="sparks">
                <li class="sparks-info">
                    <h5>TOtal Supplier <span class="txt-color-blue">{{Suppliers}}</span></h5>
                    <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                        1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                    </div>
                </li>
                <li class="sparks-info">
                    <h5>Total Customer <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>{{Customers}}</span></h5>
                    <div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
                        110,150,300,130,400,240,220,310,220,300, 270, 210
                    </div>
                </li>
                <li class="sparks-info">
                    <h5> Total Employee <span class="txt-color-greenDark"><i class="fa fa-user"></i>&nbsp;{{Employee}}</span></h5>
                    <div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
                        110,150,300,130,400,240,220,310,220,300, 270, 210
                    </div>
                </li>
            </ul>
            <!-- end sparks -->
        </div>
        <!-- end col -->
    </div>
    <div class="row col-md-12 ">
        <div class="col-md-2 well well-lg text-center">
            <span class="fa fa-shopping-bag fa-4x"></span>
            <h3> <a href="@Url.Action("PurcheasePOS","Purchease")">Stock In</a></h3>
        </div>
        <div class="col-md-2 well well-lg text-center">
            <span class="fa fa-shopping-cart fa-4x"></span>
            <h3> <a href="@Url.Action("SalesPOS","Sales")">SalesPOS</a></h3>
        </div>
        <div class="col-md-2 well well-lg text-center">
            <span class="fa fa-cogs fa-4x"></span>
            <h3> <a href="@Url.Action("Supplier","MasterSetUp")">Supplier</a></h3>
        </div>
        <div class="col-md-2 well well-lg text-center">
            <span class="fa fa-line-chart fa-4x"></span>
            <h3> <a href="@Url.Action("StockReportAction","Stock")">Stock Report</a></h3>
        </div>
        <div class="col-md-4 well ppp">
            <table class="table table-bordered table-striped">
                <caption class="Bold">Today Summary</caption>
                <tr>
                    <td class="Bold">Total Expense</td>
                    <td ng-repeat="item in ToDays | filter:{ Type:'Expense'}"><span >{{item.Amount  }}</span> </td>
                </tr>
                <tr>
                    <td class="Bold">Total Income</td>
                    <td ><span ng-repeat="item in ToDays | filter:{ Type:'Income'}">{{item.Amount  }}</span></td>
                </tr>
                <tr >
                    <td class="Bold">Total Purchease</td>
                    <td><span ng-repeat="item in ToDays | filter:{ Type:'Purchease'}">{{item.Amount  }}</span></td>

                </tr>
                <tr>
                    <td class="Bold">Total Sales</td>
                    <td><span ng-repeat="item in ToDays | filter:{ Type:'Sales'}">{{item.Amount  }}</span></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- end row -->
    <div class="col-sm-12 well">
        <div class="col-sm-6">
            <table class="highchart table table-hover table-bordered" data-graph-container=".. .. .highchart-container" data-graph-type="column">
                <caption style="font-size:140%"><span class="label label-info h4"> Income Expense Summary</span></caption>
                <thead>
                    <tr>
                        <th>Month</th>
                        <th class="">Income </th>
                        <th class="">Expense</th>
                    </tr>
                </thead>
                <tbody id="Ac"></tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <div class="highchart-container"></div>
        </div>
    </div>
    @*<div class="col-sm-12 well">
        <div class="col-sm-6">
            <table class="highchart table table-hover table-bordered" data-graph-container=".. .. .highchart-container2" data-graph-type="column">
                <caption style="font-size:140%"><span class="label label-info h4"> Product Summary Month Wise</span></caption>
                <thead>
                    <tr>
                        <th>Month</th>
                        <th class="">Purchease</th>
                        <th class="">Sales</th>
                        <th class="">Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>January</td>
                        <td class="">1</td>
                        <td class="">6000</td>
                        <td class="">2000</td>
                    </tr>
                    <tr>
                        <td>February</td>
                        <td class="">5000</td>
                        <td class="">3000</td>
                        <td class="">4000</td>
                    </tr>
                    <tr>
                        <td>March</td>
                        <td class="">7000</td>
                        <td class="">8000</td>
                        <td class="">3000</td>
                    </tr>
                    <tr>
                        <td>April</td>
                        <td class="">2000</td>
                        <td class="">2000</td>
                        <td class="">3000</td>
                    </tr>
                    <tr>
                        <td>May</td>
                        <td class="">500</td>
                        <td class="">3000</td>
                        <td class="">500</td>
                    </tr>
                    <tr>
                        <td>June</td>
                        <td class="">600</td>
                        <td class="">500</td>
                        <td class="">500</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <div class="highchart-container2"></div>
        </div>
    </div>*@
</div>
@section Scripts{
    <script type="text/javascript">
       
        app.controller("DashBoardCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', "SweetAlert",
            function ($scope, $http, $q, $timeout, AlertService, SweetAlert) {
                init();
                function init() {
                    initialize();
                    GetDashboardata();
                }
                function initialize() {
                    $scope.datas = [];
                }

                function GetDashboardata() {
                    $scope.Sales = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'AspNetUser/GetDashboardata/'
                    }).then(function successCallback(response) {
                        $scope.datas = response.data.results;
                        $scope.Customers = $scope.datas.Table[0].Customers;
                        $scope.Employee = $scope.datas.Table[0].Employee;
                        $scope.Suppliers = $scope.datas.Table[0].Suppliers;
                        $scope.Account = $scope.datas.Table1;
                        $scope.ToDays = $scope.datas.Table2;
                       
                        var ac = $('#Ac');
                        for (var i = 0; i < $scope.Account.length; i++) {
                            var text = "<tr><td>" + $scope.Account[i].MonthName + "</td>" +
                                "<td class=''>" + $scope.Account[i].ReciveAmount + "</td>" +
                                "<td class=''>" + $scope.Account[i].PaymentAmount + "</td></tr>";
                            ac.append(text);
                        }
                        if (response.data.results != null) {
                            $('table.highchart').highchartTable();
                        }
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
            }]);
    </script>
}


