﻿
@{
    ViewBag.Title = "StockReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- widget content -->
<div class="widget-body" ng-controller="StockReportCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Stock Report</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form name="addform" ng-submit="" class="form-horizontal" id="form_sample_1" novalidate>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Product:
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" ng-model="Std" placeholder="Search Product Name/Code" uib-typeahead="i  as i.Text for i in Search($viewValue)"
                                                       typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group  col-md-4" ng-class="{ 'has-error' : submitted && addform.MinimumStock.$invalid}">
                                            <label class="col-md-4 control-label" style="padding-right:0px">
                                                Stock Range:
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" ng-model="Model.StockMin" class="form-control" placeholder="Min" name="MinimumStock">
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" ng-model="Model.StockMax" class="form-control" placeholder="Max" name="MinimumStock">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.SalsPrice.$invalid }">
                                            <label class="col-md-4 control-label">
                                                Price Range:
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" ng-model="Model.PriceMin" class="form-control" placeholder="Min" name="SalsPrice">
                                            </div><div class="col-md-4">
                                                <input type="text" ng-model="Model.PriceMax" class="form-control" placeholder="Max" name="SalsPrice">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Branch :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Model.BranchId" class="form-control" name="BranchId" ng-options="Catagory.Id as Catagory.BranchName for Catagory in Branchs">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-pull-1 col-md-4 pull-right" style="padding-right:0px">
                                            <div class="pull-right">
                                                <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="resetForm();submitted=false">Reset</button>
                                                <button type="submit" ng-click="submitted=true;Show()" class="btn green-haze btn-success" ng-disabled="btnDis">Show <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                                                <button type="submit" ng-click="submitted=true;Report()" class="btn green-haze btn-info" ng-disabled="btnDis">Report <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr />
                            <div ng-hide="List.length <= 0">
                                <div class="row" style="margin-bottom:5px">
                                    <div class="col-md-4 col-sm-5 col-xs-6">
                                        <div class="form-Purchease">
                                            <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">
                                                <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                            </div>
                                            <div class="col-md-7  col-sm-8  col-xs-4">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-5">

                                    </div>
                                    <div class="col-md-6 col-sm-3 col-xs-1">
                                        <div id="sample_3_filter" class="pull-right">
                                            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Product Name</th>
                                                <th>Quantity</th>
                                                <th>Unite Price</th>
                                                <th>Sales Price</th>
                                                <th>Purchease Amount</th>
                                                <th>Sales Amount</th>
                                                <th>Branch Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-show="List.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                            <tr dir-paginate="item in List| filter:q|itemsPerPage:pageSize">
                                                <td>{{item.ProductName}}</td>
                                                <td>{{item.Quantity}} {{item.UOMName}}</td>
                                                <td>{{item.UnitPrice}}</td>
                                                <td>{{item.SalsPrice}}</td>
                                                <td>{{item.Quantity*item.UnitPrice}}</td>
                                                <td>{{item.Quantity*item.SalsPrice}}</td>
                                                <td>{{item.BranchName}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div>
                                        <dir-pagination-controls boundary-links="true" template-url="~/Content/dirPagination.tpl.html"></dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">

        app.controller("StockReportCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', 'DTOService', 'blockUI', '$filter',
            function ($scope, $http, $q, $timeout, AlertService, DTOService, blockUI, $filter) {
                init();
                function init() {
                    initialize();
                   getBranchs();
                }
                function initialize() {
                    $scope.List = [];
                    $scope.Model = {};
                    $scope.Std = {};
                    $scope.Std.Value = null;
                    $scope.Std.Text = null;


                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;

                    $scope.btnDis = false;
                    $scope.spin = false;

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                }
                function getBranchs() {
                    $scope.Branchs = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Stock/GetAllActiveBranches/'
                    }).then(function successCallback(response) {
                        $scope.Branchs = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                $scope.Search = function (val) {
                    if (val.length >= 3)
                        return $http.get(baseUrl + 'Product/GetProducts/' + val, {
                            params: {}
                        }).then(function (response) {
                            return response.data.results.map(function (item) {
                                return item;
                            });
                        });
                };
                $scope.Show = function Show() {
                    $scope.Model.ProductId = $scope.Std.Value;
                    blockUI.start();
                    $scope.List = [];
                    $http({
                        method: 'POST',
                        url: baseUrl + 'Stock/StockReport',
                        data: $scope.Model
                    }).then(function (response) {
                        $scope.List = response.data.results;
                        blockUI.stop();
                        resetForm();
                    }, function errorCallback(response) {
                        blockUI.stop();
                        AlertService.warning(response.data.Message);
                    });
                };
                $scope.Report = function Report() {
                    $scope.Model.ProductId = $scope.Std.Value;
                    var form = document.createElement("form");
                    form.target = "_blank";
                    form.method = "POST";
                    form.action = window.location.origin + '/Product/StockReportCall/';
                    form.style.display = "none";

                    for (var key in $scope.Model) {
                        var input = document.createElement("input");
                        input.type = "hidden";
                        input.name = key;
                        if ($scope.Model[key] != "") {
                            input.value = $scope.Model[key]
                        }
                        else {
                            input.value = " "
                        }
                        form.appendChild(input);
                    }

                    document.body.appendChild(form);
                    form.submit();
                    document.body.removeChild(form);
                    resetForm();
                };
                function resetForm() {
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;

                    $scope.Model = {};
                    $scope.Std = {};
                    $scope.Std.Value = null;
                    $scope.Std.Text = null;
                   
                }
               


            }]);
    </script>
}



