﻿@{
    ViewBag.Title = "StockList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .red {
        background-color:#ef6c63
    }
</style>
<!-- widget content -->
<div class="widget-body" ng-controller="StockCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-Stockbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Stock List</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-4 col-sm-5 col-xs-6">
                                    <div class="form-Product">
                                        <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">
                                            <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                        </div>
                                        <div class="col-md-7  col-sm-8  col-xs-4">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-5">

                                </div>
                                <div class="col-md-6 col-sm-3 col-xs-1">
                                    <div id="sample_3_filter" class="pull-right">
                                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Quantity</th>
                                            <th>Unite Price</th>
                                            <th>Sales Price</th>
                                            <th>Purchease Amount</th>
                                            <th>Sales Amount</th>
                                            <th>Branch Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="Stocks.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                        <tr dir-paginate="item in Stocks| filter:q|itemsPerPage:pageSize" ng-class="{ 'red' : item.UOMId >= item.Quantity}">

                                            <td>{{item.ProductName}}</td>
                                            <td>{{item.Quantity}} {{item.UOMName}}</td>
                                            <td>{{item.UnitPrice}}</td>
                                            <td>{{item.SalsPrice}}</td>
                                            <td>{{item.Quantity*item.UnitPrice}}</td>
                                            <td>{{item.Quantity*item.SalsPrice}}</td>
                                            <td>{{item.BranchName}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <dir-pagination-controls boundary-links="true" template-url="~/Content/dirPagination.tpl.html"></dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
    <!--Modal Area Start-->
    <div id="addmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">{{modalTitle}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.BranchName.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Stock Name:
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="Stock.StockName" class="form-control" placeholder="Stock Name" name="BranchName" required>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted && addform.BranchName.$error.required" class="help-block">Stock Name Required</span>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.BranchCode.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Stock Code :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="Stock.StockCode" ng-pattern="/^\S{0,50}$/" class="form-control"
                                                   placeholder="Code Name" name="code" required>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted &&  addform.BranchCode.$error.required" class="help-block">Stock Code Required</span>
                                            <span style="color:red" class="help-block" ng-if="submitted && addform.BranchCode.$invalid">No Space Allow</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.HexadecimalCode.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Stock Hexadecimal Code :
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="Stock.HexadecimalCode" ng-pattern="/^\S{0,50}$/" class="form-control"
                                                   placeholder="Hexadecimal Code" name="HexadecimalCode" required>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted &&  addform.HexadecimalCode.$error.required" class="help-block">Stock Hexadecimal Code Required</span>
                                            <span style="color:red" class="help-block" ng-if="submitted && addform.HexadecimalCode.$invalid">No Space Allow</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="resetForm();submitted=false">Cancel</button>
                        <button type="submit" ng-click="submitted=true" class="btn green-haze" ng-disabled="btnDis">Save <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Area End-->
</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">

        app.controller("StockCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService',
            function ($scope, $http, $q, $timeout, AlertService) {
                init();
                function init() {
                    initialize();
                    getStocks();
                }
                function initialize() {
                    $scope.Stocks = [];

                    $scope.resetForm = resetForm;

                    $scope.btnDis = false;
                    $scope.spin = false;

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                }

                function resetForm() {
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Stock = {};
                }
                function getStocks() {
                    if (localStorage.getItem("BrandId") == null) {
                        AlertService.warning("Please Select Branch");
                        return;
                    }
                    $scope.BranchId = localStorage.getItem("BrandId");
                    $scope.Stocks = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Stock/GetAllStock/' + $scope.BranchId
                    }).then(function successCallback(response) {
                        $scope.Stocks = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                $scope.save = function save(e) {
                    if ($scope.addform.$invalid)
                        return;
                    if ($scope.Stock != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Stock/AddStock/',
                            data: $scope.Stock
                        }).then(function successCallback(response) {
                            $('#addmodal').modal('toggle');
                            getBranchs();
                            AlertService.warning(response.data.Message);
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
               
            }]);
    </script>
}


