﻿
@{
    ViewBag.Title = "StockTransfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<div class="widget-body" ng-controller="StockTransferCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Stock Transfer</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <form name="addform" class="form-horizontal" ng-submit="" novalidate>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group col-md-5 " ng-class="{ 'has-error' : submitted && addform.FromBranchId.$invalid}">
                                            <label class="col-md-4 control-label">
                                                From Branch :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Sales.FromBranchId" class="form-control" required name="FromBranchId" ng-options="Catagory.Id as Catagory.BranchName for Catagory in Branchs">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-5 " ng-class="{ 'has-error' : submitted && addform.ToBranchId.$invalid}">
                                            <label class="col-md-4 control-label">
                                                To Branch :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Sales.ToBranchId" class="form-control" required name="ToBranchId" ng-options="Catagory.Id as Catagory.BranchName for Catagory in Branchs">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2 ">
                                            <div>
                                                <button class="btn btn-default" ng-click="save();submitted=ture">Transfer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class=" col-md-12 well well-sm">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="input-group input-group-lg">
                                                        <div class="icon-addon addon-lg">
                                                            <input type="text" ng-model="Std" typeahead-on-select='onSelect($item, $model, $label,item)'
                                                                   placeholder="Search Product Name/Code" uib-typeahead="i  as i.Text for i in Search($viewValue)"
                                                                   typeahead-loading="loadingLocations" typeahead-template-url="customTemplate.html" typeahead-no-results="noResults" class="form-control">
                                                            <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                                                        </div>
                                                        <span class="input-group-btn">
                                                            <a class="btn btn-default Bold font-weight-bold"><span class="fa fa-lg fa-fw fa-product-hunt"></span> <b> </b></a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 well well-sm paper" style="border-top:#ff6a00 solid 2px">
                                            <table class="table m-table table-sm d-xl-table m-table--head-bg-success table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="width:5%">
                                                            #
                                                        </th>
                                                        <th style="width:50%">
                                                            Product Name
                                                        </th>

                                                        <th style="width:20%" class="text-center">
                                                            Req. Quantity
                                                        </th>
                                                        <th style="width:15%">
                                                            Price
                                                        </th>
                                                        <th style="width:15%">
                                                            Ava. Quantity
                                                        </th>
                                                        <th style="width:8%">
                                                            <span class="fa fa-trash"></span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in Sales.SalesDetails">
                                                        <td>{{$index+1}} </td>
                                                        <td> {{item.ProductName}}  </td>
                                                        <td class="text-center">
                                                            <div class="input-group">
                                                                <span class="input-group-addon Bold" ng-click="(item.Quantity=item.Quantity-1);" style="cursor:pointer">-</span>
                                                                <input type="number" name="Quantity" id="spinner-decimal" ng-model="item.Quantity" class=" form-control form-control-sm m-input text-center" placeholder="Quantity">
                                                                <span class="input-group-addon Bold" ng-click="(item.Quantity=item.Quantity+1);" style="cursor:pointer">+</span>
                                                            </div>
                                                        </td>
                                                        <td> {{item.SalsPrice}}  </td>
                                                        <td> {{item.StockQuantity}}  </td>
                                                        <td scope="row">
                                                            <span class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill" ng-click="DeletePro(item)"><i class="fa fa-trash"></i></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--end::Section-->
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
</div>
                        @section Scripts{
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
                            <script type="text/ng-template" id="customTemplate.html">
                                <a style="width:400px">
                                    <span bind-html-unsafe="match.label | typeaheadHighlight:query">
                                        <span style="font-size:1.5em"> {{match.model.Text}}</span><br />
                                        <span>Avl. Quantity : {{match.model.Quantity}}</span>
                                        <span>Unite Price : {{match.model.SalsPrice}}</span>
                                    </span>
                                </a>
                            </script>
                            <script>
                                $(function () {
                                    $("#spinner-decimal").spinner({
                                        step: 0.01,
                                        numberFormat: "n"
                                    });
                                    //$('.minifyme').click();
                                    function formatState(state) {
                                        var $state = $(
                                            '<span>' + state.text + '</span>'
                                        );
                                        return $state;
                                    };
                                    $("#code-helperId").select2({
                                        templateResult: formatState
                                    });
                                });

                                app.controller("StockTransferCrtl", ["$scope", "$http", '$q', '$timeout', "AlertService",
                                    function ($scope, $http, $q, $timeout, AlertService) {

                                        $("#search").focus();
                                        init();
                                        function init() {
                                            initialize();
                                            getBranchs()
                                        }
                                        function initialize() {
                                            $scope.Std = [];
                                            $scope.Sales = {};
                                            $scope.Sales.Date = new Date();
                                            $scope.Sale = {};
                                            $scope.Sales.SalesDetails = [];
                                            $scope.resetForm = resetForm;
                                            $scope.submitted = false;

                                        }
                                        function resetForm() {
                                            $scope.addform.$setUntouched();
                                            $scope.addform.$setPristine();
                                            $scope.TotalPrice = 0;
                                            $scope.TotalQty = 0;
                                            $scope.submitted = false;
                                            $scope.Id = '';

                                            $scope.Sales = {};
                                            $scope.Sales.Date = new Date();
                                            $scope.Sales.SalesDetails = [];
                                        }
                                        function getBranchs() {
                                            $scope.Branchs = [];
                                            $http({
                                                method: 'GET',
                                                url: baseUrl + 'Stock/GetAllActiveBranches/'
                                            }).then(function successCallback(response) {
                                                $scope.Branchs = response.data.results;
                                            }, function errorCallback(response) {
                                                toastr["warning"](response.data.Message);
                                            });
                                        }
                                        $scope.onSelect = function onSelect($item, model, label, items) {
                                            $scope.SalesDetailsObject = {};
                                            $scope.SalesDetailsObject.ProdutId = model.Value;
                                            $scope.SalesDetailsObject.ProductName = model.Text;
                                            $scope.SalesDetailsObject.Quantity = 1;
                                            $scope.SalesDetailsObject.SalsPrice = model.SalsPrice;
                                            $scope.SalesDetailsObject.StockQuantity = model.Quantity;

                                            var res = false;
                                            for (var i in $scope.Sales.SalesDetails) {
                                                if ($scope.Sales.SalesDetails[i].ProductId == model.Value) {
                                                    $scope.Sales.SalesDetails[i].Quantity = $scope.Sales.SalesDetails[i].Quantity + 1;
                                                    res = true;
                                                    break; //Stop this loop, we found it!
                                                }
                                            }
                                            if (res == false) {
                                                $scope.Sales.SalesDetails.push($scope.SalesDetailsObject);
                                            }
                                            $item = null;
                                            $scope.Std = null;
                                            //}
                                        }
                                        $scope.Search = function (val) {
                                            if ($scope.Sales.FromBranchId == null || angular.isUndefined($scope.Sales.FromBranchId)) {
                                                AlertService.warning("First Select Branches.");
                                                return;
                                            }
                                            if (val.length >= 3)
                                                return $http.get(baseUrl + 'Stock/GetProductsbyBranchId/' + val + '/' + $scope.Sales.FromBranchId, {
                                                    params: {}
                                                }).then(function (response) {
                                                    return response.data.results.map(function (item) {
                                                        return item;
                                                    });
                                                });
                                        };
                                        $scope.save = function save(e) {
                                            if ($scope.addform.$invalid) {
                                                AlertService.warning("Please Select Branches.");
                                                return;
                                            }

                                            if ($scope.Sales.SalesDetails.length == 0) {
                                                AlertService.warning("Please Min One Product");
                                                return;
                                            }

                                            if ($scope.Sales != '') {
                                                $http({
                                                    method: 'POST',
                                                    url: baseUrl + 'Stock/TransfarProduct/',
                                                    data: $scope.Sales
                                                }).then(function successCallback(response) {
                                                    AlertService.success(response.data.Message);
                                                    //  $scope.SalesId = response.data.results;
                                                    resetForm();
                                                }, function errorCallback(response) {
                                                    AlertService.warning(response.data.Message);
                                                });
                                            }
                                        };
                                        $scope.DeletePro = function DeletePro(item) {
                                            var index = $scope.Sales.SalesDetails.indexOf(item);
                                            $scope.TotalPrice = $scope.TotalPrice - item.TotalPrice;
                                            $scope.TotalDiscount = $scope.TotalDiscount - item.Discount;
                                            $scope.Sales.Due = $scope.TotalPrice;
                                            $scope.Sales.SalesDetails.splice(index, 1);
                                        }
                                    }]);
                            </script>
                        }




