<html class="gr__mgsc_oemsbd_com">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body data-gr-c-s-loaded="true">
    <div class="row col-md-12">
        <div class="range-label col-md-4" style="padding-top:5px">Displaying {{ range.lower }} - {{ range.upper }} of {{ range.total }}</div>
        <!--<input class="form-control col-md-2" style="width:100px" placeholder="Go to Page" type="text" ng-change="setCurrent(number)" ng-model="number" />-->
        <div class="range-label col-md-8">
            <ul class="pagination pull-right" style="margin-top: 0px;" ng-if="1 &lt; pages.length || !autoHide">
                <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
                    <a  ng-click="setCurrent(1)"><<</a>
                </li>
                <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
                    <a ng-click="setCurrent(pagination.current - 1)"><</a>
                </li>
                <li ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == &#39;...&#39; }">
                    <a ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
                </li>
                <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
                    <a ng-click="setCurrent(pagination.current + 1)">></a>
                </li>
                <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == pagination.last }">
                    <a  ng-click="setCurrent(pagination.last)">>></a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>