﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
#invoice-POS {
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    padding: 2mm;
    margin: 0 auto;
    width: 44mm;
    background: #FFF;
    :: selection

{
    background: #f31544;
    color: #FFF;
}

::moz-selection {
    background: #f31544;
    color: #FFF;
}

#invoice-POS h1 {
    font-size: 1.5em;
    color: #222;
}

#invoice-POS h2 {
    font-size: .9em;
}

#invoice-POS h3 {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
}

#invoice-POS p {
    font-size: .7em;
    color: #666;
    line-height: 1.2em;
}

#top, #mid, #bot { /* Targets all id with 'col-' */
    border-bottom: 1px solid #EEE;
}

#top {
    min-height: 100px;
}

#mid {
    min-height: 80px;
}

#bot {
    min-height: 50px;
}

#top .logo {
    //float: left;
    height: 60px;
    width: 60px;
   
    background-size: 60px 60px;
}

.clientlogo {
    float: left;
    height: 60px;
    width: 60px;
    background-size: 60px 60px;
    border-radius: 50px;
}

#invoice-POS .info {
    display: block;
    //float:left;
    margin-left: 0;
}

#invoice-POS .title {
    float: right;
}

    .title p {
        text-align: right;
    }

#invoice-POS table {
    width: 100%;
    border-collapse: collapse;
}

#invoice-POS td {
    //padding: 5px 0 5px 15px;
    //border: 1px solid #EEE
}

.tabletitle {
    //padding: 5px;
    font-size: .5em;
    background: #EEE;
}

.service {
    border-bottom: 1px solid #EEE;
}

#invoice-POS .item {
    width: 24mm;
}

#invoice-POS .itemtext {
    font-size: .5em;
}

#legalcopy {
    margin-top: 5mm;
}

