﻿@{
    ViewBag.Title = "AccountRecivePayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- widget content -->
<div class="widget-body" ng-controller="PurcheaseCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Payment and Receipt</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form name="addform" ng-submit="" class="form-horizontal" id="form_sample_1" novalidate>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="form-group  col-md-4" >
                                            <label class="col-md-4 control-label" style="padding-right:0px">
                                                Account Name :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Search.AccountId" class="form-control" required name="AccountId" ng-options="item.Id as item.Name for item in AccountNames">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="col-md-4 control-label">
                                                Date :
                                            </label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input class="form-control" type="text" ng-click="p1=true" is-open="p1" name="Date" readonly ng-model="Search.startDate" placeholder="Start Date" uib-datepicker-popup="dd/MM/yy" />
                                                    <span class="input-group-addon Bold font-weight-bold"><b>To</b></span>
                                                    <input class="form-control" type="text" ng-click="p2=true" is-open="p2" name="Date" readonly ng-model="Search.endDate" placeholder="End Date" uib-datepicker-popup="dd/MM/yy" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 pull-right">
                                            <div class="pull-right">
                                                <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="resetForm();submitted=false">Reset</button>
                                                <button type="submit" ng-click="submitted=true;Show()" class="btn green-haze btn-success" ng-disabled="btnDis">Show <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                                                <button type="submit" ng-click="submitted=true;Report()" class="btn green-haze btn-info" ng-disabled="btnDis">Report <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr><th colspan="2" style="text-align:center;">Payment</th></tr>
                                                <tr>
                                                    <th>Account Name </th>
                                                    <th>Amount </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-show="Payment.length <= 0"><td colspan="2" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                                <tr ng-repeat="item in Payment">
                                                    <td><a href="#" ng-click="Detail(item.AccountId)"> {{item.AccountName}}</a></td>
                                                    <td>{{item.Amount}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>Total</th>
                                                <th>{{PaymentAmount}}</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                           
                                            <thead>
                                                <tr ><th colspan="2" style="text-align:center;">Receipt</th></tr>
                                                <tr>
                                                    <th>Account Name </th>
                                                    <th>Amount </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-show="Receipt.length <= 0"><td colspan="2" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                                <tr ng-repeat="item in Receipt">

                                                    <td><a  href="#" ng-click="Detail(item.AccountId)"> {{item.AccountName}}</a></td>
                                                    <td>{{item.Amount}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Total</th>
                                                    <th>{{ReceiptAmount}}</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">
        app.controller("PurcheaseCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', 'DTOService', 'blockUI', '$filter',
            function ($scope, $http, $q, $timeout, AlertService, DTOService, blockUI, $filter) {
                init();
                function init() {
                    initialize();
                    GetPayment();
                    GetReceive();
                    getAccountName();
                }
                function initialize() {
                    $scope.modalTitle = "Purcheas Report";
                    $scope.Purchease = {};
                    $scope.Std1 = {};
                    $scope.Std1.Value = null;
                    $scope.Std1.Text = null;

                    $scope.Search = {};
                    $scope.Search.AccountId = null;
                    $scope.Search.To = null;
                    $scope.Search.From = null;
                    $scope.data = {};
                    $scope.resetForm = resetForm;

                    $scope.btnDis = false;
                    $scope.spin = false;

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                }
                function getAccountName() {
                    $scope.AccountNames = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'AccountName/GetAllAccountName/'
                      
                    }).then(function successCallback(response) {
                        $scope.AccountNames = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function GetReceive() {
                    $scope.Receipt = [];
                    $http({
                        method: 'POST',
                        url: baseUrl + 'TransectionHistory/TransactionReceipt/' ,
                          data: $scope.Search
                    }).then(function successCallback(response) {
                        $scope.Receipt = response.data.results;
                        calculaReceipt();
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function GetPayment() {
                        $scope.Payment = [];
                        $http({
                            method: 'POST',
                            url: baseUrl + 'TransectionHistory/TransactionPayemnt/',
                            data: $scope.Search
                        }).then(function successCallback(response) {
                            $scope.Payment = response.data.results;
                            calculaPayment();
                        }, function errorCallback(response) {
                            toastr["warning"](response.data.Message);
                        });
                    
                }
                function calculaPayment() {
                    $scope.PaymentAmount = 0;
                    angular.forEach($scope.Payment, function (value, key) {
                        $scope.PaymentAmount += num(value.Amount);
                    });
                }
                function calculaReceipt() {
                    $scope.ReceiptAmount = 0;
                    angular.forEach($scope.Receipt, function (value, key) {
                        $scope.ReceiptAmount += num(value.Amount);
                    });
                }
                $scope.Detail = function (Id) {
                    $scope.url = "@Url.Action("AccountTransaction", "Accounting")?Id=" + Id;
                    window.open($scope.url,"_blanck");
                };
                $scope.Show = function Show() {
                    GetPayment();
                    GetReceive();
                    //if (angular.isUndefined($scope.Purchease.From) || $scope.Purchease.From == null)
                    //    $scope.Purchease.From = null;
                    //else
                    //    $scope.Purchease.From = $filter('date')($scope.Purchease.From, 'MM-dd-yyyy');

                    //if (angular.isUndefined($scope.Purchease.To) || $scope.Purchease.To == null)
                    //    $scope.Purchease.To = null;
                    //else
                    //    $scope.Purchease.To = $filter('date')($scope.Purchease.To, 'MM-dd-yyyy');
                    //$scope.Purchease.CustomerId = $scope.Std1.Value;
                    //blockUI.start();
                    //$scope.Purcheases = [];
                    //$http({
                    //    method: 'POST',
                    //    url: baseUrl + 'Sale/SalseReport',
                    //    data: $scope.Purchease
                    //}).then(function (response) {
                    //    $scope.Purcheases = response.data.results;
                    //    blockUI.stop();
                    //    resetForm();
                    //}, function errorCallback(response) {
                    //    blockUI.stop();
                    //    AlertService.warning(response.data.Message);
                    //});
                };
                $scope.Report = function Report() {
                    if (angular.isUndefined($scope.Purchease.From) || $scope.Purchease.From == null)
                        $scope.Purchease.From = null;
                    else
                        $scope.Purchease.From =  $filter('date')($scope.Purchease.From, 'MM-dd-yyyy');

                    if (angular.isUndefined($scope.Purchease.To) || $scope.Purchease.To == null)
                        $scope.Purchease.To = null;
                    else
                        $scope.Purchease.To = $filter('date')($scope.Purchease.To, 'MM-dd-yyyy');
                    $scope.Purchease.CustomerId = $scope.Std1.Value;
                    var form = document.createElement("form");
                    form.target = "_blank";
                    form.method = "POST";
                    form.action = window.location.origin + '/Sales/SalseReportCall/';
                    form.style.display = "none";

                    for (var key in $scope.Purchease) {
                        var input = document.createElement("input");
                        input.type = "hidden";
                        input.name = key;
                        if ($scope.Purchease[key] != "") {
                            input.value = $scope.Purchease[key]
                        }
                        else {
                            input.value = " "
                        }
                        form.appendChild(input);
                    }

                    document.body.appendChild(form);
                    form.submit();
                    document.body.removeChild(form);
                };
                function resetForm() {
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;

                    $scope.Purchease = {};
                    $scope.Std1 = {};
                    $scope.Std1.Value = null;
                    $scope.Std1.Text = null;

                }
                $scope.SearchCustomer = function (val) {
                    if (val.length >= 3)
                        return $http.get(baseUrl + 'Customer/GetCustomerByName/' + val, {
                            params: {}
                        }).then(function (response) {
                            return response.data.results.map(function (item) {
                                return item;
                            });
                        });
                };
                function num(a) {
                    if ($.isNumeric(a)) {
                        var aa = parseFloat(a);
                        var bb = Math.floor(aa);
                        return bb;
                    } else {
                        return 0;
                    }
                }
            }]);
    </script>
}

