﻿
@{
    ViewBag.Title = "AccountCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- widget content -->
<div class="widget-body" ng-controller="AccountNameCrtl">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>AccountName List</h2>
                        <button class="btn btn-default pull-right" data-toggle="modal" data-target="#addmodal">
                            <i class="fa fa-plus"></i> <span class="hidden-mobile">Add New</span>
                        </button>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-4 col-sm-5 col-xs-6">
                                    <div class="form-Product">
                                        <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">
                                            <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                        </div>
                                        <div class="col-md-7  col-sm-8  col-xs-4">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-5">

                                </div>
                                <div class="col-md-6 col-sm-3 col-xs-1">
                                    <div id="sample_3_filter" class="pull-right">
                                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="10%">AccountName Name</th>
                                            <th width="10%">Root Name</th>
                                            <th width="10%">Status</th>
                                            <th width="10%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="AccountNames.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                       
                                        <tr dir-paginate="item in AccountNames| filter:q|itemsPerPage:pageSize">
                                            <td>{{item.Name}}</td>
                                            <td>{{item.RootName}}</td>
                                            
                                            <td>
                                                <a ng-show="item.Status=='A'" ng-click="StatusAccountName(item)" href="javascript:;" class="btn btn-xs btn-icon-only btn-primary">
                                                    Active
                                                </a>
                                                <a ng-show="item.Status=='D'" ng-click="StatusAccountName(item)" href="javascript:;" class="btn btn-xs btn-icon-only btn-success">
                                                    DeActive
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:;" class="btn btn-icon-only btn-warning" ng-click="edit(item)" data-target="#addmodal" data-toggle="modal">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a ng-click="deleteAccountName(item)" href="javascript:;" class="btn btn-icon-only btn-danger">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <dir-pagination-controls boundary-links="true" template-url="~/Content/dirPagination.tpl.html"></dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
    <!--Modal Area Start-->
    <div id="addmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">{{modalTitle}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.AccountNameName.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Account Name:
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" ng-model="AccountName.Name" class="form-control" placeholder="AccountName Name" name="AccountNameName" required>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted && addform.AccountNameName.$error.required" class="help-block">AccountName Name Required</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : submitted && addform.RootId.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Root Name:
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8">
                                            <select ng-model="AccountName.RootId" class="form-control" required name="RootId" ng-options="Root.Id as Root.Name for Root in RootAccount">
                                                <option value=''>Select Option</option>
                                            </select>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted && addform.RootId.$error.required" class="help-block">Root Name Required</span>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline btn-warning" ng-click="resetForm();submitted=false">Cancel</button>
                        <button type="submit" ng-click="submitted=true" class="btn green-haze btn-success" ng-disabled="btnDis">Save <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Area End-->
</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">

        app.controller("AccountNameCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', "SweetAlert",
            function ($scope, $http, $q, $timeout, AlertService, SweetAlert) {
                init();
                function init() {
                    initialize();
                    getRootAccount();
                    getAccountNamet();
                }
                function initialize() {
                    $scope.modalTitle = "Add AccountName";
                    $scope.btn = "Save";
                    $scope.AccountName = {};
                    $scope.AccountName.AccountNameId = 0;
                    $scope.AccountNames = [];

                    $scope.getAccountNamet = getAccountNamet;
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;

                    $scope.btnDis = false;
                    $scope.spin = false;

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                }

                function resetForm() {
                    $scope.modalTitle = "Add AccountName";
                    $scope.btn = "Save";
                    $scope.AccountName.AccountNameId = 0;
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.AccountName = {};
                }
                function getAccountNamet() {
                    $scope.AccountNames = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'AccountName/GetAllAccountName/'
                    }).then(function successCallback(response) {
                        $scope.AccountNames = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }

                function getRootAccount() {
                    $scope.RootAccount = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'RootAccount/GetAllRootAccount/'
                    }).then(function successCallback(response) {
                        $scope.RootAccount = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }

                $scope.edit = function (n) {
                    $scope.modalTitle = "Update AccountName";
                    $scope.btn = "Update";
                    $scope.AccountName = n;
                    $scope.Id = n.Id;
                };

                $scope.save = function save(e) {
                    if ($scope.addform.$invalid)
                        return;
                    if ($scope.AccountName != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'AccountName/AddAccountName/',
                            data: $scope.AccountName
                        }).then(function successCallback(response) {
                            $('#addmodal').modal('toggle');
                            getAccountNamet();
                            AlertService.warning(response.data.Message);
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.StatusAccountName = function StatusAccountName(item) {
                    if (item != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'AccountName/StatusAccountName/',
                            data: item
                        }).then(function successCallback(response) {
                            getAccountNamet();
                            AlertService.success(response.data.message);
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.deleteAccountName = function (item) {
                    $scope.item = item;
                    SweetAlert.swal({
                        title: "Are you sure to delete it ?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                $http({
                                    method: 'POST',
                                    url: baseUrl + 'AccountName/DeleteAccountName',
                                    data: item
                                }).then(function successCallback(response) {
                                    SweetAlert.swal("Deleted!", "Your data has been deleted.", "success");
                                    getAccountNames();
                                }, function errorCallback(response) {
                                    AlertService.warning(response.data.Message);
                                });
                            }
                        });
                };
            }]);
    </script>
}

