﻿@{
    ViewBag.Title = "AccountRecive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- widget content -->
<div class="widget-body" ng-controller="AccountReciveCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-AccountRecivebutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>AccountRecive List</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-4 col-sm-5 col-xs-6">
                                    <div class="form-Product">
                                        <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">
                                            <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                        </div>
                                        <div class="col-md-7  col-sm-8  col-xs-4">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-5">

                                </div>
                                <div class="col-md-6 col-sm-3 col-xs-1">
                                    <div id="sample_3_filter" class="pull-right">
                                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Invoiec No</th>
                                            <th>Date</th>
                                            <th>Name</th>
                                            <th>Due</th>
                                            <th>Amount Paid</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="AccountRecives.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                        <tr dir-paginate="item in AccountRecives| filter:q | itemsPerPage:pageSize">
                                            <td>{{item.InvoiecNo}}</td>
                                            <td>{{item.Date  | date : format : 'DD-MM-YYYY'}}</td>
                                            <td>{{item.CustomerName}}</td>
                                            <td>{{item.Due}}</td>
                                            <td>{{item.TotalPaid}}</td>
                                            <td>
                                            <a href="javascript:;" class="btn btn-icon-only green btn-success btn-xs btn-success" data-target="#addmodal" data-toggle="modal" ng-click="edit(item)">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <dir-pagination-controls boundary-links="true" template-url="~/Content/dirPagination.tpl.html"></dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
    <!--Modal Area Start-->
    <div id="addmodal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Account Reciveable</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group col-md-6" ng-class="{ 'has-error' : submitted && addform.InvoiceNo.$invalid}">
                                    <label class="col-md-4 control-label">
                                        Invoice No :
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" ng-model="AccountRecive.InvoiceNo" class="form-control " placeholder="Invoice No" name="InvoiceNo" />
                                        <div class="form-control-focus"> </div>
                                        <span ng-show="submitted &&  addform.InvoiceNo.$error.required" class="help-block">Invoice No Required</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6" ng-class="{ 'has-error' : submitted && addform.Date.$invalid}">
                                    <label class="col-md-4 control-label">
                                        Date :
                                    </label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" ng-click="p2=true" is-open="p2" name="Date" readonly ng-model="AccountRecive.Date" placeholder=" Date" uib-datepicker-popup="dd/MM/yyyy" required />
                                        <div class="form-control-focus"> </div>
                                        <span ng-show="submitted && addform.Date.$error.required" class="help-block"> Date Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6" ng-class="{ 'has-error' : submitted && addform.SubCategorys.$invalid}">
                                    <label class="col-md-4 control-label">
                                        Recive Amount :
                                    </label>
                                    <div class="col-md-8">
                                        <input type="number" ng-model="AccountRecive.ReciveAmount" class="form-control " placeholder="Payment Amount" name="PaymentAmount" />
                                        <div class="form-control-focus"> </div>
                                        <span ng-show="submitted &&  addform.SubCategorys.$error.required" class="help-block">Sub Category Required</span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6" ng-class="{ 'has-error' : submitted && addform.PaymentType.$invalid}">
                                    <label class="col-md-4 control-label">
                                        Payment Type :
                                    </label>
                                    <div class="col-md-8">
                                        <select ng-model="AccountRecive.PaymentType" class="form-control" required name="PaymentType" ng-options="item.Id as item.Name for item in Payments">
                                            <option value="">Select Option</option>
                                        </select>
                                        <div class="form-control-focus"> </div>
                                        <span ng-show="submitted &&  addform.PaymentType.$error.required" class="help-block">Payment Type Required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12" ng-class="{ 'has-error' : submitted && addform.Remarks.$invalid}">
                                    <label class="col-md-2 control-label">
                                        Description :
                                    </label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" name="Date" ng-model="AccountRecive.Remarks" placeholder="Description"></textarea>
                                        <div class="form-control-focus"> </div>
                                        <span ng-show="submitted && addform.Remarks.$error.required" class="help-block"> Description Required</span>
                                    </div>
                                </div>
                                <div ng-show="AccountRecive.PaymentType==2">
                                    <div class="form-group col-md-6" ng-class="{ 'has-error' : submitted && addform.Bank.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Bank :
                                        </label>
                                        <div class="col-md-8">
                                            <select ng-model="AccountRecive.BankId" class="form-control" name="BankId" ng-options="Bank.BankId as Bank.BankName for Bank in Banks">
                                                <option value=''>Select Option</option>
                                            </select>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted &&  addform.BankId.$error.required" class="help-block">Bank Required</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6" ng-class="{ 'has-error' : submitted && addform.ChequeNo.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Cheque No :
                                        </label>
                                        <div class="col-md-8">
                                            <input ng-model="AccountRecive.ChequeNo" class="form-control " placeholder="ChequeNo" />
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted &&  addform.ChequeNo.$error.required" class="help-block">Cheque No Required</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline btn-warning" ng-click="resetForm();submitted=false">Cancel</button>
                        <button type="submit" ng-click="submitted=true" class="btn green-haze btn-success" ng-disabled="btnDis">Save <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal Area End-->
</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">

        app.controller("AccountReciveCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService',
            function ($scope, $http, $q, $timeout, AlertService) {
                init();
                function init() {
                    initialize();
                    getAccountRecives();
                    getRootAccount();
                }
                function initialize() {
                    $scope.AccountRecives = [];

                    $scope.resetForm = resetForm;

                    $scope.btnDis = false;
                    $scope.spin = false;

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                    $scope.Payments = [];
                    $scope.Payments.push({ Name: "Cash", Id: 1 }, { Name: "Bank", Id: 2 });
                }
                function getRootAccount() {
                    $scope.RootAccounts = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'RootAccount/GetAllRootAccount/'
                    }).then(function successCallback(response) {
                        $scope.RootAccounts = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }

                $scope.getAccountName = function getAccountName(n) {
                    $scope.AccountNames = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'AccountName/GetAllAccountNameById/' + n
                    }).then(function successCallback(response) {
                        $scope.AccountNames = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                $scope.edit = function edit(n) {
                    $scope.AccountRecive = n;
                    $scope.title = n.SupplierName;
                    $scope.AccountRecive.Date = new Date();
                    $scope.AccountRecive.ReciveAmount = n.Due;
                    $scope.AccountRecive.PaymentType = 1;
                    $scope.AccountRecive.InvoiceNo = n.InvoiecNo;
                }
                function resetForm() {
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.AccountRecive = {};
                }
                function getAccountRecives() {
                    $scope.AccountRecives = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Sale/GetSalesDue/'
                    }).then(function successCallback(response) {
                        $scope.AccountRecives = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                $scope.save = function save(e) {
                    if ($scope.addform.$invalid)
                        return;
                    if ($scope.AccountRecive != '') {
                        if (localStorage.getItem("BrandId") == null) {
                            AlertService.warning("Please Select Branch");
                            return;
                        }
                        $scope.AccountRecive.BranchId = localStorage.getItem("BrandId");
                        $http({
                            method: 'POST',
                            url: baseUrl + 'TransectionHistory/AddTransectionHistoryr/',
                            data: $scope.AccountRecive
                        }).then(function successCallback(response) {
                            $('#addmodal').modal('toggle');
                            getAccountRecives();
                            AlertService.success(response.data.Message);
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };

            }]);
    </script>
}
