﻿
@{
    ViewBag.Title = "AccountManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- widget content -->
<div class="widget-body" ng-controller="TransectionHistoryListCrtl">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>TransectionHistory List</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-4 col-sm-5 col-xs-6">
                                    <div class="form-Product">
                                        <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">
                                            <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                        </div>
                                        <div class="col-md-7  col-sm-8  col-xs-4">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-5">

                                </div>
                                <div class="col-md-6 col-sm-3 col-xs-1">
                                    <div id="sample_3_filter" class="pull-right">
                                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>SL.</th>
                                            <th>Name</th>
                                            <th>Account</th>
                                            <th>Payment Type</th>
                                            <th>Receipt Amount</th>
                                            <th>Paid Amount</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="TransectionHistory.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                        @*<tr ng-repeat="item in Suppliers">*@
                                        <tr dir-paginate="item in TransectionHistory| filter:q|itemsPerPage:pageSize">
                                            <td>{{$index+1}}</td>
                                            <td>{{item.RootName}}</td>
                                            <td>{{item.AccountName}}</td>
                                            <td>{{item.PaymentTypeName}}</td>
                                            <td>{{item.ReciveAmount}}</td>
                                            <td>{{item.PaymentAmount}}</td>
                                            <td>
                                                <a href="javascript:;" class="btn btn-success btn-sm" ng-click="edit(item)" data-target="#addmodal" data-toggle="modal">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a ng-click="delete(item)" href="javascript:;" class="btn btn-icon-only red btn-danger btn-sm">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                        <dir-pagination-controls boundary-links="true" template-url="~/Content/dirPagination.tpl.html"></dir-pagination-controls>
                                    </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">

        app.controller("TransectionHistoryListCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', "SweetAlert",
            function ($scope, $http, $q, $timeout, AlertService, SweetAlert) {
                init();
                function init() {
                    initialize();
                    getTransectionHistory();
                }
                function initialize() {
                    $scope.modalTitle = "Add Supplier";
                    $scope.btn = "Save";
                    $scope.Purchase = {};
                    $scope.Purchase.BranchId = 0;
                    $scope.Purchases = [];

                    $scope.getTransectionHistory = getTransectionHistory;
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;

                    $scope.btnDis = false;
                    $scope.spin = false;

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                }

                function resetForm() {
                    $scope.modalTitle = "Add Purchase";
                    $scope.btn = "Save";
                 
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.TransectionHistory = {};
                }

                function getTransectionHistory() {
                    $scope.TransectionHistory = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'TransectionHistory/GetAllTransectionHistory/'
                    }).then(function successCallback(response) {
                        $scope.TransectionHistory = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }

                $scope.edit = function (n) {
                    var usl = '@Url.Action("TransectionHistoryPos", "TransectionHistory")?Id=' + n.Id;
                    window.open(usl);
                };

                $scope.save = function save(e) {
                    if ($scope.addform.$invalid)
                        return;
                    if ($scope.Purchase != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Purchase/AddPurchase/',
                            data: $scope.Purchase
                        }).then(function successCallback(response) {
                            $('#addmodal').modal('toggle');
                            getBranchs();
                            AlertService.warning(response.data.Message);
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.StatusTransectionHistory = function StatusTransectionHistory(item) {
                    if (item != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'TransectionHistory/DeleteTransectionHistory/',
                            data: item
                        }).then(function successCallback(response) {
                            getTransectionHistory();
                            AlertService.success(response.data.message);
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
            }]);
    </script>
}


