﻿
@{
    ViewBag.Title = "AccountPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- end widget -->
<!-- widget content -->
<div class="widget-body" ng-controller="PaymentCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Entry Payment</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="form-group col-md-6" ng-class="{ 'has-error' : submitted && addform.InvoiceNo.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Invoice No :
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" ng-model="Payment.InvoiceNo" class="form-control " placeholder="Invoice No" name="InvoiceNo" />
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.InvoiceNo.$error.required" class="help-block">Invoice No Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6" ng-class="{ 'has-error' : submitted && addform.Date.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Date :
                                            </label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" ng-click="p2=true" is-open="p2" name="Date" readonly ng-model="Payment.Date" placeholder=" Date" uib-datepicker-popup="dd/MM/yyyy" required />
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.Date.$error.required" class="help-block"> Date Required</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="form-group  col-md-6" ng-class="{ 'has-error' : submitted && addform.RootAccount.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Select Root Account :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Payment.RootAccountId" class="form-control" ng-change="getAccountName(Payment.RootAccountId)" required name="RootAccount" ng-options="item.Id as item.Name for item in RootAccounts">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.Code.$error.required" class="help-block">Payment Code Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-md-6" ng-class="{ 'has-error' : submitted && addform.MinimumStock.$invalid}">
                                            <label class="col-md-4 control-label" style="padding-right:0px">
                                                Select Account Name :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Payment.AccountId" class="form-control" required name="BranchId" ng-options="item.Id as item.Name for item in AccountNames">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.MinimumStock.$error.required" class="help-block">Minimum Stock Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6" ng-class="{ 'has-error' : submitted && addform.SubCategorys.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Payment Amount :
                                            </label>
                                            <div class="col-md-8">
                                                <input type="number" ng-model="Payment.PaymentAmount" class="form-control " placeholder="Payment Amount" name="PaymentAmount" />
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.SubCategorys.$error.required" class="help-block">Sub Category Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6" ng-class="{ 'has-error' : submitted && addform.PaymentType.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Payment Type :
                                            </label>
                                            <div class="col-md-8">
                                                <select class="form-control form-control-sm m-input" required ng-model="Payment.PaymentType" name="PaymentType">
                                                    <option value="">Select Option</option>
                                                    <option value="1">Cash</option>
                                                    <option value="2">Bank</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.PaymentType.$error.required" class="help-block">Payment Type Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12" ng-class="{ 'has-error' : submitted && addform.Remarks.$invalid}">
                                            <label class="col-md-2 control-label">
                                                Description :
                                            </label>
                                            <div class="col-md-10">
                                                <textarea class="form-control" name="Date" ng-model="Payment.Remarks" placeholder="Description"></textarea>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.Remarks.$error.required" class="help-block"> Description Required</span>
                                            </div>
                                        </div>
                                        <div ng-show="Payment.PaymentType==2">
                                            <div class="form-group col-md-6" ng-class="{ 'has-error' : submitted && addform.Bank.$invalid}">
                                                <label class="col-md-4 control-label">
                                                    Bank :
                                                </label>
                                                <div class="col-md-8">
                                                    <select ng-model="Payment.BankId" class="form-control" name="BankId" ng-options="Bank.BankId as Bank.BankName for Bank in Banks">
                                                        <option value=''>Select Option</option>
                                                    </select>
                                                    <div class="form-control-focus"> </div>
                                                    <span ng-show="submitted &&  addform.BankId.$error.required" class="help-block">Bank Required</span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6" ng-class="{ 'has-error' : submitted && addform.ChequeNo.$invalid}">
                                                <label class="col-md-4 control-label">
                                                    Cheque No :
                                                </label>
                                                <div class="col-md-8">
                                                    <input ng-model="Payment.ChequeNo" class="form-control " placeholder="ChequeNo" />
                                                    <div class="form-control-focus"> </div>
                                                    <span ng-show="submitted &&  addform.ChequeNo.$error.required" class="help-block">Cheque No Required</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <div class="pull-right">
                                                <button type="button" data-dismiss="modal" class="btn dark btn-outline btn-warning" ng-click="resetForm();submitted=false">Cancel</button>
                                                <button type="submit" ng-click="submitted=true" class="btn green-haze btn-success" ng-disabled="btnDis">Save <i ng-show="spin" class="fa fa-spinner fa-spin" style="font-size:20px"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">
        app.controller("PaymentCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService',
            function ($scope, $http, $q, $timeout, AlertService) {
                init();
                function init() {
                    initialize();
                    getRootAccount();
                    GenerateInvoice();
                  
                }
                function initialize() {
                    $scope.modalTitle = "Add Payment";
                    $scope.btn = "Save";
                    $scope.Payment = {};
                    $scope.resetForm = resetForm;

                }
                function GetPayment() {
                    if ($scope.PaymentId != 0) {
                        $scope.Payment = [];
                        $http({
                            method: 'GET',
                            url: baseUrl + 'Payment/GetPayment/' + $scope.PaymentId
                        }).then(function successCallback(response) {
                            $scope.Payment = response.data.results;
                            $scope.modalTitle = "Update Payment";
                            $scope.btn = "Update";
                        }, function errorCallback(response) {
                            toastr["warning"](response.data.Message);
                        });
                    }
                }
                function resetForm() {
                    $scope.modalTitle = "Add Payment";
                    $scope.btn = "Save";
                    $scope.branch.BranchId = 0;
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.Payment = {};
                }
                
                function getRootAccount() {
                    $scope.RootAccounts = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'RootAccount/GetAllRootAccount/'
                    }).then(function successCallback(response) {
                        $scope.RootAccounts = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function GenerateInvoice() {
                    $http({
                        method: 'GET',
                        url: baseUrl + 'TransectionHistory/GenereteInvoice/'
                    }).then(function successCallback(response) {
                        $scope.Payment.InvoiceNo = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                $scope.getAccountName =   function getAccountName(n) {
                    $scope.AccountNames = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'AccountName/GetAllAccountNameById/' + n
                    }).then(function successCallback(response) {
                        $scope.AccountNames = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                $scope.save = function save(e) {
                    if ($scope.addform.$invalid)
                        return;
                    if (localStorage.getItem("BrandId") == null) {
                        AlertService.warning("Please Select Branch");
                        return;
                    }
                    $scope.Payment.BranchId = localStorage.getItem("BrandId");
                    $http({
                        method: 'POST',
                        url: baseUrl + 'TransectionHistory/AddTransectionHistoryP/',
                        data: $scope.Payment 
                    }).then(function (response) {
                        AlertService.warning(response.data.Message);
                        resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
            }]);
    </script>
}

