﻿@{
    ViewBag.Title = "PurcheasePos";
    Layout = "~/Views/Shared/_LayoutPOS.cshtml";
}
<div class="widget-body" ng-controller="PurcheaseCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-darken" id="wid-id-1" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Purchease</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form name="addform" class="form-horizontal" ng-submit="save()" novalidate>
                                <div class=" col-md-12">

                                    <div class="row">
                                        <div class="form-group col-md-6" ng-class="{ 'has-error' : submitted && addform.InvoiecNo.$invalid}">
                                            <label class="col-md-5 control-label">
                                                Invoiec No :
                                            </label>
                                            <div class="col-md-5">
                                                <input class="form-control" type="text" ng-model="Purchease.InvoiecNo" placeholder="Invoiec No" name="InvoiecNo" required />
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.InvoiecNo.$error.required" class="help-block">InvoiecNo Required</span>
                                            </div>
                                            <div class="col-md-2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6" ng-class="{ 'has-error' : submitted && addform.Date.$invalid}">
                                            <label class="col-md-5 control-label">
                                                Date :
                                            </label>
                                            <div class="col-md-5">
                                                <input class="form-control" type="text" ng-click="p1=true" is-open="p1" name="Date" readonly ng-model="Purchease.Date" placeholder=" Date" uib-datepicker-popup="dd/MM/yyyy" required />
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.Date.$error.required" class="help-block">Date Required</span>
                                            </div>
                                            <div class="col-md-2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6" ng-class="{ 'has-error' : submitted && addform.SupplierId.$invalid}">
                                            <label class="col-md-5 control-label">
                                                Supplier Name :
                                            </label>
                                            <div class="col-md-5">
                                                <select ng-model="Purchease.SupplierId" class="form-control" name="SupplierId" required ng-options="Supplier.Id as Supplier.Name for Supplier in Suppliers">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.SupplierId.$error.required" class="help-block">Supplier Required</span>
                                            </div>
                                            <div class="col-md-2">
                                                <a href="@Url.Action("Supplier", "MasterSetup")" class="btn btn-primary">Add Supplier </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                              
                                <table class="table table-bordered table-condensed table-responsive">
                                    <thead>
                                        <tr>
                                            <th style="width:3%" class="text-center">SLNo.</th>
                                            <th style="width:28%" class="text-center">Item Infomation </th>
                                            <th style="width:12%" class="text-center">Unite Price </th>
                                            <th style="width:12%" class="text-center">Sales Price </th>
                                            <th style="width:12%" class="text-center">Qty </th>
                                            <th style="width:12%" class="text-center">Discount % </th>
                                            <th style="width:12%" class="text-center">Total </th>
                                            <th style="width:12%" class="text-center">Action </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in Purchease.PurcheaseDetails">
                                            <td>{{$index+1}} </td>
                                            <td>
                                                <span ng-show="item.ProductCode==null">
                                                    <input type="text" ng-model="Std" typeahead-on-select='onSelect($item, $model, $label,item)'
                                                           placeholder="Search Product Name Code" uib-typeahead="i  as i.Text for i in Search($viewValue)"
                                                           typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                    <div ng-show="noResults"><i class="glyphicon glyphicon-remove"></i> No Results Found</div>
                                                    <input type="hidden" name="StudentIID" ng-model="StudentIID" ng-value="Std.Value" />
                                                </span>
                                            <span class="Bold"  ng-hide="item.ProductCode==null">{{item.ProductCode}} {{item.ProductName}}</span>
                                            </td>
                                            <td>
                                                <input type="number" name="UnitePrice" min=0 oninput="validity.valid||(value='');" onfocus="if(parseFloat(this.value) ==0) { this.value = ''; }" onblur="if(this.value == '') { this.value = '0'; }" ng-model="item.UnitePrice" ng-change="calculate(item)" required class="form-control form-control-sm m-input text-center" placeholder="UnitePrice">
                                            </td>
                                            <td>
                                                <input type="number" name="Sales" min=0 oninput="validity.valid||(value='');" onfocus="if(parseFloat(this.value) ==0) { this.value = ''; }" onblur="if(this.value == '') { this.value = '0'; }" ng-model="item.Sales" required class="form-control form-control-sm m-input text-center" placeholder="Sales">
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="number" min=0 oninput="validity.valid||(value='');" name="Quantity" onfocus="if(parseFloat(this.value) ==0) { this.value = ''; }" onblur="if(this.value == '') { this.value = '0'; }" ng-model="item.Quantity" ng-change="calculate(item)" required class="form-control form-control-sm m-input  text-center" placeholder="Quantity" />
                                                    <span ng-hide="UOMName==null" class="input-group-addon">{{UOMName.UOMName}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="number" name="UnitePrice"  min=0 oninput="validity.valid||(value='');" ng-model="item.Discount" onfocus="if(parseFloat(this.value) ==0) { this.value = ''; }" onblur="if(this.value == '') { this.value = '0'; }" ng-change="calculate(item)" required class="form-control form-control-sm m-input  text-center" placeholder="Discount" />
                                            </td>
                                            <td>
                                                <input type="number" name="Amount" ng-model="item.NetAmount" required class="form-control form-control-sm m-input  text-center" placeholder="TotalPrice" disabled readonly />
                                            </td>
                                            <td scope="row">
                                                <span class="btn btn-primary m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill" ng-click="AddPro(Product)"><i class="fa fa-plus"></i></span>
                                                <span class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill" ng-click="DeletePro(Purchease.PurcheaseDetails)"><i class="fa fa-trash"></i></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td rowspan="2" colspan="4">
                                                <h5><b> Note</b></h5>
                                                <textarea class="form-control" ng-model="Purchease.Remarks"></textarea>
                                            </td>
                                            <td colspan="2" class="text-right"><b> Total</b> </td>
                                            <td><input class="form-control form-control-sm m-input" ng-model="Purchease.NetTotal" ng-disabled="true" /></td>
                                        </tr>
                                        <tr ng-class="{ 'has-error' : submitted && addform.TotalPayment.$invalid}">
                                            <td colspan="2" class="text-right"><b>Pay Amount </b></td>
                                            <td ng-class="{ 'has-error' : submitted && addform.TotalPayment.$invalid}">
                                                <input ng-model="Purchease.TotalPaid" min=0 oninput="validity.valid||(value='');" onfocus="if(parseFloat(this.value) ==0) { this.value = ''; }" onblur="if(this.value == '') { this.value = '0'; }" class="form-control form-control-sm m-input" name="TotalPayment" required />
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted  && addform.TotalPayment.$error.required" class="help-block">Total Payment Required</span>
                                            </td>
                                        </tr>
                                      
                                                <tr ng-class="{ 'has-error' : submitted && addform.PaymentType.$invalid}">
                                                    <td colspan="6" class="text-right"><b>Payment Type </b></td>
                                                    <td>
                                                        <select class="form-control form-control-sm m-input" required ng-model="Purchease.PaymentType" ng-options="Payment.PaymentType as Payment.Name for Payment in PaymentType" name="PaymentType">
                                                            <option value=''>Select Option</option>
                                                        </select>
                                                        <div class="form-control-focus"> </div>
                                                        <span ng-show="submitted  && addform.PaymentType.$error.required" class="help-block">Payment Type Required</span>

                                                    </td>
                                                </tr>
                                                <tr ng-show="Purchease.PaymentType==2">
                                                    <td colspan="6" class="text-right">
                                                        Bank Name
                                                    </td>
                                                    <td>
                                                        <select ng-model="Purchease.BankId" class="form-control" name="BankId" ng-options="Bank.BankId as Bank.BankName for Bank in Banks">
                                                            <option value=''>Select Option</option>
                                                        </select>
                                                    </td>
                                                </tr>

                                                <tr ng-show="Purchease.PaymentType==2">
                                                    <td colspan="6" class="text-right">
                                                        Cheque No.
                                                    </td>
                                                    <td>
                                                        <div class="form-group ">
                                                            <div class="">
                                                                <input ng-model="Purchease.ChequeNo" class="form-control form-control-sm m-input" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                           
                                        <tr>
                                            <td colspan="7" class="text-left">
                                                <button type="submit" ng-click="" class="btn btn-primary">Save (ctrl+space)</button> &nbsp;&nbsp;
                                                <a ng-hide="$scope.Purchease.Id==null" ng-click="InvReprot()" class="btn btn-info">Report</a> &nbsp;&nbsp;
                                                <a ng-click="resetForm()" class="btn btn-primary">New Invoice (shift+space)</a> &nbsp;&nbsp;
                                                <a ng-click="AddPro()" class="btn btn-primary">New Row (alt+space)</a> &nbsp;&nbsp;
                                                @*<a  ng-click="holdPurchease()" class="btn btn-primary">Hold</a>*@ &nbsp;&nbsp;
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>

@section Scripts{
<script type="text/javascript">
        $(function () {
            $('.minifyme').click();
        });
        app.controller("PurcheaseCrtl", ["$scope", "$http", '$q', '$timeout',  "AlertService",
            function ($scope, $http, $q, $timeout, AlertService) {
                jwerty.key('ctrl+space', function () { $scope.save() });
                jwerty.key('shift+space', function () { resetForm() });
                jwerty.key('alt+space', function () { AddPro() });

                init();
                function init() {
                    initialize();
                    GetBranch();
                    GetBank();
                    GetSupplier();
                    getSizes();
                   
                }
                function initialize() {
                    $scope.Std = [];
                    $scope.modalTitle = "Add Purchease";
                    $scope.btn = "Save";
                    $scope.Product = {};
                    $scope.TotalPriceWithoutDis = null;
                    $scope.TotalPrice = null;
                    $scope.TotalDiscount = null;
                    $scope.Purchease = {};
                    $scope.Purchease.Date = new Date();
                    $scope.PurcheaseId = null;
                    $scope.Purchease.PurcheaseDetails = [];
                    $scope.Catagorys = [];
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;
                    $scope.btnDis = false;
                    $scope.submitted = false;
                    if ('@ViewBag.Id' != 0) {
                        var Id = '@ViewBag.Id';
                        GetPurcheases(Id);
                    } else {
                        GenerateInvoice();
                        var PurcheaseDetails = { ProductName: '', Quantity: 0.00, UnitePrice: 0.00, Discount: 0.00, Amount: 0.00 };
                        $scope.Purchease.PurcheaseDetails.push(PurcheaseDetails);
                    }
                    $scope.PaymentType = [];
                    $scope.PaymentType.push({ PaymentType: 1, Name: 'Cash' });
                    $scope.PaymentType.push({ PaymentType: 2, Name: 'Bank' });
                    $scope.UOMName = null;
                    $scope.calculate = calculate;
                }
                function resetForm() {
                    $scope.modalTitle = "Add Purchases";
                    $scope.btn = "Save";
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.Purchases = {};
                    $scope.Purchases.PurcheaseDetails = [];
                    $scope.Purchease.Date = new Date();
                    GenerateInvoice();
                    var PurcheaseDetails = { ProductName: '', Quantity: 0.00, UnitePrice: 0.00, Discount: 0.00, TotalPrice: 0.00 };
                    $scope.Purchease.PurcheaseDetails.push(PurcheaseDetails);
                }
                $scope.holdPurchease = function holdPurchease() {
                    localStorage.setItem("Purchases", $scope.Purchease)
                    resetForm();
                }
                $scope.holdPurchease = function holdPurchease() {
                    $scope.Purchease = localStorage.getItem("Purchases");
                }
                $scope.AddPro = function AddPro() {
                    var PurcheaseDetails = { ProductName: '', Quantity: 0, UnitePrice: 0, Discount: 0, TotalPrice: 0 };
                    $scope.Purchease.PurcheaseDetails.push(PurcheaseDetails);
                }
                $scope.InvReprot = function (Id) {
                     $scope.url = "@Url.Action("Invoice", "Purchease")?Id=" + Id;
                    window.open($scope.url,"_blanck");
                };
                $scope.onSelect = function onSelect($item, model, label, items) {
                    angular.forEach($scope.Purchease.PurcheaseDetails, function (value, key) {
                        if (angular.isUndefined(value.ProductId)) {
                            return;
                        }
                        if (items.ProductId == value.ProductId) {
                            AlertService.warning("Product Already Added");
                            return;
                        }
                    })
                    items.ProductId = $item.Value;
                    getUOMName($item.Value);
                    }
                function calculate(item) {
                    item.UnitePrice = angular.isUndefined(item.UnitePrice) ? 0 : num(item.UnitePrice) ;
                    item.Quantity = angular.isUndefined(item.Quantity) ?  0 :  num(item.Quantity);
                    item.Discount = angular.isUndefined(item.Discount) ? 0 :  num(item.Discount);
                    item.Amount = (item.UnitePrice * item.Quantity);
                    item.NetAmount = (item.UnitePrice * item.Quantity) - item.Discount;
                    $scope.Purchease.Total = 0;
                    $scope.Purchease.NetTotal = 0;
                    $scope.Purchease.Return = 0;
                    angular.forEach($scope.Purchease.PurcheaseDetails, function (value, key) {
                        $scope.Purchease.Total += value.Amount;
                        $scope.Purchease.NetTotal += value.NetAmount;
                        $scope.Purchease.Quantity += value.Quantity;
                        $scope.Purchease.Discount += value.Discount;
                    })
                    }
                $scope.GetPurcheaseDetail = function GetPurcheaseDetail() {
                    for (var i = 0; i < $scope.Purchease.PurcheaseDetails.length; i++) {
                        if ($scope.Purchease.PurcheaseDetails[i].ProductId == $scope.Std.Value) {
                            AlertService.warning("This Product Already Added");
                            return;
                        }
                    }
                    if ($scope.FormPurcheaseDetail.$invalid) {
                        $scope.submitted1 = true;
                        return;
                    }
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Product/GetPurcheasDetail/' + $scope.Std.Value + '/' + $scope.Product.Qty + '/' + $scope.Product.UnitePrice
                    }).then(function successCallback(response) {
                        $scope.Purchease.PurcheaseDetails.push(response.data.results);
                        $scope.TotalPrice = $scope.TotalPrice + response.data.results.TotalPrice;
                        $scope.TotalDiscount = $scope.TotalDiscount + response.data.results.Discount;
                        $scope.TotalPriceWithoutDis = response.data.results.Quantity * response.data.results.UnitPrice
                        $scope.Purchease.Due = $scope.TotalPrice;
                        $scope.Std = null;
                        $scope.Product = null;
                        $scope.submitted = false;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GetPurcheases(n) {
                    $scope.Purchease = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Purchase/GetPurchase/'+n
                    }).then(function successCallback(response) {
                        $scope.Purchease = response.data.results;
                        $scope.Purchease.Date = new Date($scope.Purchease.Date);
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GetSupplier() {
                    $scope.Suppliers = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Supplier/GetAllSupplier/'
                    }).then(function successCallback(response) {
                        $scope.Suppliers = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GetBank() {
                    $scope.Banks = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Bank/GetAllBank/'
                    }).then(function successCallback(response) {
                        $scope.Banks = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GetBranch() {
                    $scope.Branchs = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Branch/GetAllBranchs/'
                    }).then(function successCallback(response) {
                        $scope.Branchs = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GenerateInvoice() {
                    $scope.InvoiceId = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Purchase/GenerateInvoice/'
                    }).then(function successCallback(response) {
                        $scope.Purchease.InvoiecNo = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function getSizes() {
                    $scope.Sizes = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Size/GetAllSize/'
                    }).then(function successCallback(response) {
                        $scope.Sizes = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                function getUOMName(n) {
                    $scope.UOMName = null;
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Product/GetProduct/'+n
                    }).then(function successCallback(response) {
                        $scope.UOMName = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }

                $scope.Search = function (val) {
                    if (val.length >= 3)
                        return $http.get(baseUrl + 'Product/GetProducts/' + val , {
                            params: {}
                        }).then(function (response) {
                            return response.data.results.map(function (item) {
                                return item;
                            });
                        });
                };

                $scope.save = function save(e) {
                    if ($scope.addform.$invalid) {
                        $scope.submitted = true;
                        return;
                    }
                    if ($scope.addform.Date.$invalid) {
                        $scope.submitted= true;
                        return;
                    }
                    if ($scope.addform.SupplierId.$invalid) {
                        $scope.submitted= true;
                        return;
                    }
                    if ($scope.addform.TotalPayment.$invalid) {
                        $scope.submitted = true;
                        return;
                    }
                    if ($scope.addform.PaymentType.$invalid) {
                        $scope.submitted = true;
                             return;
                     }
                    if (localStorage.getItem("BrandId") == null) {
                                 AlertService.warning("Please Select Branch");
                                 return;
                    }
                    $scope.Purchease.BranchId = localStorage.getItem("BrandId");
                             if ($scope.Purchease != '') {
                        $http({
                             method: 'POST',
                            url: baseUrl + 'Purchase/AddPurchase/',
                            data: $scope.Purchease
                        }).then(function successCallback(response) {
                             AlertService.success(response.data.Message);
                             resetForm();
                         }, function errorCallback(response) {
                             AlertService.warning(response.data.Message);
                         });
                             }
                         };
                $scope.DeletePro = function DeletePro(item) {
                             var index = $scope.Purchease.PurcheaseDetails.indexOf(item);
                    $scope.TotalPrice = $scope.TotalPrice - item.TotalPrice;
                    $scope.TotalDiscount = $scope.TotalDiscount - item.Discount;
                    $scope.Purchease.Due = $scope.TotalPrice;
                    $scope.Purchease.PurcheaseDetails.splice(index, 1);
                }
                $scope.Delete = function Delete(item) {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Purchase/DeletePurchase/',
                            data: item
                        }).then(function successCallback(response) {
                            AlertService.success(response.data.Message);
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                };
                         function num(a) {
                             if ($.isNumeric(a)) {
                                 return parseInt(a);
                             } else {
                                 return 0;
                             }
                         }
            }]);
</script>
}