﻿@{
    ViewBag.Title = "PurcheaseList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- widget content -->
<div class="widget-body" ng-controller="PurcheaseListCrtl">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Purchease List</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-4 col-sm-5 col-xs-6">
                                    <div class="form-Product">
                                        <div class="col-lg-3 col-md-5 col-sm-4 col-xs-8" style="padding-left:0px">
                                            <select class="form-control" ng-model="pageSize" ng-options="P.value as P.text for P in pageSizeArray"></select>
                                        </div>
                                        <div class="col-md-7  col-sm-8  col-xs-4">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-5">

                                </div>
                                <div class="col-md-6 col-sm-3 col-xs-1">
                                    <div id="sample_3_filter" class="pull-right">
                                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>InvoiecNo</th>
                                            <th>Supplier Name</th>
                                            <th>Date</th>
                                            @*<th>BranchName</th>*@
                                            <th>TotalPayment</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="Purchases.length <= 0"><td colspan="8" style="text-align:center;"><i class="fa fa-database"></i> No data found!!</td></tr>
                                        @*<tr ng-repeat="item in Suppliers">*@
                                        <tr dir-paginate="item in Purchases| filter:q|itemsPerPage:pageSize">
                                            <td>{{item.InvoiecNo}}</td>
                                            <td>{{item.SupplierName}}</td>
                                            <td>{{item.Date  | date : format : 'dd-MM-yyyy'}}</td>
                                            @*<td>{{item.BranchName}}</td>*@
                                            <td>{{item.NetTotal}}</td>
                                            <td>
                                                <a href="javascript:;" class="btn btn-icon-only green btn-success btn-xs btn-success" ng-click="edit(item)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a href="javascript:;" class="btn btn-icon-only btn-info  btn-xs btn-info" ng-click="InvReprot(item.Id)">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a ng-click="deleteBranch(item)" href="javascript:;" class="btn btn-icon-only red btn-danger btn-xs btn-warning">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <dir-pagination-controls boundary-links="true" template-url="~/Content/dirPagination.tpl.html"></dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
</div>
<!-- END MAIN PANEL -->
@section Scripts{
    <script type="text/javascript">

        app.controller("PurcheaseListCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', "SweetAlert",
            function ($scope, $http, $q, $timeout, AlertService, SweetAlert) {
                init();
                function init() {
                    initialize();
                    getPurchases();
                }
                function initialize() {
                    $scope.modalTitle = "Add Supplier";
                    $scope.btn = "Save";
                    $scope.Purchase = {};
                    $scope.Purchase.BranchId = 0;
                    $scope.Purchases = [];

                    $scope.getPurchases = getPurchases;
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;

                    $scope.btnDis = false;
                    $scope.spin = false;

                    $scope.pageSizeArray = [];
                    $scope.pageSizeArray.push({ value: 5, text: 5 });
                    $scope.pageSizeArray.push({ value: 10, text: 10 });
                    $scope.pageSizeArray.push({ value: 20, text: 20 });
                    $scope.pageSizeArray.push({ value: 50, text: 50 });
                    $scope.currentPage = 1;
                    $scope.pageSize = 10;
                }

                function resetForm() {
                    $scope.modalTitle = "Add Purchase";
                    $scope.btn = "Save";
                    $scope.branch.BranchId = 0;
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.Purchase = {};
                }
         $scope.InvReprot = function (Id) {
                     $scope.url = "@Url.Action("Invoice", "Purchease")?Id=" + Id;
                    window.open($scope.url,"_blanck");
                };
                function getPurchases() {
                    $scope.Purchase = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Purchase/GetAllPurchase/'
                    }).then(function successCallback(response) {
                        $scope.Purchasess = response.data.results;
                        angular.forEach($scope.Purchasess, function (value, key) {
                            value.Date = new Date(value.Date);
                            $scope.Purchases.push(value);
                        });
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }

                $scope.edit = function (n) {
                    var usl = '@Url.Action("PurcheasePos", "Purchease")?Id=' + n.Id;
                    window.open(usl);
                };

                $scope.save = function save(e) {
                    if ($scope.addform.$invalid)
                        return;
                    if ($scope.Purchase != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Purchase/AddPurchase/',
                            data: $scope.Purchase
                        }).then(function successCallback(response) {
                            $('#addmodal').modal('toggle');
                            getBranchs();
                            AlertService.warning(response.data.Message);
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.StatusBranch = function StatusBranch(item) {
                    if (item != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Purchase/StatusBranch/',
                            data: item
                        }).then(function successCallback(response) {
                            getBranchs();
                            AlertService.success(response.data.message);
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.deleteBranch = function (item) {
                    $scope.item = item;
                    SweetAlert.swal({
                        title: "Are you sure to delete it ?", type: "warning", showCancelButton: true, confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                $http({
                                    method: 'POST',
                                    url: baseUrl + 'Purchase/DeletePurchase/',
                                    data: item
                                }).then(function successCallback(response) {
                                    SweetAlert.swal("Deleted!", "Your data has been deleted.", "success");
                                    getBranchs();
                                }, function errorCallback(response) {
                                    AlertService.warning(response.data.Message);
                                });
                            }
                        });
                };


            }]);
    </script>
}


