﻿@{
    ViewBag.Title = "PurcheaseReturnReturn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="widget-body" ng-controller="PurcheaseReturnCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-darken" id="wid-id-1" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Purchease Return</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form name="addform" class="form-horizontal" ng-submit="save()" novalidate>
                                @*<select multiple="multiple" class="js-example-data-ajax form-control"></select>*@
                                <div class=" col-md-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <input type="text" ng-model="Std" typeahead-on-select='onSelect($item, $model, $label,item)'
                                                       placeholder="Type invoice number or date..." uib-typeahead="i  as i.Text for i in Search($viewValue)"
                                                       typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                <div ng-show="noResults"><i class="glyphicon glyphicon-remove"></i> No Results Found</div>
                                                <input type="hidden" name="StudentIID" ng-model="StudentIID" ng-value="Std.Value" />

                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" type="button">
                                                        <i class="fa fa-search"></i> Search
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-hide="PurcheaseReturn.Id==null">
                                    <div class="col-sm-9">
                                        <br>
                                        <h4 class="semi-bold Bold">{{PurcheaseReturn.SupplierName}}</h4>
                                        <br><address>
                                            <strong></strong>
                                            {{PurcheaseReturn.PresentAddress}}
                                            <br>
                                            <abbr title="Phone">P:</abbr> {{PurcheaseReturn.Mobile}}
                                        </address>
                                    </div>
                                    <div class="col-sm-3">
                                        <div>
                                            <div class="font-md">
                                                <strong>INVOICE NO :</strong>
                                                <span class="pull-right"> {{PurcheaseReturn.InvoiecNo}} </span>
                                            </div>

                                        </div>
                                        <div>
                                            <div class="font-md">
                                                <strong>INVOICE DATE :</strong>
                                                <span class="pull-right"> <i class="fa fa-calendar"></i> {{PurcheaseReturn.Date | date:'MM/dd/yyyy'}}</span>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="">
                                                <strong>Receiver Name :</strong>
                                               <div class="input-group pull-right "><input class="form-control" placeholder="Receiver Name"  ng-model="PurcheaseReturn.ReceiverName" /> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered table-condensed table-responsive" ng-hide="PurcheaseReturn.PurcheaseDetails.length ==null">
                                    <thead>
                                        <tr>
                                            <th style="width:3%" class="text-center">SLNo. </th>
                                            <th style="width:30%" class="text-center">Item Infomation </th>
                                            <th style="width:10%" class="text-center">Purchease Price </th>
                                            <th style="width:10%" class="text-center">Purchease Qty </th>
                                            <th style="width:12%" class="text-center">Return Qty </th>
                                            <th style="width:12%" class="text-center">Total </th>
                                            <th style="width:10%" class="text-center">Action </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in PurcheaseReturn.PurcheaseDetails">
                                            <td>{{$index+1}} </td>
                                            <td class="Bold">
                                                {{item.ProductCode}} {{item.ProductName}}
                                                @*<select class="form-control" ng-model="item.ProductId" ng-options="Product.ProductId as Product.ProductName for Product in PurcheaseReturn.PurcheaseReturnDetails"></select>*@
                                            </td>
                                            <td>
                                                <input type="number" name="UnitePrice" disabled="disabled" onfocus="if(parseFloat(this.value) ==0) { this.value = ''; }" onblur="if(this.value == '') { this.value = '0'; }" ng-model="item.UnitePrice"  class="form-control form-control-sm m-input text-center" placeholder="UnitePrice">
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="number" name="Quantity" disabled="disabled"
                                                           onfocus="if(parseFloat(this.value) ==0) { this.value = ''; }"
                                                           onblur="if(this.value == '') { this.value = '0'; }" ng-model="item.Quantity" ng-change="calculate(item)"  class="form-control form-control-sm m-input  text-center" placeholder="Quantity" />
                                                    <span ng-hide="UOMName==null" class="input-group-addon">{{UOMName.UOMName}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="number" ng-disabled="item.Checked!=true" name="Quantity" onfocus="if(parseFloat(this.value) ==0) { this.value = ''; }" onblur="if(this.value == '') { this.value = '0'; }" ng-model="item.ReturnQuantity" ng-change="calculate(item)"  class="form-control form-control-sm m-input  text-center" placeholder="Return Quantity" />
                                                    <span ng-hide="UOMName==null" class="input-group-addon">{{UOMName.UOMName}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="number" name="TotalPrice" ng-model="item.ReturnTotalPrice"  class="form-control form-control-sm m-input  text-center" placeholder="TotalPrice" disabled readonly />
                                            </td>
                                            <td scope="row">
                                                <input type="checkbox" class="form-control " ng-model="item.Checked" ng-change="calculate(item)" />
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td rowspan="3" colspan="3">
                                                <h5><b> Note</b></h5>
                                                <textarea class="form-control" ng-model="PurcheaseReturn.Remarks"></textarea>
                                            </td>
                                            <td colspan="2" class="text-right"><b>Sub Total</b> </td>
                                            <td><input class="form-control form-control-sm m-input" ng-model="PurcheaseReturn.ReturnDue" ng-disabled="true" /></td>
                                        </tr>
                                        <tr ng-class="{ 'has-error' : submitted && addform.TotalPayment.$invalid}">
                                            <td colspan="2" class="text-right"><b>Pay Amount </b></td>
                                            <td ng-class="{ 'has-error' : submitted && addform.TotalPayment.$invalid}">
                                                <input ng-model="PurcheaseReturn.ReturnTotalPayment"  onfocus="if(parseFloat(this.value) ==0) { this.value = ''; }"
                                                           onblur="if(this.value == '') { this.value = '0'; }" class="form-control form-control-sm m-input" name="TotalPayment" required />
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted  && addform.TotalPayment.$error.required" class="help-block">Total Payment Required</span>
                                            </td>
                                        </tr>
                                        <tr ng-class="{ 'has-error' : submitted && addform.PaymentType.$invalid}">
                                            <td colspan="2" class="text-right"><b>Payment Type </b></td>
                                            <td>
                                                <select class="form-control form-control-sm m-input" required ng-model="PurcheaseReturn.PaymentType" ng-options="Payment.PaymentType as Payment.Name for Payment in PaymentType" name="PaymentType">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted  && addform.PaymentType.$error.required" class="help-block">Payment Type Required</span>
                                            </td>
                                        </tr>
                                        <tr ng-show="PurcheaseReturn.PaymentType==2">
                                            <td colspan="5" class="text-right">
                                                Bank Name
                                            </td>
                                            <td>
                                                <select ng-model="PurcheaseReturn.BankId" class="form-control" name="BankId" ng-options="Bank.BankId as Bank.BankName for Bank in Banks">
                                                    <option value=''>Select Option</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr ng-show="PurcheaseReturn.PaymentType==2">
                                            <td colspan="5" class="text-right">
                                                Cheque No.
                                            </td>
                                            <td>
                                                <div class="form-group ">
                                                    <div class="">
                                                        <input ng-model="PurcheaseReturn.ChequeNo" class="form-control form-control-sm m-input" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" class="text-left">
                                                <button type="submit" ng-click="" class="btn btn-primary">Save (ctrl+space)</button> &nbsp;&nbsp;
                                                <a ng-hide="$scope.Purchease.Id==null" ng-click="InvReprot()" class="btn btn-info">Report</a> &nbsp;&nbsp;
                                                <a ng-click="resetForm()" class="btn btn-primary">New Invoice (shift+space)</a> &nbsp;&nbsp;
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('.minifyme').click();
            $(".js-example-data-ajax").select2({
                ajax: {
                    url: baseUrl + "Purchase/GetInvoice",
                    width: 'resolve',
                    data: function (params) {
                        return {
                            InvoiceNo: params.term// search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data.items
                        };
                    },
                    minimumInputLength: 2,
                    width: 'resolve'
                }
            });
               
        });
        app.controller("PurcheaseReturnCrtl", ["$scope", "$http", '$q', '$timeout',  "AlertService",
            function ($scope, $http, $q, $timeout, AlertService) {
                jwerty.key('ctrl+space', function () { $scope.save() });
                jwerty.key('shift+space', function () { resetForm() });
                init();
                function init() {
                    initialize();
                }
                function initialize() {
                    $scope.Std = [];
                    $scope.modalTitle = "Add PurcheaseReturn";
                    $scope.btn = "Save";
                    $scope.Product = {};
                    $scope.TotalPriceWithoutDis = null;
                    $scope.TotalPrice = null;
                    $scope.TotalDiscount = null;
                    $scope.PurcheaseReturn = {};
                    $scope.PurcheaseReturn.Date = new Date();
                    $scope.PurcheaseReturnId = null;
                    $scope.PurcheaseReturn.PurcheaseReturnDetails = [];
                    $scope.Catagorys = [];
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;
                    $scope.btnDis = false;
                    $scope.submitted = false;
                    if ('@ViewBag.Id' != 0) {
                        var Id='@ViewBag.Id';
                        GetPurcheaseReturns(Id);
                    }
                    $scope.UOMName = null;
                    $scope.PaymentType = [];
                    $scope.PaymentType.push({ PaymentType: 1, Name: 'Cash' });
                    $scope.PaymentType.push({ PaymentType: 2, Name: 'Bank' });
                }
                function resetForm() {
                    $scope.modalTitle = "Add Purchases";
                    $scope.btn = "Save";
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.Purchases = {};
                    $scope.PurcheaseReturn = [];
                    $scope.PurcheaseReturn.Date = new Date();
                    GenerateInvoice();
                    var PurcheaseReturnDetails = { ProductName: '', Quantity: 0.00, UnitePrice: 0.00, Discount: 0.00, TotalPrice: 0.00 };
                    $scope.PurcheaseReturn.PurcheaseReturnDetails.push(PurcheaseReturnDetails);
                }
                
                $scope.AddPro = function AddPro() {
                    var PurcheaseReturnDetails = { ProductName: '', Quantity: 0, UnitePrice: 0, Discount: 0, TotalPrice: 0 };
                    $scope.PurcheaseReturn.PurcheaseReturnDetails.push(PurcheaseReturnDetails);
                }
                $scope.InvReprot = function (Id) {
                     $scope.url = "@Url.Action("InvoiceReturn", "Purchease")?Id=" + Id;
                    window.open($scope.url,"_blanck");
                };
                $scope.onSelect = function onSelect($item, model, label, items) {
                    $scope.PurcheaseReturn = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Purchase/GetPurchase/' + $item.Value
                    }).then(function successCallback(response) {
                        $scope.PurcheaseReturn = response.data.results;
                        $scope.PurcheaseReturn.Date = new Date($scope.PurcheaseReturn.Date);
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                    }
                $scope.calculate = function calculate(item) {
                    item.UnitePrice = angular.isUndefined(item.UnitePrice) ? 0 : num(item.UnitePrice) ;
                    item.Quantity = angular.isUndefined(item.Quantity) ?  0 :  num(item.Quantity);
                    item.Discount = angular.isUndefined(item.Discount) ? 0 :  num(item.Discount);
                    item.TotalPrice = (item.UnitePrice * item.Quantity) - item.Discount;
                    $scope.PurcheaseReturn.ReturnDue = 0;
                    $scope.PurcheaseReturn.ReturnTotalPayment = 0;
                   
                    angular.forEach($scope.PurcheaseReturn.PurcheaseDetails, function (value, key) {
                        value.Checked= angular.isUndefined(value.Checked) ? false : value.Checked;
                        if (value.Checked == true) {
                            value.ReturnTotalPrice = num(value.ReturnQuantity) * num(value.UnitePrice);
                            $scope.PurcheaseReturn.ReturnDue += value.ReturnTotalPrice;
                            $scope.PurcheaseReturn.TotalPrice += value.ReturnTotalPrice;
                            $scope.PurcheaseReturn.Quantity += value.ReturnQuantity;
                            $scope.PurcheaseReturn.Discount += value.ReturnDiscount;
                        }
                    })

                    }
                $scope.GetPurcheaseReturnDetail = function GetPurcheaseReturnDetail() {
                    for (var i = 0; i < $scope.PurcheaseReturn.PurcheaseReturnDetails.length; i++) {
                        if ($scope.PurcheaseReturn.PurcheaseReturnDetails[i].ProductId == $scope.Std.Value) {
                            AlertService.warning("This Product Already Added");
                            return;
                        }
                    }
                    if ($scope.FormPurcheaseReturnDetail.$invalid) {
                        $scope.submitted1 = true;
                        return;
                    }
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Product/GetPurcheasDetail/' + $scope.Std.Value + '/' + $scope.Product.Qty + '/' + $scope.Product.UnitePrice
                    }).then(function successCallback(response) {
                        $scope.PurcheaseReturn.PurcheaseReturnDetails.push(response.data.results);
                        $scope.TotalPrice = $scope.TotalPrice + response.data.results.TotalPrice;
                        $scope.TotalDiscount = $scope.TotalDiscount + response.data.results.Discount;
                        $scope.TotalPriceWithoutDis = response.data.results.Quantity * response.data.results.UnitPrice
                        $scope.PurcheaseReturn.Due = $scope.TotalPrice;
                        $scope.Std = null;
                        $scope.Product = null;
                        $scope.submitted = false;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GetPurcheaseReturns(n) {
                    $scope.PurcheaseReturn = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Purchase/GetPurchase/'+n
                    }).then(function successCallback(response) {
                        $scope.PurcheaseReturn = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GetSupplier() {
                    $scope.Suppliers = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Supplier/GetAllSupplier/'
                    }).then(function successCallback(response) {
                        $scope.Suppliers = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GetBank() {
                    $scope.Banks = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Bank/GetAllBank/'
                    }).then(function successCallback(response) {
                        $scope.Banks = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GetBranch() {
                    $scope.Branchs = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Branch/GetAllBranchs/'
                    }).then(function successCallback(response) {
                        $scope.Branchs = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GenerateInvoice() {
                    $scope.InvoiceId = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Sale/GenerateInvoice/'
                    }).then(function successCallback(response) {
                        $scope.PurcheaseReturn.InvoiecNo = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
             

                $scope.Search = function (val) {
                    if (val.length >= 3)
                        return $http.get(baseUrl + 'Purchase/GetInvoice/' + val , {
                            params: {}
                        }).then(function (response) {
                            return response.data.results.map(function (item) {
                                return item;
                            });
                        });
                };

                $scope.save = function save(e) {
                    if ($scope.addform.$invalid) {
                        $scope.submitted = true;
                        return;
                    }
                  
                    if ($scope.addform.TotalPayment.$invalid) {
                        $scope.submitted = true;
                        return;
                    }
                    if ($scope.addform.PaymentType.$invalid) {
                        $scope.submitted = true;
                        return;
                    }
                    if (localStorage.getItem("BrandId") == null) {
                        AlertService.warning("Please Select Branch");
                        return;
                    }
                    $scope.PurcheaseReturn.BranchId = localStorage.getItem("BrandId");
                    if ($scope.PurcheaseReturn != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'PurchaseReturn/AddPurchaseReturn/',
                            data: $scope.PurcheaseReturn
                        }).then(function successCallback(response) {
                            AlertService.success(response.data.Message);
                            $scope.PurcheaseReturn = response.data.results;
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.DeletePro = function DeletePro(item) {
                    var index = $scope.PurcheaseReturn.PurcheaseReturnDetails.indexOf(item);
                    $scope.TotalPrice = $scope.TotalPrice - item.TotalPrice;
                    $scope.TotalDiscount = $scope.TotalDiscount - item.Discount;
                    $scope.PurcheaseReturn.Due = $scope.TotalPrice;
                    $scope.PurcheaseReturn.PurcheaseReturnDetails.splice(index, 1);
                }
                function num(a) {
                    if ($.isNumeric(a)) {
                        return parseInt(a);
                    } else {
                        return 0;
                    }
                }
            }]);
    </script>
}

