﻿@{
    ViewBag.Title = "PurcheasePos";
    Layout = "~/Views/Shared/_LayoutPOS.cshtml";
}
<div class="widget-body" ng-controller="PurcheaseCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-darken" id="wid-id-1" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Purchease</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class=" col-md-12">
                                <form name="addform" class="form-horizontal" novalidate>
                                    <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted1 && addform.InvoiecNo.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Invoiec No :
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" ng-model="Purchease.InvoiecNo" placeholder="Invoiec No" required />
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted1 && addform.InvoiecNo.$error.required" class="help-block">InvoiecNo Required</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted1 && addform.Date.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Date :
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" ng-click="p1=true" is-open="p1" readonly ng-model="Purchease.Date" placeholder="Start Date" uib-datepicker-popup="dd/MM/yyyy" name="Date" required />
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted1  && addform.Date.$error.required" class="help-block">Date Required</span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3" ng-class="{ 'has-error' : submitted1 && addform.CatagoryId.$invalid}">
                                        <label class="col-md-4 control-label">
                                            Branch :
                                        </label>
                                        <div class="col-md-8">
                                            <select ng-model="Purchease.BranchId" class="form-control" name="BranchId" ng-options="Branch.BranchId as Branch.BranchName for Branch in Branchs">
                                                <option value=''>Select Option</option>
                                            </select>
                                            <div class="form-control-focus"> </div>
                                            <span ng-show="submitted1 && addform.BranchId.$error.required" class="help-block">Branch Required</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <hr style="border:1px solid #ffffff" />
                            
                            <div class="col-md-8">
                                <!--begin::Portlet-->
                                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                                    <div class="m-portlet__head">
                                        <div class="m-portlet__head-caption">
                                            <span class="m-portlet__head-icon m--hide">
                                                <i class="flaticon-statistics"></i>
                                            </span>
                                            <form name="FormPurcheaseDetail" ng-submit="GetPurcheaseDetail()" novalidate>
                                                <div class="form-group col-md-6 row">
                                                    <div class="control-label"><b>Product Search  </b></div>
                                                    <input type="text" ng-model="Std" typeahead-on-select='onSelect($item, $model, $label)'
                                                           placeholder="Search Product Name Code" uib-typeahead="i  as i.Text for i in Search($viewValue)"
                                                           typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                                    <div ng-show="noResults"><i class="glyphicon glyphicon-remove"></i> No Results Found</div>
                                                    <input type="hidden" name="StudentIID" ng-model="StudentIID" ng-value="Std.Value" />
                                                </div>
                                                <div class="form-group col-md-2 " ng-class="{ 'has-error' : submitted && FormPurcheaseDetail.UnitePrice.$invalid}">
                                                    <div class="control-label"><b>Unite Price </b></div>
                                                    <input type="text" name="UnitePrice" ng-model="Product.UnitePrice" required class="form-control form-control-sm m-input " placeholder="UnitePrice" />
                                                    <div class="form-control-focus"> </div>
                                                    @* <span ng-show="submitted && FormPurcheaseDetail.UnitePrice.$error.required" class="help-block">UnitePrice Required</span>*@
                                                </div>
                                                <div class="form-group col-md-2 " ng-class="{ 'has-error' : submitted && FormPurcheaseDetail.Qty.$invalid}">
                                                    <div class="control-label"><b>Qty </b></div>
                                                    <input type="text" name="Qty" ng-model="Product.Qty" required class="form-control form-control-sm m-input " placeholder="Qty" />
                                                    <div class="form-control-focus"> </div>
                                                    @* <span ng-show="submitted && FormPurcheaseDetail.name.$error.required" class="help-block">Qty Required</span>*@
                                                </div>
                                                @*<div class="form-group col-md-2 " ng-class="{ 'has-error' : submitted && FormPurcheaseDetail.Qty.$invalid}">
                                                    <div class="control-label"><b>Size </b></div>
                                                    <select ng-model="Product.SizeId" class="form-control" required name="Size" ng-options="Size.Id as Size.SizeName for Size in Sizes">
                                                        <option value=''>Select Option</option>
                                                    </select>
                                                    @* <span ng-show="submitted && FormPurcheaseDetail.name.$error.required" class="help-block">Qty Required</span>
                                                </div>*@
                                                <div class="control-label col-md-2 row"><b>---</b></div> <button type="submit" ng-click="submitted=true;" class="btn btn-info btn-sm"> Add Item</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-section">
                                    <table class="table m-table table-sm d-xl-table m-table--head-bg-success">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <span class="fa fa-trash"></span>
                                                </th>
                                                <th># </th>
                                                <th>Purchases Name</th>
                                                <th> QTY</th>
                                                <th> UnitePrice </th>
                                                <th> Discount </th>
                                                <th> Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in Purchease.PurcheaseDetails">
                                                <td scope="row">
                                                    <span class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill" ng-click="DeletePro(item)"><i class="fa fa-trash"></i></span>
                                                </td>
                                                <td>{{$index+1}} </td>
                                                <td>{{item.ProductName}}</td>
                                                <td>{{item.Quantity}}</td>
                                                <td>{{item.UnitePrice}}</td>
                                                <td>{{item.Discount}}</td>
                                                <td>{{item.TotalPrice}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--end::Section-->
                                </div>
                                <!--end::Form--><div class="row">
                                    <div class="alert alert-danger center col-md-12 Bold " style="text-align:center"><h4>Total :  {{TotalPrice}} TK</h4></div>
                                </div> <!--end::Portlet-->
                            </div>
                            <!--end::Portlet-->
                            <div class="col-md-4">
                                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                                    <div class="">
                                        <div class="m-portlet__head-caption">
                                            <div class="m-portlet__head-title">
                                                <form name="addformPurcheas" class="form-horizontal" novalidate>
                                                    <table class="table table-responsive-sm table-sm">
                                                        <tr ng-class="{ 'has-error' : submitted2 && addformPurcheas.SupplierId.$invalid}">
                                                            <td>
                                                                <b>Supplier</b>
                                                            </td>
                                                            <td>
                                                                <select ng-model="Purchease.SupplierId" class="form-control" name="SupplierId" required ng-options="Supplier.Id as Supplier.Name for Supplier in Suppliers">
                                                                    <option value=''>Select Option</option>
                                                                </select>
                                                                <div class="form-control-focus"> </div>
                                                                <span ng-show="submitted2  && addformPurcheas.SupplierId.$error.required" class="help-block">Supplier Required</span>
                                                            </td>
                                                        </tr>
                                                        <tr><td><b> Total</b> </td><td><input class="form-control form-control-sm m-input" ng-value="TotalPrice" ng-disabled="true" /></td></tr>
                                                        <tr><td><b>Due </b></td><td><input ng-disabled="true" ng-model="Purchease.Due" class="form-control form-control-sm m-input" /></td></tr>
                                                        <tr ng-class="{ 'has-error' : submitted2 && addformPurcheas.PayAmount.$invalid}">
                                                            <td><b>Pay Amount </b></td>
                                                            <td>
                                                                <input type="number" ng-model="Purchease.TotalPaid" name="PayAmount" required ng-change="Purchease.Due=TotalPrice-Purchease.TotalPaid"
                                                                       class="form-control form-control-sm m-input"  />
                                                                <div class="form-control-focus"> </div>
                                                                @*<span ng-show="submitted2  && addformPurcheas.PayAmount.$error.max">Count should be below  .</span>*@
                                                                <span ng-show="submitted2  && addformPurcheas.PayAmount.$error.required" class="help-block">Pay Amount Required</span>
                                                            </td>
                                                        </tr>
                                                        <tr ng-class="{ 'has-error' : submitted2 && addformPurcheas.PaymentType.$invalid}">
                                                            <td><b>Payment Type </b></td>
                                                            <td>
                                                                <select class="form-control form-control-sm m-input" required ng-model="Purchease.PaymentType" name="PaymentType">
                                                                    <option value="">Select Option</option>
                                                                    <option value="1">Cash</option>
                                                                    <option value="2">Bank</option>
                                                                </select>
                                                                <div class="form-control-focus"> </div>
                                                                <span ng-show="submitted2  && addformPurcheas.PaymentType.$error.required" class="help-block">Payment Type Required</span>

                                                            </td>
                                                        </tr>
                                                        <tr ng-show="Purchease.PaymentType==2">
                                                            <td>
                                                                Bank Name
                                                            </td>
                                                            <td>
                                                                <select ng-model="Purchease.BankId" class="form-control" name="BankId" ng-options="Bank.BankId as Bank.BankName for Bank in Banks">
                                                                    <option value=''>Select Option</option>
                                                                </select>
                                                            </td>
                                                        <tr ng-show="Purchease.PaymentType==2">
                                                            <td>
                                                                Cheque No.
                                                            </td>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <div class="">
                                                                        <input ng-model="Purchease.ChequeNo" class="form-control form-control-sm m-input" />
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                <a href="#" class="btn btn-warning m-btn m-btn--custom m-btn--icon  col-md-5" ng-click="submitted1=true;submitted2=true;save()">
                                                                    <span class="font-weight-bold" style="font-size:24px;text-align:center">
                                                                        <i class="fa flaticon-bag fa-3x"></i>
                                                                        <span>
                                                                            Save
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                                <a ng-hide="PurcheaseId==null" target="_blank" href="@Url.Action("PurcheaseInvioce","Report")?PurcheaseId={{PurcheaseId}}" class="btn btn-primary m-btn m-btn--custom m-btn--icon  col-md-5">
                                                                    <span class="font-weight-bold" style="font-size:24px;text-align:center">
                                                                        <i class="fa flaticon-bag fa-3x"></i>
                                                                        <span>
                                                                            Report
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('.minifyme').click();
        });
        app.controller("PurcheaseCrtl", ["$scope", "$http", '$q', '$timeout',  "AlertService",
            function ($scope, $http, $q, $timeout, AlertService) {
                init();
                function init() {
                    initialize();
                    GetBranch();
                    GenerateInvoice();
                    GetBank();
                    GetSupplier();
                    getSizes();
                }
                function initialize() {
                    $scope.modalTitle = "Add Purchease";
                    $scope.btn = "Save";
                    $scope.Product = {};
                    $scope.TotalPriceWithoutDis = null;
                    $scope.TotalPrice = null;
                    $scope.TotalDiscount = null;
                    $scope.Purchease = {};
                    $scope.Purchease.Date = new Date();
                    $scope.PurcheaseId = null;
                    $scope.Purchease.PurcheaseDetails = [];
                    $scope.Catagorys = [];
                    $scope.res = {};
                    $scope.data = {};
                    $scope.resetForm = resetForm;
                    $scope.btnDis = false;
                    $scope.submitted2 = false;
                    if ('@ViewBag.Id' != 0) {
                        var Id='@ViewBag.Id';
                        GetPurcheases(Id);
                    }
                }
                function resetForm() {
                    $scope.modalTitle = "Add Purchases";
                    $scope.btn = "Save";
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.Purchases = {};
                }
                $scope.GetPurcheaseDetail = function GetPurcheaseDetail() {
                    for (var i = 0; i < $scope.Purchease.PurcheaseDetails.length; i++) {
                        if ($scope.Purchease.PurcheaseDetails[i].ProductId == $scope.Std.Value) {
                            AlertService.warning("This Product Already Added");
                            return;
                        }
                    }
                    if ($scope.FormPurcheaseDetail.$invalid) {
                        $scope.submitted1 = true;
                        return;
                    }
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Product/GetPurcheasDetail/' + $scope.Std.Value + '/' + $scope.Product.Qty + '/' + $scope.Product.UnitePrice
                    }).then(function successCallback(response) {
                        $scope.Purchease.PurcheaseDetails.push(response.data.results);
                        $scope.TotalPrice = $scope.TotalPrice + response.data.results.TotalPrice;
                        $scope.TotalDiscount = $scope.TotalDiscount + response.data.results.Discount;
                        $scope.TotalPriceWithoutDis = response.data.results.Quantity * response.data.results.UnitPrice
                        $scope.Purchease.Due = $scope.TotalPrice;
                        $scope.Std = null;
                        $scope.Product = null;
                        $scope.submitted = false;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GetPurcheases(n) {
                    $scope.Purchease = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Purchase/GetPurchase/'+n
                    }).then(function successCallback(response) {
                        $scope.Purchease = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GetSupplier() {
                    $scope.Suppliers = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Supplier/GetAllSupplier/'
                    }).then(function successCallback(response) {
                        $scope.Suppliers = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GetBank() {
                    $scope.Banks = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Bank/GetAllBank/'
                    }).then(function successCallback(response) {
                        $scope.Banks = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GetBranch() {
                    $scope.Branchs = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Branch/GetAllBranchs/'
                    }).then(function successCallback(response) {
                        $scope.Branchs = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function GenerateInvoice() {
                    $scope.InvoiceId = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Sale/GenerateInvoice/'
                    }).then(function successCallback(response) {
                        $scope.Purchease.InvoiecNo = response.data.results;
                    }, function errorCallback(response) {
                        AlertService.warning(response.data.Message);
                    });
                }
                function getSizes() {
                    $scope.Sizes = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Size/GetAllSize/'
                    }).then(function successCallback(response) {
                        $scope.Sizes = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }

                $scope.Search = function (val) {
                    if (val.length >= 3)
                        return $http.get(baseUrl + 'Product/GetProducts/' + val , {
                            params: {}
                        }).then(function (response) {
                            return response.data.results.map(function (item) {
                                return item;
                            });
                        });
                };
                $scope.save = function save(e) {
                    if ($scope.addform.$invalid) {
                        $scope.submitted1 = true;
                        return;
                    }
                    if ($scope.addform.Date.$invalid) {
                        $scope.submitted1 = true;
                        return;
                    }
                    if ($scope.addformPurcheas.SupplierId.$invalid) {
                        $scope.submitted2 = true;
                        return;
                    }
                    if ($scope.addformPurcheas.PayAmount.$invalid) {
                        $scope.submitted2 = true;
                        return;
                    }
                    if ($scope.addformPurcheas.PaymentType.$invalid) {
                        $scope.submitted2 = true;
                        return;
                    }
                    
                    if ($scope.Purchease != '') {
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Purchase/AddPurchase/',
                            data: $scope.Purchease
                        }).then(function successCallback(response) {
                            AlertService.success(response.data.Message);
                            $scope.PurcheaseId = response.data.results;
                            $scope.Purchease = [];
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                        });
                    }
                };
                $scope.DeletePro = function DeletePro(item) {
                    var index = $scope.Purchease.PurcheaseDetails.indexOf(item);
                    $scope.TotalPrice = $scope.TotalPrice - item.TotalPrice;
                    $scope.TotalDiscount = $scope.TotalDiscount - item.Discount;
                    $scope.Purchease.Due = $scope.TotalPrice;
                    $scope.Purchease.PurcheaseDetails.splice(index, 1);
                }
            }]);
    </script>
}