﻿
@{
    ViewBag.Title = "Purchease";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- widget content -->
<div class="widget-body" ng-controller="PurcheasCrtl">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-Branch-teal" id="wid-id-1" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Create Purches</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form name="addform" ng-submit="save()" class="form-horizontal" id="form_sample_1" novalidate>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.InvoiecNo.$invalid}">
                                            <label class="col-md-4 control-label">
                                                InvoiecNo:
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" ng-model="Purcheas.InvoiecNo" class="form-control" placeholder="Invoiec No" name="InvoiecNo" required>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted && addform.InvoiecNo.$error.required" class="help-block">Invoiec No Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-md-4" ng-class="{ 'has-error' : submitted && addform.LCNo.$invalid}">
                                            <label class="col-md-4 control-label">
                                                LC No :
                                            </label>
                                            <div class="col-md-8">
                                                <input type="text" ng-model="Purcheas.LCNo" ng-pattern="/^\S{0,50}$/" class="form-control"
                                                       placeholder="LC No" name="LCNo" required>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.LCNo.$error.required" class="help-block">LC No Required</span>
                                                <span style="color:red" class="help-block" ng-if="submitted && addform.LCNo.$invalid">No Space Allow</span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-md-4" ng-class="{ 'has-error' : submitted && addform.BranchId.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Branch :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Purcheas.BranchId" class="form-control" required name="BranchId" ng-options="item.Id as item.BranchName for item in Branchs">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.BranchId.$error.required" class="help-block">Branch Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-md-4" ng-class="{ 'has-error' : submitted && addform.SupplierId.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Supplier :
                                            </label>
                                            <div class="col-md-8">
                                                @*<input type="text" ng-model="Purcheas.SupplierId" class="form-control" required name="SupplierIds" />*@
                                                <select ng-model="Purcheas.SupplierId" class="form-control" required name="SupplierIds" ng-options="Catagory.Id as Catagory.CatagoryName for Catagory in Categorys">
                                                        <option value=''>Select Option</option>
                                                    </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.PaymentType.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Payment Type :
                                            </label>
                                            <div class="col-md-8">
                                                <select ng-model="Purcheas.PaymentType" class="form-control" required name="PaymentType" ng-options="item.value as item.text for item in paymentType">
                                                    <option value=''>Select Option</option>
                                                </select>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.PaymentType.$error.required" class="help-block">Payment Type Required</span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4" ng-class="{ 'has-error' : submitted && addform.Date.$invalid}">
                                            <label class="col-md-4 control-label">
                                                Date :
                                            </label>
                                            <div class="col-md-8">
                                                <input type="date" ng-model="Purcheas.Date" class="form-control" placeholder="Date" name="Date" required>
                                                <div class="form-control-focus"> </div>
                                                <span ng-show="submitted &&  addform.Date.$error.required" class="help-block">Payment Type Required</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-scrollable">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th width="5%" style="text-align:center"> # </th>
                                                    <th width="30%" style="text-align:center"> Product Name </th>
                                                    <th width="30%" style="text-align:center"> Code </th>
                                                    <th width="10%" style="text-align:center"> UnitePrice </th>
                                                    <th width="10%" style="text-align:center"> Quentity </th>
                                                    <th width="10%" style="text-align:center"> Price </th>
                                                    <th width="5%" style="text-align:center"> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> </td>
                                                    <td>
                                                        <input type="text" ng-model="Product" typeahead-on-select='onSelect($item, $model, $label)' required placeholder="Search Product By Name" uib-typeahead="i  as i.Name for i in Search($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
                                                        <input type="hidden" ng-model="Product.Name1" />
                                                        <input type="hidden" ng-model="Product.Id" />
                                                    </td>
                                                    <td> <input class="form-control" ng-model="Product.Code1" /> </td>
                                                    <td> <input class="form-control" ng-model="Product.UnitePrice1" /> </td>
                                                    <td> <input class="form-control" ng-blur="CalculateTotalPrice()" ng-model="Product.Quentity1" required /> </td>
                                                    <td> <input class="form-control" ng-model="Product.Price1"></td>
                                                    <td style="padding: 2px;">
                                                        <a style="margin-top: 5px;" ng-click="AddSlab();" class="btn btn-success btn-circle">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="item in Purcheas.PurcheasDetail track by $index">
                                                    <td>{{$index+1}} </td>
                                                    <td> {{item.ProductName}} </td>
                                                    <td> {{item.ProductCode}} </td>
                                                    <td> {{item.UnitePrice}} </td>
                                                    <td> {{item.Quantity}} </td>
                                                    <td> {{item.Price}} </td>
                                                    <td ng-click="RemoveRow(item)"><i class="fa fa-close"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <button @*ng-show="Purcheas.PurcheasDetail.lenth>0"*@ class="btn btn-info col-md-offset-11" ng-click="submitted=true">Save</button>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN PANEL -->
@section Scripts{

    <script type="text/javascript">

        app.controller("PurcheasCrtl", ["$scope", "$http", '$q', '$timeout', 'AlertService', 'DTOService','$filter',
            function ($scope, $http, $q, $timeout, AlertService, DTOService, $filter) {
                init();
                function init() {
                    initialize();
                    getBranchs()
                }
                function initialize() {
                    $scope.btnDis = false;
                    $scope.spin = false;

                    //$scope.pageSizeArray = [];
                    //$scope.pageSizeArray.push({ value: 5, text: 5 });
                    //$scope.pageSizeArray.push({ value: 10, text: 10 });
                    //$scope.pageSizeArray.push({ value: 20, text: 20 });
                    //$scope.pageSizeArray.push({ value: 50, text: 50 });
                    //$scope.currentPage = 1;
                    //$scope.pageSize = 10;

                    $scope.paymentType = [];
                    $scope.paymentType.push({ value: 1, text: 'Cash' });
                    $scope.paymentType.push({ value: 2, text: 'Bank' });
                    $scope.Purcheas = {};
                    $scope.Purcheas.PurcheasDetail = [];
                    
                }
                $scope.CalculateTotalPrice = function CalculateTotalPrice() {
                    if ($scope.Product.Quentity1 > 0 && $scope.Product.UnitePrice1 > 0)
                        $scope.Product.Price1 = $scope.Product.Quentity1 * $scope.Product.UnitePrice1;
                }

                //for Student Search for auto complit text box ...... Product.Quentity1 UnitePrice1
                $scope.Search = function (val) {
                    if (val.length >= 3)
                        return $http.get(baseUrl + 'Product/ScarchProduct/' + val, {
                            params: {

                            }
                        }).then(function (response) {
                            //blockUI.stop();
                            return response.data.results.map(function (item) {
                                return item;
                            });
                        });
                };
                // for droupdown select list event....
                $scope.onSelect = function onSelect($item, $model, $label) {
                    //console.log($model);
                    $scope.Product.Name1 = $model.Name
                    $scope.Product.Code1 = $model.Code
                    $scope.Product.UnitePrice1 = $model.SalsPrice;
                };
                 
              
                $scope.AddSlab = function AddSlab() {
                    //if ($scope.slabform.$invalid)
                    //    return;

                    if ($scope.Product.Name1 != null && $scope.Product.Code1 != null && $scope.Product.UnitePrice1 != null && $scope.Product.Quentity1 != null) {
                        $scope.Purcheas.PurcheasDetail.push({ Id: $scope.Product.Id, ProductName: $scope.Product.Name1, ProductCode: $scope.Product.Code1, UnitePrice: $scope.Product.UnitePrice1, Quantity: $scope.Product.Quentity1, Price: $scope.Product.Price1 })
                        $scope.Product = null;
                        //$scope.Product.Name = null;
                    }
                    //angular.forEach($scope.Product, function (value, key) {
                    //});
                }
                $scope.RemoveRow = function RemoveRow(item) {
                    var index = $scope.Purcheas.PurcheasDetail.indexOf(item);
                    $scope.Purcheas.PurcheasDetail.splice(index, 1);
                }
                function GetProduct() {
                    if ($scope.ProductId != 0) {
                        $scope.Purcheas = [];
                        $http({
                            method: 'GET',
                            url: baseUrl + 'Purcheas/GetProduct/' + $scope.ProductId
                        }).then(function successCallback(response) {
                            $scope.Purcheas = response.data.results;
                            $scope.modalTitle = "Update Purcheas";
                            $scope.btn = "Update";
                        }, function errorCallback(response) {
                            toastr["warning"](response.data.Message);
                        });
                    }
                }
                function resetForm() {
                    $scope.modalTitle = "Add Purcheas";
                    $scope.btn = "Save";
                    $scope.branch.BranchId = 0;
                    $scope.addform.$setUntouched();
                    $scope.addform.$setPristine();
                    $scope.submitted = false;
                    $scope.Id = '';
                    $scope.Purcheas = {};
                }

                function getBranchs() {
                    $scope.Branchs = [];
                    $http({
                        method: 'GET',
                        url: baseUrl + 'Branch/GetAllBranchs/'
                    }).then(function successCallback(response) {
                        $scope.Branchs = response.data.results;
                    }, function errorCallback(response) {
                        toastr["warning"](response.data.Message);
                    });
                }
                $scope.save = function save(e) {
                    //if ($scope.addform.$invalid)
                    //    return;
                    if ($scope.Purcheas != '') {
                       // $scope.Purcheas.Date = $filter('date')($scope.Purcheas.Date);
                        $http({
                            method: 'POST',
                            url: baseUrl + 'Purchase/AddPurchase/',
                            data: { purchase: $scope.Purcheas, purcheaseDetails: $scope.Purcheas.PurcheasDetail},
                        }).then(function successCallback(response) {
                            AlertService.warning(response.data.Message);
                            resetForm();
                        }, function errorCallback(response) {
                            AlertService.warning(response.data.Message);
                            });



                    }
                };
            }]);
    </script>
}
