﻿  <!-- #PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs- col-sm-6">
            <span class="txt-color-white">ProjuktiERP <span class="hidden-xs"></span> ©2019</span>
        </div>
        <div class="col-md-3 pull-right" style="color: aliceblue;padding-right: 0px;margin-right: 20px;margin-top: -5px;" >
            <div class="col-12" >
                <div class="" >
                    <span id="date">:</span>
                    <span id="hours">:</span>
                    <span id="minutes">:</span>
                    <span id="seconds">:</span>
                    <span id="ampm">:</span>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
<!-- END FOOTER -->
@section Scripts{
    <script>
        $(document).ready(function () {


            var start = new Date;
            var $dOut = $('#date'),
                $hOut = $('#hours'),
                $mOut = $('#minutes'),
                $sOut = $('#seconds'),
                $ampmOut = $('#ampm');
            var months = [
                'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'
            ];

            var days = [
                'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'
            ];
            function update() {
                var date = new Date();

                var ampm = date.getHours() < 12
                    ? 'AM'
                    : 'PM';

                var hours = date.getHours() == 0
                    ? 12
                    : date.getHours() > 12
                        ? date.getHours() - 12
                        : date.getHours();

                var minutes = date.getMinutes() < 10
                    ? '0' + date.getMinutes()
                    : date.getMinutes();

                var seconds = date.getSeconds() < 10
                    ? '0' + date.getSeconds()
                    : date.getSeconds();

                var dayOfWeek = days[date.getDay()];
                var month = months[date.getMonth()];
                var day = date.getDate();
                var year = date.getFullYear();

                var dateString = dayOfWeek + ', ' + month + ' ' + day + ', ' + year;

                $dOut.text(dateString);
                $hOut.text(" : " + hours);
                $mOut.text(" : " + minutes);
                $sOut.text(" : " + seconds);
                $ampmOut.text(" : " + ampm);
                $('.time').text($dOut + $hOut + $mOut + $sOut + $ampmOut);
            }
            update();
            window.setInterval(update, 1000);
        })
    </script>
}