﻿<header id="header">
    <div id="logo-group">
        @*<span id="logo"> <img src="~/img/logo.png" alt="SmartAdmin"> </span>*@
    </div>
    @*<span id="extr-page-header-space"> <span class="hidden-mobile hidden-xs">Need an account?</span> <a href="register.html" class="btn btn-danger">Create account</a> </span>*@
</header>
