﻿ <!-- #HEADER -->
<header id="header">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        @*<span id="logo"> <img src="~/img/logo.png" alt="SmartAdmin"> </span>*@
        <span id="logo">
            <img src="~/img/logo-dark.png" alt="Projukti" />
        </span>
        <!-- END LOGO PLACEHOLDER -->
        @*<!-- Note: The activity badge color changes when clicked and resets the number to 0
                 Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
            <span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>

            <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
            <div class="ajax-dropdown">

                <!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="activity" id="ajax/notify/mail.html">
                        Msgs (14)
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="activity" id="ajax/notify/notifications.html">
                        notify (3)
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="activity" id="ajax/notify/tasks.html">
                        Tasks (4)
                    </label>
                </div>

                <!-- notification content -->
                <div class="ajax-notifications custom-scroll">

                    <div class="alert alert-transparent">
                        <h4>Click a button to show messages here</h4>
                        This blank page message helps protect your privacy, or you can show the first message here automatically.
                    </div>

                    <i class="fa fa-lock fa-4x fa-border"></i>

                </div>
                <!-- end notification content -->
                <!-- footer: refresh area -->
                <span>
                    Last updated on: 12/12/2013 9:43AM
                    <button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
                        <i class="fa fa-refresh"></i>
                    </button>
                </span>
                <!-- end footer -->

            </div>
            <!-- END AJAX-DROPDOWN -->*@
    </div>
    <!-- collapse menu button -->
   
    
    <div id="hide-menu" class="btn-header">
        <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu" style="background-image: -webkit-linear-gradient(top,#ffd800,#ffd800)!important"><i class="fa fa-reorder"></i></a> </span>
    </div>
    <!-- end collapse menu -->
    <span style="font-size:30px;padding-top:10px;padding-left:11px;color:#3a3633" class="btn-header text-capitalize Bold orgname" id="orgname">ROSE MART</span>
    <!-- #TOGGLE LAYOUT BUTTONS -->
    <!-- pulled right: nav area -->
    <section class="pull-right">

        <!-- fullscreen button -->
        <div id="fullscreen" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt" style="color:cornflowerblue"></i></a> </span>
        </div>
        <!-- end fullscreen button -->
        <!-- #MOBILE -->
        <!-- Top menu profile link : this shows only when top menu is active -->
        <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
            <li class="">
                <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                    <img src="~/img/avatars/sunny.png" alt="John Doe" class="online" />
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#ajax/profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="login.html" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right">
            <span>
                <a href="javascript:document.getElementById('logoutForm').submit()" title="Sign Out"
                   data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out" style="color:orangered"></i></a>
            </span>
        </div>
        <!-- multiple lang dropdown : find all flags in the flags page -->
        @*<ul class="header-dropdown-list hidden-xs">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">  <span> Branch </span> <i class="fa fa-angle-down"></i> </a>
                <ul class="dropdown-menu pull-right">
                    <li class="active">
                        <a href="javascript:void(0);"> English (US)</a>
                    </li>
                </ul>
            </li>
        </ul>*@
        </section>
        <section class="pull-right btn-header transparent" style="margin-top:10px">
            <label class="select">
                <select class="input-sm" id="BrandId">
                    <option value="0" selected>Choose Branch</option>
                </select> <i></i>
            </label>
        </section>
        <section class="pull-right btn-header transparent" >
            <div class="btn-group ">
                <a class="btn  bg-color-blueDark txt-color-white btn-black dropdown-toggle" data-toggle="dropdown">
                    Reports 
                </a>
                <a class="btn bg-color-blueDark txt-color-white btn-black  dropdown-toggle" data-toggle="dropdown" style="padding-top:10px!important">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("ProductSearch","Product")">Product Report</a>
                    </li>
                    <li>
                        <a href="@Url.Action("PurcheaseReport","Purchease")">Purchease Report</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SalseReport","Sales")">Sales Report</a>
                    </li>
                    <li>
                        <a href="@Url.Action("StockReportAction","Stock")">Stock Report</a>
                    </li>
                    <li>
                        <a href="@Url.Action("StockTransferReport","Stock")">Stock Transfer Report</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Daily Account Report</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Week Account Report</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Month Account Report</a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- end multiple lang -->
        <!-- end logout button -->
        <!-- search mobile button (this is hidden till mobile view port) -->
        @*<div id="search-mobile" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
        </div>*@
        <!-- end search mobile button -->
        <!-- #SEARCH -->
        <!-- input: search field -->
        @*<form action="#ajax/search.html" class="header-search pull-right">
            <input id="search-fld" type="text" name="param" placeholder="Find reports and more">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
            <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
        </form>*@
        <!-- end input: search field -->
        <!-- fullscreen button -->
        @*<div id="fullscreen" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
        </div>*@
        <!-- end fullscreen button -->


    </div>
    <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->


