﻿<style>
    .col-centered {
        float: none;
        margin: 0 auto;
    }
</style>
<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    <h1 class="txt-color-red login-header-big col-centered"><img  src="~/img/logo-dark.png"  style="width: 340px;" /></h1>
    <div class="hero">
        <div class="pull-left login-desc-box-l">

            <img src="~/img/logPage.jpg" class="thumbnail" height="350"/>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">About Projukti ERP - Are you up to date?</h5>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Not just your average template!</h5>
            <p>
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
            </p>
        </div>
    </div>

</div>
