﻿ <!-- #NAVIGATION -->
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS/SASS variables -->
<aside id="left-panel">

    <!-- User info -->
    <div class="login-info">
        <span>
            <!-- User image size is adjusted inside CSS, it should stay as is -->

            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <img src="~/img/avatars/male.png" alt="me" class="online" />
                <span>
                    @User.Identity.Name.ToString();
                </span>
                <i class="fa fa-angle-down"></i>
            </a>
        </span>
    </div>
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!--
    NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->
        @*@Html.Action("GetMenu", "Home")*@
        <ul>
            <li class="">
                <a href="@Url.Action("Index","Home")" title="Dashboard"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">Dashboard</span></a>
            </li>

            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Set Up</span></a>
                <ul>
                    <li>
                        <a href="@Url.Action("Branch","MasterSetUp")">Branch</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Color","MasterSetUp")">Color</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Size","MasterSetUp")">Size</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Brand","MasterSetUp")">Brand</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Category","MasterSetUp")">Category</a>
                    </li>
                    <li>
                        <a href="@Url.Action("UOM","MasterSetUp")">UOM</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SubCategory","MasterSetUp")">SubCategory</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Customer","MasterSetUp")">Customer</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Supplier","MasterSetUp")">Supplier</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Event_Discount","MasterSetUp")">Event/Offer</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa fa-dropbox"></i> <span class="menu-item-parent">Product</span></a>
                <ul>
                    <li>
                        <a href="@Url.Action("ProductAdd","Product")">Product Add</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Productlist","Product")">Product List</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ProductSaveExcel","Product")">Bulk Product Upload</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ProductSearch","Product")">Product Report</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-shopping-cart"></i> <span class="menu-item-parent">Purchease</span></a>
                <ul>
                    <li>
                        <a href="@Url.Action("PurcheasePOS","Purchease")">Stock In</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Purcheaselist","Purchease")">Purchease List</a>
                    </li>
                    <li>
                        <a href="@Url.Action("PurcheaseReturn","Purchease")">Purchease Return</a>
                    </li>
                    <li>
                        <a href="@Url.Action("PurcheaseReturnList","Purchease")">Purchease Return List</a>
                    </li>
                    <li>
                        <a href="@Url.Action("PurcheaseReport","Purchease")">Purchease Report</a>
                    </li>


                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-shopping-bag"></i> <span class="menu-item-parent">Sales Invoice</span></a>
                <ul>
                    <li>
                        <a href="@Url.Action("SalesList","Sales")">Invoice List</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SalesPOS","Sales")">SalesPOS</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SalesReturn","Sales")">Sales Return</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SalesReturnList","Sales")">Sales Return List</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SalseReport","Sales")">Sales Report</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-line-chart"></i> <span class="menu-item-parent">Stock</span></a>
                <ul>
                    <li>
                        <a href="@Url.Action("StockList","Stock")">Stock List</a>
                    </li>
                    <li>
                        <a href="@Url.Action("StockReportAction","Stock")">Stock Report</a>
                    </li>
                    <li>
                        <a href="@Url.Action("StockTransfer","Stock")">Stock Transfer</a>
                    </li>
                    <li>
                        <a href="@Url.Action("StockTransferReport","Stock")">Stock Transfer Report</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-money"></i> <span class="menu-item-parent">Accounts</span></a>
                <ul>
                    <li>
                        <a href="@Url.Action("AccountRecive","Accounting")">Account Reciveable</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AccountPayable","Accounting")">Account Payable</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AccountCreate","Accounting")">Account Create</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AccountPayment","Accounting")">Payment</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AccountReceipt","Accounting")">Receipt</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AccountManagement","Accounting")">Management</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AccountRecivePayment","Accounting")">Account Receive Payment</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">User Management</span></a>
                <ul>
                    <li>
                        <a href="@Url.Action("RolesList","Account")">Roles</a>
                    </li>
                    <li>
                        <a href="@Url.Action("UserCreate","Account")">User</a>
                    </li>

                </ul>
            </li>
            <li class="">
                <a href="@Url.Action("Organization","MasterSetUp")" title="Dashboard"><i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">Business Profile</span></a>
            </li>
            @*<li>*@
            @*<a href="#"><i class="fa fa-lg fa-fw fa-wrench"></i> <span class="menu-item-parent">Stock</span></a>
            <ul>
                <li>
                    <a href="@Url.Action("Setting","MasterSetUp")">Setting</a>
                </li>
                x
            </ul>
        </li>*@
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>
</aside>
<!-- END NAVIGATION -->