﻿   <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
<script data-pace-options='{ "restartOnRequestAfter": true }' src="~/js/plugin/pace/pace.min.js"></script>

<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/js/libs/jquery-2.1.1.min.js"></script>
<script src="~/js/libs/jquery-ui-1.10.3.min.js"></script>
<script>
    if (!window.jQuery) {
        document.write('<script src="js/libs/jquery-2.1.1.min.js"><\/script>');
    }
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
    if (!window.jQuery.ui) {
        document.write('<script src="~/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
    }
</script>
<!-- JQUERY SELECT2 INPUT -->
<script src="~/js/plugin/select2/select2.min.js"></script>

<script src="~/Scripts/toastr.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/js/libs/SweetAlert.min.js"></script>
<script src="~/js/plugin/bootstrap-sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/angular-animate.js"></script>
<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
<script src="~/Scripts/angular-cookies.min.js"></script>
<link href="~/js/libs/angular-block-ui.css" rel="stylesheet" />
<script src="~/js/libs/angular-block-ui.js"></script>
<script src="~/app/mainApp/app.js"></script>

<script src="~/app/mainApp/AlertService.js"></script>
@*<script src="~/Scripts/dirPagination.js"></script>*@
<script src="~/app/mainApp/DTOService.js"></script>

<!-- IMPORTANT: APP CONFIG -->
<script src="~/js/app.config.js"></script>
<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
<script src="~/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="~/js/bootstrap/bootstrap.min.js"></script>

<!-- CUSTOM NOTIFICATION -->
<script src="~/js/notification/SmartNotification.min.js"></script>

<!-- JARVIS WIDGETS -->
<script src="~/js/smartwidgets/jarvis.widget.min.js"></script>

<!-- EASY PIE CHARTS -->
<script src="~/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

<!-- SPARKLINES -->
<script src="~/js/plugin/sparkline/jquery.sparkline.min.js"></script>

<!-- JQUERY VALIDATE -->
<script src="~/js/plugin/jquery-validate/jquery.validate.min.js"></script>

<!-- JQUERY MASKED INPUT -->
<script src="~/js/plugin/masked-input/jquery.maskedinput.min.js"></script>



<!-- JQUERY UI + Bootstrap Slider -->
<script src="~/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

<!-- browser msie issue fix -->
<script src="~/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

<!-- FastClick: For mobile devices -->
<script src="~/js/plugin/fastclick/fastclick.min.js"></script>
<!--[if IE 8]>

<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

<![endif]-->
<!-- Demo purpose only -->
<script src="~/js/demo.min.js"></script>

<!-- MAIN APP JS FILE -->
<script src="~/js/app.min.js"></script>

<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
<!-- Voice command : plugin -->
<script src="~/js/speech/voicecommand.min.js"></script>

<!-- SmartChat UI : plugin -->
<script src="~/js/smart-chat-ui/smart.chat.ui.min.js"></script>
<script src="~/js/smart-chat-ui/smart.chat.manager.min.js"></script>

<script src="~/js/plugin/highChartCore/highcharts-custom.min.js"></script>
<script src="~/js/plugin/highchartTable/jquery.highchartTable.min.js"></script>



<!--Bootstrap Sweet Alert cdna link-->
<!-- PAGE RELATED PLUGIN(S) -->
@*<script src="~/Scripts/toastr.js"></script>*@
<!-- Angular Pagination Js -->
@*<script src="~/Scripts/dirPagination.js"></script>*@
@{
    var action = ViewContext.RouteData.GetRequiredString("action");
    var controller = ViewContext.RouteData.GetRequiredString("controller");
}
<script type="text/javascript">
    $(document).ready(function () {
        
        var start = new Date;
        var $dOut = $('#date'),
            $hOut = $('#hours'),
            $mOut = $('#minutes'),
            $sOut = $('#seconds'),
            $ampmOut = $('#ampm');
        var months = [
            'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'
        ];

        var days = [
            'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'
        ];
        function update() {
            var date = new Date();

            var ampm = date.getHours() < 12
                ? 'AM'
                : 'PM';

            var hours = date.getHours() == 0
                ? 12
                : date.getHours() > 12
                    ? date.getHours() - 12
                    : date.getHours();

            var minutes = date.getMinutes() < 10
                ? '0' + date.getMinutes()
                : date.getMinutes();

            var seconds = date.getSeconds() < 10
                ? '0' + date.getSeconds()
                : date.getSeconds();

            var dayOfWeek = days[date.getDay()];
            var month = months[date.getMonth()];
            var day = date.getDate();
            var year = date.getFullYear();

            var dateString = dayOfWeek + ', ' + month + ' ' + day + ', ' + year;

            $dOut.text(dateString);
            $hOut.text(" : " + hours);
            $mOut.text(" : " + minutes);
            $sOut.text(" : " + seconds);
            $ampmOut.text(" : " + ampm);
            $('.time').text($dOut + $hOut + $mOut + $sOut + $ampmOut);
        }
        update();
        window.setInterval(update, 1000);
    })
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    $(document).ready(function () {
        $('input[required],select:input[required]').css("border-left", "3px solid red");
        pageSetUp();
        var path = window.location.pathname;
        $("nav li a").each(function (key, value) {
            var url = $(this).attr('href');
            if (url == path) {
                $(this).parent('li').addClass('active open');
                $(this).parent('li').parent('li').addClass('open');
                $(this).parent('li Open a').click();
                $(this).parent().parent().parent().addClass('open')
                $(this).closest('li').addClass('active');
                $('li.open').children('a').click();
            }
        })

        $('table.highchart').highchartTable();
    })
    var url = window.location.origin + '/Branch/GetAllBranchs';
    var url1 = window.location.origin + '/Organization/GetName';

    var BrandId = $('#BrandId');
    if (localStorage.getItem("BrandId") != null) {
        var bra = localStorage.getItem("BrandId");
        $('#BrandId').val(parseInt(bra));
    }
    $.ajax({
        type: 'GET',
        url: url,
        dataType: 'json',
        success: function (data) {
            $.each(data.results, function (index, val) {
                if (val.Id == bra) {
                    BrandId.append('<option value=' + val.Id + ' selected>' + val.BranchName + '</option>')
                }
                else {
                    BrandId.append('<option value=' + val.Id + '>' + val.BranchName + '</option>')
                }
            });
        }
    });
    $.ajax({
        type: 'GET',
        url: url1,
        dataType: 'json',
        success: function (data) {
            $(".orgname").text(data.results);
        }
    });
    BrandId.change(function () {
        localStorage.setItem("BrandId", BrandId.val());
    })
    $(document).ready(function () {
        
    });
</script>
<script src="~/Scripts/dirPagination.js"></script>
<script src="~/Scripts/jwerty.js"></script>
